//协议文本
#licensetext {text-align: left}
#licensetext LI {margin: 0px 0px 0px 0px}
.licensebg{background: #8493a4;text-align: center;padding: 0px; margin: 0 0 0 0px;}

.loginbg {background: #8493a4;text-align: center;padding: 0px; margin: 90 0 0 0px;font-family: Calibri, Arial, Helvetica, sans-serif;}
#container{margin: 0px auto; width: 639px; text-align: left;padding: 0px;}
UL {padding: 0px; margin: 0px; }
UL {list-style-type: none}
LI {padding: 0px; margin: 0px;}
LI {list-style-type: none}
A:link {color: #336699; text-decoration: none}
A:visited {color: #336699; text-decoration: none}
A:hover {color: #336699; text-decoration: none}
DIV {padding: 0px; margin: 0px;}