/**
* Description: Base style 
**/
/*RESET
-------------------------------------------------------------- */
html {
    color: #252525;
    background: #FFF;
}
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td,br {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
address, caption, cite, code, dfn,
em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
input, button, textarea,
select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
    *font-size: 100%;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, {
    /*text-align: left;*/
}
sup, sub {
    font-size: 100%;
    vertical-align: baseline;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a:link, a:visited {
    text-decoration: none;
}
a{color:#999;outline: none;}
a:hover{color:#c91d20;text-decoration: underline;}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;} 
/* End hide from IE-mac */
.fl { float: left; display: inline }
.fr { float: right; display: inline }
.none {display:none;}
/*LAYOUT

------------------------------------------------------------- */
body{font-size:12px;line-height:1.8em;font-family:Calibri,"ו",sans-serif;}
.w960{width:960px;}
.w565{width:565px;}
.w360{width:360px;}
.w310{width:310px;}
.w306{width:306px;}
.w280{width:280px;}
.h54{height:54px;}
.h65{height:65px;}
.fc_red{color:#E25856;}
.fc_blue{color:#0c649a;}
.fc_grey{color:#999;}
.fc_green{color:#94b86e;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs20{font-size:20px;}
.fb{font-weight:bold;}
.mc{margin:0 auto;}
.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mb0{margin-bottom:0px;}
.mb10{margin-bottom:10px;}
.mr0{margin-right:0px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.ml10{margin-left:10px;}
.blank5{clear: both;display: block;height: 5px;overflow: hidden;} 
.blank10 {clear: both;display: block;height: 10px;overflow: hidden;}
.blank15 {clear: both;display: block;height: 15px;overflow: hidden;}
.blank20 {clear: both;display: block;height: 20px;overflow: hidden;}
.blank50 {clear: both;display: block;height: 50px;overflow: hidden;}
.line_solid {border-top: 1px solid #d7d7d7;font-size: 1px;height: 1px;line-height: 1px;clear: both;display: block;}
.line_dotted {border-top: 1px dotted #d7d7d7;font-size: 1px;height: 1px;line-height: 1px;clear: both;display: block;}
.line_solid6{border-top: 6px solid #eaeaea;font-size:1px;height:6px;line-height:6px;clear:both;display:block;}
.line_solid4{border-top: 4px solid #02225b;font-size:1px;height:4px;line-height:4px;clear:both;display:block;}
.ls6_black{border-top: 6px solid #000;font-size:1px;height:6px;line-height:6px;clear:both;display:block;}