<LINK href="CSS/Base.css" rel=stylesheet>
<LINK href="CSS/LoginBox.css" rel=stylesheet>
<style>
	#loginTitle {font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ºÚÌå";font-size: 26px; color: #0CF;}
</style>

<table width=100% cellpadding="0" cellspacing="0"><tr><td align=center>
<div id="menu-div" class="menu-div" style="display:block;text-align:center;padding-top:15px">
<div id="loginForm">
    <form name="AJAXLoginForm" id="AJAXLoginForm" action="" method="post">
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
     <tr><td colspan=2 id="loginTitle"><b>Login in&nbsp;<img src="Images/info.gif" border=0></b></td></tr>
	 <tr><td colspan=2 height=5></td></tr>
     <tr><td></td>
	    <td>To view the survey and submit your answer,you must login first!<br/><br/>
		    Please follow the steps shown below:<br>
			<img src="Images/point.gif">&nbsp;
	         <a href="{loginURL}" target="_blank"><b>Member login</b></a>
		</td>
	</tr>
	 <tr><td colspan=2 height=5></td></tr>
     <tr><td></td>
         <td>After login, click <br/>
	        <img src="Images/point.gif">&nbsp;
	        <a href="javascript:document.execCommand('Refresh');"><b>reload page</b></a><br/>
	     </td>
     </tr>
	 <tr><td colspan=2 height=5></td></tr>
     <tr><td></td>
         <td>Need a member account? Please click<br/>
		     <img src="Images/point.gif">&nbsp;
	         <a href="{regURL}" target="_blank"><b>Registration</b></a>
	     </td>
      </tr>
    </table></form>
</div>
</div>
</td></tr></table>
