<meta http-equiv=content-language content=zh-cn>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
     
<table width="650" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;">
     <tr>
       <td align="left" style="padding: 0px 20px 10px 20px;">
	     <p style="color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 5px 0 0 0;"><b>Dear {userName},</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">Thanks for your attention with us, but until now we have not got the reply with your opinion for the survey, <font color=red>{surveyTitle}</font>, the summary for this survey is shown below:</p>                    
                   
		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>Title</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">{surveyTitle}</p>        

		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>SubTitle</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">{surveySubTitle}</p>    

		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>About</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">{surveyInfo}</p>                    
				
		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>URL && Click</b></p>
         <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;"><a href={surveyURL}&userEmail={userEmail} target=_blank style="text-decoration: underline">{surveyURL}&userEmail={userEmail}</a></p>

		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>Thanks a lot</b></p>
         <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">You can follow the link  for the survey, and reply your answer.</p>

</td></tr></table>

<table width="650" height="40" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff; border-bottom: 5px solid #ffffff;">
   <tr>
     <td style="background-color: #ffffff;" width="10">&nbsp;</td>
     <td align="center" style="background-color: #0053a0; color: #ffffff;" valign="middle"><p><span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 10px 0 10px 0;">{siteName}  {mail_date}</span></p></td>
     <td style="background-color: #ffffff;" width="10">&nbsp;</td>
   </tr>
</table>
