{dateIncludeFile}
<script type="text/javascript" src="JS/CheckAutoMultiText.en.php"></script>
<tr><td height=25 class="question" valign=center>&nbsp;<span class="textEdit" id="questionName_{questionID}">{questionName}</span>&nbsp;<span class=notes>{questionNotes}</span></td></tr>
<tr><td class="tips"><span class="textEdit" id="questionNotes_{questionID}">{questionTips}</span></td></tr>
<tr><td>
  <table cellSpacing=0 cellPadding=0 id="qtn_table_{questionID}">
    <tr style="display:none" id="multitext_{baseID}_{questionID}_text" height=30 class=tdheight>
	    <td>&nbsp;</td>
	    <td width=8></td>
		<!-- BEGIN ANSWER -->
		<td class="answer" align="center" nowrap><span class="textEdit" id="optionLabel_29_{questionID}_{optionLabelID}">{optionLabelName}</span>&nbsp;{questionRequire}</td>
		<td width=10></td>
		<!-- END ANSWER -->
	</tr>	
    <!-- BEGIN OPTION -->
    <tr style="display:none" id="multitext_{baseID}_{questionID}_{optionNameID}" height=30 class=tdheight>
		<td class="answer tdheight" nowrap>&nbsp;&nbsp;{optionName}</td>
	    <td width=8></td>
		<!-- BEGIN SUBOPTION -->
		<td class="answer" align="center" nowrap id="multitextcheck_{baseID}_{questionID}_{optionNameID}_{optionValue}"><input class="answer" type="{inputPrompt}" name="{optionID}" id="{optionID}" size="{length}" value="{value}" {dateTextAction}></td>
		<td width=10></td>
		<!-- END SUBOPTION -->
    </tr>
	<!-- END OPTION -->
  </table>
</td></tr>