<tr><td height=25 class="question" valign=center>&nbsp;{questionRequire}<span class="textEdit" id="questionName_{questionID}">{questionName}</span>&nbsp;<span class=notes>{questionNotes}</span></td></tr>
<tr><td class="tips"><span class="textEdit" id="questionNotes_{questionID}">{questionTips}</span></td></tr>
<tr><td>
  <table cellSpacing=0 cellPadding=0 id="qtn_table_{questionID}">
    <tr height=30 class=tdheight><td>&nbsp;</td>
		<!-- BEGIN ANSWER -->
		<td class="answer" align="center"><span class="textEdit" id="optionLabel_26_{questionID}_{optionLabelID}">{optionLabelName}</span></td>
		<!-- END ANSWER -->
	</tr>	
    <!-- BEGIN OPTION -->
    <tr height=30>
		<td class="answer">&nbsp;&nbsp;<span class="textEdit" id="optionName_26_{questionID}_{optionNameID}">{optionName}</span></td>
		<!-- BEGIN SUBOPTION -->
		<td class="answer" align="left">{optionList}</td>
		<!-- END SUBOPTION -->
   </tr>
	<!-- END OPTION -->
  </table>
</td></tr>