<script type="text/javascript" src="JS/CheckCond.js.php"></script>
<tr><td height=25 class="question" valign=center>&nbsp;{questionRequire}<span class="textEdit" id="questionName_{questionID}">{questionName}</span>&nbsp;<span class=notes>{questionNotes}</span></td></tr>
<tr><td class="tips"><span class="textEdit" id="questionNotes_{questionID}">{questionTips}</span></td></tr>
<tr rel="eqprint"><td>
	  <table cellSpacing=0 cellPadding=0 width="98%"><tr><td class="answer">{optionSelect}</td></tr></table>
</td></tr>