<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Get Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<link rel="stylesheet" type="text/css" href="CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="CSS/Index.css" />
<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="CSS/Notification.css" />
<script language=javascript src="JS/CheckQuestion.en.php"></script>
<script language=javascript>
function CheckEmailValid()
{
    var ValueRtn = true;
    if (!CheckNotNull(document.GetPassForm.administratorsName, "Username")) {ValueRtn = false;}
	if (!CheckEmail(document.GetPassForm.administratorsName,"Username")) {ValueRtn = false;}
	return ValueRtn;
}

function Check_Form_Validator()
{
	if (!CheckEmailValid()) {return false;}
	if (!CheckNotNull(document.GetPassForm.answerPass,"The answers of the security questions")) {return false;}
}
</script>
<style>
	input[type=text],input[type=password] {border:1px solid #cacaca;height:18px;font-family: Calibri,"宋体",sans-serif;line-height:18px;vertical-align: middle;}
	textarea {border:1px solid #cacaca;font-family: Calibri,"宋体",sans-serif;line-height:18px;}
	select {border:1px solid #cacaca;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;height:20px;line-height:20px}
    .d_table tr:hover{background-color:transparent}
	.nav a {width:80px}
	.inputsubmit{line-height:10px}
</style>
</head>
<body>

	<div class="container clearfix">
	   <div class="main">
		    <div class="nav">
				<a href="r.php?qlang={qlang}&qid={qid}">Registration</a>
				<a href="g.php?qlang={qlang}&qid={qid}" class="cur">Get Password</a>
			</div>			
			<div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>Get Your's Password</h1>
				<span class="total ml10"></span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">Get Your's Password</p>
			</div>
			<div class="content_main" style="margin-top:10px">
				<form id=GetPassForm name=GetPassForm action="" method=post onsubmit="return Check_Form_Validator()">
				<table class="d_table">
					  <tr>
						 <td width=13%><SPAN class=red>*</SPAN> Username:</td>
						 <td width=87%><input id=administratorsName name=administratorsName type="text" size=35></td>
					  </tr>
					  <tr>
					     <td><SPAN class=red>*</SPAN> Security questions:</td>
					     <td><SELECT id=hintPass name=hintPass> 
							<option value=1 selected>What's the pet's name do you like best?</option> 
							<option value=2>What's the name of the film do you like best?</option> 
							<option value=3>What's the name of the song do you like best?</option> 
							<option value=4>What's your darling's name?</option> 
							<option value=5>What's your father's name?</option>
							<option value=6>What's the name of your first hign school? </option> 
							<option value=7>What's the pet name of your first child?</option> 
							<option value=8>What's the brand of your first mobile telephone?</option> 
							<option value=9>What's the item of sports do you like best?</option> 
							<option value=10>What's the team of sports do you like best?</option>
							<option value=11>What's the number of your ID card?</option>
							<option value=12>What's the number of your passport?</option>
							<option value=13>What's the number of your driving licence?</option>
							<option value=14>What's the number of your employee's card?</option>
							<option value=15>What's the date of taking part in a work?</option>
							<option value=16>What's the date of your birthday?</option>
						</SELECT>
					  </td></tr>
					  <tr>
						   <td><SPAN class=red>*</SPAN> The answers:</td>
						   <td><input type="text" id=answerPass tabIndex=8 name=answerPass></td></tr>
					 </table>
					 <table width=99% style="border:0px">
						<tr><td style="border:0px">
							 <input name="Action" type="hidden" id="Action" value="GetPasswordSubmit">
							 <input type="hidden" name="qid" id="qid" value="{qid}">
							 <input class=inputsubmit type=submit value="Submit">
							 <input class=inputsubmit type=reset value="Reset"></td></tr>
			         </table>
			  </form>
			 </div>
		   </div>
	   </div>
    </div>
</body>
</html>
