<HTML>
<HEAD>
	<TITLE>{siteName} - Get Password</TITLE>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
	<script type="text/javascript" src="JS/Jquery.android.js.php"></script>
	<script language=javascript src="JS/CheckQuestion.en.php"></script>
	<LINK href="CSS/Android.css" type=text/css rel=stylesheet>
<style>
	@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
	@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
	@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}
</style>
	<SCRIPT type=text/javascript>
		rexseeSpecialKey.enableBackKeyListener(false);
		rexseeMenu.setOptionsMenuId("mainOptionsMenu1");
		function CheckEmailValid()
		{
			var ValueRtn = true;
			if (!CheckNotNull(document.GetPassForm.administratorsName, "Username")) {ValueRtn = false;}
			if (!CheckEmail(document.GetPassForm.administratorsName,"Username")) {ValueRtn = false;}
			return ValueRtn;
		}

		function Check_Form_Validator()
		{
			if (!CheckEmailValid()) {return false;}
			if (!CheckNotNull(document.GetPassForm.answerPass,"The answers of the security questions")) {return false;}
		}
	</SCRIPT>
	<STYLE>
		td {padding:2px 5px 2px 5px;height:34px;font-size:12px}
		input,select {font-size:12px}
	</STYLE>
</HEAD>

<body background="#e5e5e5">
<div style="padding:3px;font-weight:bold;background: -webkit-gradient(linear, left top, right bottom, from(#6A0500), to(#a80900));color:#fff;font-size:18px;">
 <table width=100%>
   <tr><td style="padding:0px"><a href="javascript:rexseeBrowser.goBack();"><img src="Images/back.png" border=0></a></td>
   <td align=center width=* style="color:#fff;font-size:18px;padding:0px;height:23px;">Get Password</td>
   <td style="padding:0px">&nbsp;</td></tr>
 </table>
</div>

<div id="notestext" style="background:#ddd;border-bottom:#ccc 1px solid;font-size:12px;height:20px;padding:5px 0px 5px 0px;">&nbsp;&nbsp;Get your password again.</div>
<div style="background:#e5e5e5;">
    <form id=GetPassForm name=GetPassForm action="" method=post onsubmit="return Check_Form_Validator()">
	<table style="LINE-HEIGHT: 150%;border-collapse:collapse;border-top:0px" cellSpacing=0 cellPadding=0 width="100%" borderColor=#ccc border=1>
		  <tr>
			 <td align=right colspan=2 style="font-size:12px;border-top:0px">Note that all fields marked with an asterisk(<SPAN class=red>*</span>)are required.</td></tr>
		  <tr> 
			 <td width="30%" valign=center><SPAN class=red>*</SPAN> Username</td>
			 <td width="70%"><input id=administratorsName name=administratorsName type="text" size=30></td>
		  </tr>
		  <tr> 
			   <td height="25" valign=center><SPAN class=red>*</SPAN> Security item</td>
			   <td align=left><SELECT id=hintPass name=hintPass style="width:240px"> 
					<option value=1 selected>What's the pet's name do you like best?</option> 
					<option value=2>What's the name of the film do you like best?</option> 
					<option value=3>What's the name of the song do you like best?</option> 
					<option value=4>What's your darling's name?</option> 
					<option value=5>What's your father's name?</option>
					<option value=6>What's the name of your first hign school? </option> 
					<option value=7>What's the pet name of your first child?</option> 
					<option value=8>What's the brand of your first mobile telephone?</option> 
					<option value=9>What's the item of sports do you like best?</option> 
					<option value=10>What's the team of sports do you like best?</option>
					<option value=11>What's the number of your ID card?</option>
					<option value=12>What's the number of your passport?</option>
					<option value=13>What's the number of your driving licence?</option>
					<option value=14>What's the number of your employee's card?</option>
					<option value=15>What's the date of taking part in a work?</option>
					<option value=16>What's the date of your birthday?</option>
				</SELECT>
			  </td></tr>
		   <tr> 
			   <td><SPAN class=red>*</SPAN> The answers</td>
			   <td><input type="text" id=answerPass name=answerPass></td>
		   </tr>
		  </table><table width=100% style="border:0px">
		  <tr><td style="border:0px"> 
			  <input name="Action" type="hidden" id="Action" value="GetPasswordSubmit">
			  <input class=btn type="submit" name="submit" value="Submit">
			  <input class=btn name="submit2" type="reset" value=" Reset "> 
		      <input type="hidden" name="qid" id="qid" value="{qid}">
			  <input class=btn name="submit3" type="button" onclick="javascript:rexseeBrowser.goBack();" value=" Back "> 
			</td>
		  </tr>
	  </form>
	 </table>				
<script>scroll(0, 0);</script>
</body>
</html>
