<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
{dateIncludeFile}
<tr><td height=25 class="question" valign=center>&nbsp;{questionRequire}<span class="textEdit" id="questionName_{questionID}">{questionName}</span>&nbsp;<span class=notes>{questionNotes}</span></td></tr>
<tr><td class="tips"><span class="textEdit" id="questionNotes_{questionID}">{questionTips}</span></td></tr>
<tr><td>
	  <table cellSpacing=0 cellPadding=0>
       <!-- BEGIN OPTION -->
	   {optionList}
	   <!-- END OPTION -->
	   <!--DELETE_OTHER_RADIO_BEGIN-->
	   <tr style="display:{isHaveOther}"><td class="answer"><input onclick="Check_Survey_Conditions()" type="radio" value="0" name="{optionID}" id="{optionID}" {isCheck0}><span class="textEdit" id="optionName_2_{questionID}_0">{otherText}</span>：<input name="TextOtherValue_{questionID}" type="text" size="{length}" id="TextOtherValue_{questionID}" value="{value}" onblur="Check_Survey_Conditions();" {dateTextAction}>&nbsp;{unitText}&nbsp;</td></tr>
	   <!--DELETE_OTHER_RADIO_END-->
	  </table>
</td></tr>
<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
