<tr><td height=25 class="question" valign=center>&nbsp;{questionRequire}<span class="textEdit" id="questionName_{questionID}">{questionName}</span>&nbsp;<span class=notes>{questionNotes}</span></td></tr>
<tr><td class="tips"><span class="textEdit" id="questionNotes_{questionID}">{questionTips}</span></td></tr>
<tr><td>
	  <table cellSpacing=0 cellPadding=0>
        <!-- BEGIN OPTION -->
	   <tr><td class="answer"><input type="radio" value="{optionValue}"  name="{optionID}" id="{optionID}">{optionName}</td>
	   </tr>
	    <!-- END OPTION -->
	   </table>
</td></tr>