<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
<table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" valign="top">
   <tr><td height=25 colspan=5 bgcolor="#ffcc00">&nbsp;{questionName}</td></tr>
   <!-- BEGIN RADIO -->
   <tr>
   <td style="font-weight:bold;font-size:14px;color:#ff0000;text-align:center;background-color:#fddeaf;height:25px;">{optionOrderNo}</td>
   <td style="font-size:14px;text-align:center;">{optionName}</td>
   <td style="font-size:14px;color:#0000ff;text-align:center;">{optionNum}</td>
   <td style="font-weight:bold;font-size:14px;color:#ff0000;text-align:left;">{optionPercent}%</td>
   <td width=100><IMG height=10 src="Images/bar.gif" width="{optionPercent}%"></td>
   </tr>
   <!-- END RADIO -->
</table>
<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
