<link rel="stylesheet" type="text/css" href="CSS/Print.css"/>
<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
<div id="content-wrap">
<div id="content-cont">
<div class="featurebox">
<H4>&nbsp;{surveyTitle}</H4>
<H2>&nbsp;{surveySubTitle}</H2>
<H5>{surveyInfo}</H5>
<table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%">
 <tr><td height=5 class="surveyclear">&nbsp;</td></tr>
 <tr><td class="surveybegin">
 <!-- BEGIN QUESTION -->
 <table width="100%" id="question_{questionID}">
 {questionList}
  <tr><td height=5 class="surveyclear">&nbsp;</td></tr>
  </table>
 <!-- END QUESTION -->
  </td></tr>
  <tr><td height=5></td></tr>
  <tr align="center"><td>&nbsp;</td></tr>
</table>
</div></div></div>
<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
