<LINK href="CSS/Base.css" rel=stylesheet>
<LINK href="CSS/LoginBox.css" rel=stylesheet>
<style>
	#loginTitle {font-family: "Microsoft YaHei","微软雅黑","黑体";font-size: 26px; color: #0CF;}
</style>

<table width=100% cellpadding="0" cellspacing="0"><tr><td align=center>
<div id="menu-div" class="menu-div" style="display:block;text-align:center;padding-top:15px">
<div id="loginForm">
    <form name="AJAXLoginForm" id="AJAXLoginForm" action="" method="post">
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
     <tr><td colspan=2 id="loginTitle"><b>关于会员登录&nbsp;<img src="Images/info.gif" border=0></b></td></tr>
	 <tr><td colspan=2 height=5></td></tr>
     <tr><td></td>
	    <td>本调查问卷需要用户登陆后方能显示问卷或提交回复<br/><br/>
		    请先按照下述提示进行操作：<br>
			<img src="Images/point.gif">&nbsp;
	         <a href="{loginURL}" target="_blank"><b>会员登陆</b></a>
		</td>
	</tr>
	 <tr><td colspan=2 height=5></td></tr>
     <tr><td></td>
         <td>登陆后，请点击<br/>
	        <img src="Images/point.gif">&nbsp;
	        <a href="javascript:document.execCommand('Refresh');"><b>刷新本页面</b></a><br/>
	     </td>
     </tr>
	 <tr><td colspan=2 height=5></td></tr>
     <tr><td></td>
         <td>需要注册一个会员身份？请点击<br/>
		     <img src="Images/point.gif">&nbsp;
	         <a href="{regURL}" target="_blank"><b>会员注册</b></a>
	     </td>
      </tr>
    </table></form>
</div>
</div>
</td></tr></table>
