<html>
<head>
<title>{ERROR_TITLE}</title>
<meta http-equiv=content-language content=zh-cn>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<style>
 body,td,p {
	line-height: 145%;
	font-family: "微软雅黑",Calibri;
	font-size: 14px;
}
#messtable {
    position: absolute;
	top:expression(Math.max(document.body.clientHeight/2-200,60));
	left:expression(Math.max(document.body.clientWidth/2-225,110));
}
</style>
</head>

<table id=messtable width="450" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr><td bgcolor="#336699">
    <table width="100%" border="0" cellspacing="2" cellpadding="5">
        <tr>
	      <td align="center" width=50><img src="{path}/error.gif"></td>
          <td height="100" bgcolor="#ffffff">
            <table width="100%" border="0" cellspacing="0" cellpadding="8">
              <tr>
                <td align="center"><p>{ERROR_CONTENT}</p><p><a href="javascript:close();">关闭</a></p></td>
              </tr>
          </table></td>
        </tr>
    </table>
</td></tr></table>
<script>
 var userAgent = navigator.userAgent.toLowerCase();
 var is_opera = userAgent.indexOf('opera') != -1 && opera.version();
 var is_moz = (navigator.product == 'Gecko') && userAgent.substr(userAgent.indexOf('firefox') + 8, 3);
 var is_ie = (userAgent.indexOf('msie') != -1 && !is_opera) && userAgent.substr(userAgent.indexOf('msie') + 5, 3);
 var is_mac = userAgent.indexOf('mac') != -1;
 if( is_opera || is_moz || is_mac || is_ie)
 {
    document.getElementById("messtable").style.top = Math.max(document.body.clientHeight/2-200,60);
    document.getElementById("messtable").style.left = Math.max(document.body.clientWidth/2-200,110);
 }

 function close()
 {
	parent.gId('menu-div').style.display = "none";
	parent.gId('submitbutton').disabled = false;
 }
</script>
</body>
</html>
