<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>管理推送消息 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script>
function referIframeSrc(theURL) {
   window.location.href = theURL;
}
function checkall(form) 
{
	if( form.all.checked)
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			e.checked = true;
		}
	}
	else
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			e.checked = false;
		}
    }
}
</script>
</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="sidebar_show"></div>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>

	<div class="container clearfix">
		<div class="sider_bar">
			<div class="sider_menu">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_1')">离线安卓访员App</a>
				<ul class="sider_menu_list" id="sider_menu_list_1">
					<li id="realGPS"><a href="../Android/BaiduDevicesMap.php" target=_blank>访员实时定位</a></li>
					<li><a href="../Offline/OfflineActionLog.php?type=1">访员操作日志</a></li>
					<li><a class="window-800-360" title="关于离线安卓访员App的说明" href="../Android/AboutAndroid.php">关于访员App</a></li>
				</ul>
			</div>
			<div class="sider_menu">
				<a class="sider_menu_title cur" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_2')">在线安卓样本App</a>
				<ul class="sider_menu_list" id="sider_menu_list_2">
					<li><a href="../Android/AndroidList.php">管理问卷发布</a></li>
					<li><a href="../Android/AndroidNotes.php?stat=1" class="sel">管理推送消息</a></li>
				</ul>
			</div>
			<div class="sider_menu">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_3')">分析安卓应用</a>
				<ul class="sider_menu_list" id="sider_menu_list_3">
					<li><a href="../Android/AndroidAnalytics.php">分析安卓应用</a></li>
				</ul>
			</div>
		</div>
		
		<div class="main">
		    <div class="nav">
			    <a href="../Android/AndroidNotes.php?stat=1">已推送消息</a>
				<a href="../Android/AndroidNotes.php?stat=0" class="cur">消息草稿箱</a>
			</div>		

		   <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>消息草稿箱</h1>
				<span class="total ml10">[{recNum}消息]</span>
				<span class="btn ml10"><input class=inputsubmit name="mailMgt" type="button" id="mailMgt" value="新建消息" onClick="javascript:showPopWin('{addURL}', 800, 460,null, null,'向安卓App推送消息');">&nbsp;</span>
				</div>
				<p class="fc_grey">列出保存为草稿的推送消息</p>
			</div>
			<div class="content_main" style="margin-top:10px">
				<form name="Check_Form" id="Check_Form" method="post" action="">
  				<table class="d_table">
					 <tr class=coltitle> 
					   <th width=3% noWrap align=left><input name="all" type="checkbox" id="all" value="all" onclick="checkall(this.form)" style="BACKGROUND-COLOR:#f9f9f9"></td>
					   <th align=left><b>消息主题</b></th>
					   <th align=left><b>推送时间</b></th>
					   <th align=left><b>发送人</b></th>
					   <th align=left><b>接受端</b></th>
					   <th align=center><b>操作</b></th>
					 </tr>

					 <!-- BEGIN LIST -->
					 <tr> 
						 <td width=3% noWrap align=left><input name="pushID[]" type="checkbox" id="pushID[]" value="{pushID}"></td>
						 <td width=*>{pushTitle}</td>
						 <td width="15%" nowrap>{pushTime}</td>
						 <td width="7%" nowrap>{sendName}</td>
						 <td width="9%" nowrap>{isCommon}</td>
						 <td align=center width="11%" nowrap><a href='javascript:void(0)' onClick="javascript:showPopWin('{viewURL}', 800, 460,null, null,'查看消息详细');">详细</a>&nbsp;<a href='javascript:void(0)' onClick="javascript:showPopWin('{sendURL}', 800, 460,null, null,'编辑消息内容');">编辑</a>&nbsp;<A href="{deleteURL}" onclick="return window.confirm('您真的想删除该消息记录吗？本操作不可恢复！')">删除</A></td>
					 </tr>
					 <!-- END LIST -->
				  </table>
				  <table width=99%>
					 <tr>
					 <td width=3% style="border:0px;"></td>
					 <td style="border:0px;"colspan=6><input class=inputsubmit name="DeleteSubmit" type="submit" id="DeleteSubmit" value="删除记录" onclick="return window.confirm('您真的想删除选择的消息记录吗？本操作不可恢复！')"></td></tr>
					 </table>
					 </form>
			 <div class="pages">{pagesList}</div>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
</body></html>