<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>来自安卓应用的信息统计分析 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="../JS/Loading.js.php"></script>

</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="sidebar_show"></div>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>

	<div class="container clearfix">
		<div class="sider_bar">
			<div class="sider_menu">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_1')">离线安卓访员App</a>
				<ul class="sider_menu_list" id="sider_menu_list_1">
					<li id="realGPS"><a href="../Android/BaiduDevicesMap.php" target=_blank>访员实时定位</a></li>
					<li><a href="../Offline/OfflineActionLog.php?type=1">访员操作日志</a></li>
					<li><a class="window-800-360" title="关于离线安卓访员App的说明" href="../Android/AboutAndroid.php">关于访员App</a></li>
				</ul>
			</div>
			<div class="sider_menu">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_2')">在线安卓样本App</a>
				<ul class="sider_menu_list" id="sider_menu_list_2">
					<li><a href="../Android/AndroidList.php">管理问卷发布</a></li>
					<li><a href="../Android/AndroidNotes.php?stat=1">管理推送消息</a></li>
				</ul>
			</div>
			<div class="sider_menu">
				<a class="sider_menu_title cur" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_3')">分析安卓应用</a>
				<ul class="sider_menu_list" id="sider_menu_list_3">
					<li><a href="../Android/AndroidAnalytics.php" class="sel">分析安卓应用</a></li>
				</ul>
			</div>
		</div>
		
		<div class="main">
		   <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>来自安卓应用的信息统计分析</h1>
				<span class="total ml10"></span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">利用来自安卓应用的回复数据，统计分析安卓终端、网络等基本信息</p>
			</div>
			<div class="content_main" style="margin-top:10px">
  			 <table class="d_table">
				  <tr class=coltitle><th colspan=2 align=left><span style="float:left"><b>基本信息</b></span><span style="float:right;font-size:12px;display:{isExport}">&nbsp;<IMG SRC="../Images/excel.gif">&nbsp;<a href="../Export/Export.android.inc.php">导出至Excel</span></th></tr>
				   <tr><td nowrap width=20%>&nbsp;来自安卓应用的样本数(N)</td>
					   <td width=80%>&nbsp;<b>{totalResponseNum}</b></td>
				   </tr>
			 </table>

			 <table class="d_table" style="margin-top:5px">
				   <tr class=coltitle><th colspan=3 align=left><b>通过安卓应用获取回复的调查问卷 (Top 20)</b></th></tr>
				   <tr bgcolor="#ffffff"><td nowrap width=*>&nbsp;<b>调查问卷</b></td>
					   <td nowrap width=10%>&nbsp;<b>数量</b></td>
					   <td width=10%>&nbsp;<b>比率</b></td>
				   </tr>
				   <!-- BEGIN LIST0 -->
				   <tr><td>&nbsp;{surveyTitle}</td>
					   <td>&nbsp;{list0Num}</td>
					   <td>&nbsp;{list0Rate}%</td>
				   </tr>
				   <!-- END LIST0 -->
			</table>

			 <table class="d_table" style="margin-top:5px">
				   <tr class=coltitle><th colspan=3 align=left><b>安卓终端品牌 (Top 5)</b></th></tr>
				   <tr bgcolor="#ffffff"><td nowrap width=*>&nbsp;<b>品牌</b></td>
					   <td nowrap width=10%>&nbsp;<b>数量</b></td>
					   <td width=10%>&nbsp;<b>比率</b></td>
				   </tr>
				   <!-- BEGIN LIST1 -->
				   <tr><td>&nbsp;{brand}</td>
					   <td>&nbsp;{list1Num}</td>
					   <td>&nbsp;{list1Rate}%</td>
				   </tr>
				   <!-- END LIST1 -->
		   </table>

		   <table class="d_table" style="margin-top:5px">
				   <tr class=coltitle><th colspan=3 align=left><b>安卓终端型号 (Top 10)</b></th></tr>
				   <tr bgcolor="#ffffff"><td nowrap width=*>&nbsp;<b>产品型号</b></td>
					   <td nowrap width=10%>&nbsp;<b>数量</b></td>
					   <td width=10%>&nbsp;<b>比率</b></td>
				   </tr>
				   <!-- BEGIN LIST2 -->
				   <tr><td>&nbsp;{model}</td>
					   <td>&nbsp;{list2Num}</td>
					   <td>&nbsp;{list2Rate}%</td>
				   </tr>
				   <!-- END LIST2 -->
		   </table>

		   <table class="d_table" style="margin-top:5px;margin-bottom:15px">
				   <tr class=coltitle><th colspan=3 align=left><b>安卓终端所属网络的运营商名称 (Top 5)</b></th></tr>
				   <tr bgcolor="#ffffff"><td nowrap width=*>&nbsp;<b>运营商名称</b></td>
					   <td nowrap width=10%>&nbsp;<b>数量</b></td>
					   <td width=10%>&nbsp;<b>比率</b></td>
				   </tr>
				   <!-- BEGIN LIST3 -->
				   <tr><td>&nbsp;{simOperatorName}</td>
					   <td>&nbsp;{list3Num}</td>
					   <td>&nbsp;{list3Rate}%</td>
				   </tr>
				   <!-- END LIST3 -->
		   </table>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
	<script type="text/javascript">setTimeout("closeDialog()",400);</script>
</body></html>