<html>
<head>
<meta http-equiv=content-language content=zh-cn>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<style>
  td { padding:2px 5px 2px 5px;}
  select,img {vertical-align: middle;}
</style>
<link href="../CSS/Base.css" rel=stylesheet>
<LINK href="../CSS/Window.css" type=text/css rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script language=javascript src="../JS/Textarea.js.php"></script>
<script language=javascript src="../JS/HighLight.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="../CSS/Notification.css" />
<script language=javascript src="../JS/CheckQuestion.js.php"></script>
<script language=javascript src="../JS/CheckAlias.js.php"></script>
<script language=javascript src="../JS/TheEditor.js.php"></script>
<script language=javascript>
var editTextRange;
function Check_Form_Validator()
{
	if (!CheckNotNull(document.Check_Form.questionName, "题目文字")) {return false;}
	if (!CheckNotNull(document.Check_Form.baseID, "评分项目的来源")) {return false;}
	if( IsInCheckBox(document.Check_Form.isSelect,1) )  //开放回复
	{
		if (!CheckNotNull(document.Check_Form.startScale1, "开放评分回复最小值")) {return false;}
		if (!CheckNumber(document.Check_Form.startScale1, "开放评分回复最小值",0,1000)) {return false;}
		if (!CheckNotNull(document.Check_Form.endScale1, "开放评分回复最大值")) {return false;}
		if (!CheckNumber(document.Check_Form.endScale1, "开放评分回复最大值",1,1000)) {return false;}
		if (Number( document.Check_Form.endScale1.value ) <= Number(document.Check_Form.startScale1.value) )
		{
			document.Check_Form.endScale1.focus();
			$.notification('开放评分回复最小值必须小于最大值');
			return false;
		}

		var theBeginWeight = Number( document.Check_Form.startScale1.value );
		var theEndWeight = Number( document.Check_Form.endScale1.value );
		var theMaxOption = Number( document.Check_Form.maxOption.value );
		var theMaxSize = false;
		for( i=theBeginWeight;i<=theEndWeight;i++)
		{
			if( i == theMaxOption && theMaxSize == false)
			{
				theMaxSize = true;
			}
		}
		if ( document.Check_Form.isHaveOther.checked )
		{
			if (!CheckNotNull(document.Check_Form.maxOption, "需回复者说明理由的刻度")) {return false;}
			if (!CheckNumber(document.Check_Form.maxOption, "需回复者说明理由的刻度",1,10000)) {return false;}
			if ( theMaxSize == false )
			{
				document.Check_Form.maxOption.focus();
				$.notification('需回复者说明理由的刻度在开放评分回复区间内不存在');
				return false;
			}
		}
	}

	if( IsInCheckBox(document.Check_Form.isSelect,0) )  //刻度选择
	{
		if (!CheckNotNull(document.Check_Form.startScale, "评分刻度起始值")) {return false;}
		if (!CheckNumber(document.Check_Form.startScale, "评分刻度起始值",1,100)) {return false;}
		if (!CheckNotNull(document.Check_Form.endScale, "评分刻度结束值")) {return false;}
		if (!CheckNumber(document.Check_Form.endScale, "评分刻度结束值",1,100)) {return false;}
		if (Number( document.Check_Form.endScale.value ) <= Number(document.Check_Form.startScale.value) )
		{
			document.Check_Form.endScale.focus();
			$.notification('评分刻度起始值必须小于评分刻度结束值');
			return false;
		}
		if (Number( document.Check_Form.endScale.value ) - Number(document.Check_Form.startScale.value) > 10 )
		{
			document.Check_Form.endScale.focus();
			$.notification('最多允许设定10个评分刻度');
			return false;
		}
		if (!CheckNotNull(document.Check_Form.weight, "刻度上的加权")) {return false;}

		var theBeginWeight = Number( document.Check_Form.startScale.value );
		var theEndWeight = Number( document.Check_Form.endScale.value );
		var theWeight = Number( document.Check_Form.weight.value );
		var theMaxOption = Number( document.Check_Form.maxOption.value );
		var theMaxSize = false;
		for( i=theBeginWeight;i<=theEndWeight;i++)
		{
			if( i * theWeight == theMaxOption && theMaxSize == false)
			{
				theMaxSize = true;
			}
			if( i * theWeight == 99 )
			{
				document.Check_Form.endScale.focus();
				$.notification('不允许设置存在99的评分刻度');
				return false;
			}
		}
		if (!CheckNumber(document.Check_Form.weight, "刻度上的加权",1,100)) {return false;}
		if ( document.Check_Form.isHaveOther.checked )
		{
			if (!CheckNotNull(document.Check_Form.maxOption, "需回复者说明理由的刻度")) {return false;}
			if (!CheckNumber(document.Check_Form.maxOption, "需回复者说明理由的刻度",1,10000)) {return false;}
			if ( theMaxSize == false )
			{
				document.Check_Form.maxOption.focus();
				$.notification('需回复者说明理由的刻度在评分刻度上不存在');
				return false;
			}
		}
		if ( document.Check_Form.isContInvalid.checked)
		{
			if (!CheckNotNull(document.Check_Form.contInvalidValue, "矩阵问题一致回复值的连续个数")) {return false;}
			if (!CheckNumber(document.Check_Form.contInvalidValue, "矩阵问题一致回复值的连续个数",0,200)) {return false;}
		}		
	}
	if( IsInCheckBox(document.Check_Form.isSelect,2) )  //滑动块
	{
		if (!CheckNotNull(document.Check_Form.startScale2, "滑动条块选择最小值")) {return false;}
		if (!CheckNumber(document.Check_Form.startScale2, "滑动条块选择最小值",0,1000)) {return false;}
		if (!CheckNotNull(document.Check_Form.endScale2, "滑动条块选择最大值")) {return false;}
		if (!CheckNumber(document.Check_Form.endScale2, "滑动条块选择最大值",2,1000)) {return false;}
		if (Number( document.Check_Form.endScale2.value ) <= Number(document.Check_Form.startScale2.value) )
		{
			document.Check_Form.endScale2.focus();
			$.notification('滑动条块选择最小值必须小于最大值');
			return false;
		}
	}
}
function Init()
{
	checkIsHaveOther();
	checkIsSelected();
}
function checkIsHaveOther()
{ 
   if (document.Check_Form.isHaveOther.checked)
   {
		document.Check_Form.maxOption.disabled  = false
   } 
   else
   {
	 	document.Check_Form.maxOption.disabled  = true
   }	
}
function checkIsSelected()
{
   if (document.getElementById("isSelect_0").checked)
   {
		document.Check_Form.startScale.disabled  = false
		document.Check_Form.endScale.disabled  = false
		document.Check_Form.weight.disabled  = false
		document.Check_Form.startScale1.disabled  = true
		document.Check_Form.endScale1.disabled  = true
		document.Check_Form.startScale2.disabled  = true
		document.Check_Form.endScale2.disabled  = true
		document.Check_Form.isHaveOther.disabled  = false
		document.Check_Form.maxOption.disabled  = false
		document.Check_Form.isHaveUnkown.disabled  = false	
		document.Check_Form.isColArrange.disabled  = false	
		//document.Check_Form.isColArrange0.disabled  = true	
		document.Check_Form.unitText0.disabled  = false	
		document.Check_Form.unitText1.disabled  = false	
		document.Check_Form.isContInvalid.disabled = false;
		document.Check_Form.contInvalidValue.disabled = false;
   }

   if (document.getElementById("isSelect_1").checked)
   {
		document.Check_Form.startScale.disabled  = true
		document.Check_Form.endScale.disabled  = true
		document.Check_Form.weight.disabled  = true
		document.Check_Form.startScale1.disabled  = false
		document.Check_Form.endScale1.disabled  = false
		document.Check_Form.startScale2.disabled  = true
		document.Check_Form.endScale2.disabled  = true
		document.Check_Form.isHaveOther.disabled  = false
		document.Check_Form.maxOption.disabled  = false
		document.Check_Form.isHaveUnkown.disabled  = true	
		document.Check_Form.isColArrange.disabled  = true	
		//document.Check_Form.isColArrange0.disabled  = true	
 		document.Check_Form.unitText0.disabled  = true	
		document.Check_Form.unitText1.disabled  = true	
 		document.Check_Form.isContInvalid.disabled = true;
 		document.Check_Form.isContInvalid.checked = false;
		document.Check_Form.contInvalidValue.disabled = true;
   }	
   if (document.getElementById("isSelect_2").checked)
   {
		document.Check_Form.startScale.disabled  = true
		document.Check_Form.endScale.disabled  = true
		document.Check_Form.weight.disabled  = true
		document.Check_Form.startScale1.disabled  = true
		document.Check_Form.endScale1.disabled  = true
		document.Check_Form.startScale2.disabled  = false
		document.Check_Form.endScale2.disabled  = false
		document.Check_Form.isHaveOther.disabled  = true
		document.Check_Form.maxOption.disabled  = true
		document.Check_Form.isHaveUnkown.disabled  = true	
		document.Check_Form.isColArrange.disabled  = true	
		//document.Check_Form.isColArrange0.disabled  = false	
		document.Check_Form.unitText0.disabled  = false	
		document.Check_Form.unitText1.disabled  = false	
 		document.Check_Form.isContInvalid.disabled = true;
 		document.Check_Form.isContInvalid.checked = false;
		document.Check_Form.contInvalidValue.disabled = true;
   }	
}
function checkIsContInvalid()
{
   if (document.Check_Form.isContInvalid.checked)
   {
	    document.Check_Form.contInvalidValue.disabled = false;
   }
   else
   {
	    document.Check_Form.contInvalidValue.disabled = true;
   }
}
function submitForm(actionName)
{
	if( Check_Form_Validator() != false )
	{
		document.getElementById('AddAutoRatingSubmit').disabled = true;
		disabledStyle(document.getElementById('AddAutoRatingSubmit'));
		document.getElementById('AddAutoRatingOver').disabled = true;
		disabledStyle(document.getElementById('AddAutoRatingOver'));
		document.getElementById('close').disabled = true;
		disabledStyle(document.getElementById('close'));
		document.getElementById('Action').value = actionName;
		document.Check_Form.submit();
	}
}
</script>

<meta content="mshtml 6.00.3790.0" name=generator></head>
<body oncontextmenu="return false" onload="javascript:Init();">
   <form method="post" action="" name="Check_Form" id="Check_Form" onsubmit="return false;">
  <table class=datatable style="line-height: 150%;border-collapse:collapse;" cellspacing=0 cellpadding=0 bordercolor=#cacaca border=1 width=100%>
   <div class=position>位置：&nbsp; 我的问卷 &raquo; 编辑问卷问题 &raquo; 自动评分题</div>
   <tr><td bgcolor="#e9e9e9"><b>编辑问卷问题</b></td></tr>
   <tr><td>&nbsp;<span style="font-size:14px;font-weight:bold;">自动评分题</span>&nbsp;
     <a onmouseover="this.T_WIDTH=446;this.T_PADDING=0;this.T_BGCOLOR='#ffffff'; return escape('<img src=../Images/Example/example_rating.jpg width=446 align=center>')" href="javascript:void(0);"><font color=red>图例</font></a></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;关于...</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>   <tr><td>&nbsp;自动评分题是指将前面多选题的选项答案带入新评分题的问题。</td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;题目文字</b>&nbsp;<img src="../Images/info.gif" border=0>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertImage.php', 590, 250, null, null,'插入图片或视频');}"><font color=red><b>插入图片或视频</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
	 &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertAnswer.php?&surveyID={surveyID}&orderByID={orderByID}', 700, 160, null, null,'插入前述问题的答案');}"><font color=red><b>插入前述问题答案</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
	 &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertKish.php?&surveyID={surveyID}&orderByID={orderByID}', 700, 160, null, null,'插入针对前述问题的Kish抽样结果');}"><font color=red><b>插入Kish抽样结果</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
   </td></tr>
   <tr><td>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Bold')"><img src="../Images/Editor/bold.gif" WIDTH="20" HEIGHT="20" title="Bold"></a>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Italic')"><img src="../Images/Editor/italic.gif" WIDTH="20" HEIGHT="20" title="Italic"></a>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Underline')"><img src="../Images/Editor/underline.gif" WIDTH="20" HEIGHT="20" title="Underline"></a>
	  <img src="../Images/Editor/separator.gif" WIDTH="5" HEIGHT="20">
 	  <select onchange="doMySelectClick('FontSize',this);" style="width: 75px;margin-bottom:4px;">
          <option>字体大小</option>
          <option VALUE="12">12</option>
          <option VALUE="14">14</option>
          <option VALUE="16">16</option>
          <option VALUE="18">18</option>
          <option VALUE="20">20</option>
          <option VALUE="22">22</option>
          <option VALUE="24">24</option>
          <option VALUE="30">30</option>
          <option VALUE="36">36</option>
      </select>
      <select name="ForeColor" onChange="doMyFormat('ForeColor',this[this.selectedIndex].style.color); this.selectedIndex=0" style="width: 80px;margin-bottom:4px;">
		  <option selected>文字颜色
		  <option style="BACKGROUND: #000000; Color: #000000">Black</option>
		  <option style="BACKGROUND: #FFFFFF; Color: #FFFFFF">White</option>
		  <option style="BACKGROUND: #0000FF; Color: #0000FF">Blue 1</option>
		  <option style="BACKGROUND: #2222FF; Color: #2222FF">Blue 2</option>
		  <option style="BACKGROUND: #4444FF; Color: #4444FF">Blue 3</option>
		  <option style="BACKGROUND: #6666FF; Color: #6666FF">Blue 4</option>
		  <option style="BACKGROUND: #333333; Color: #333333">Gray 1</option>
		  <option style="BACKGROUND: #666666; Color: #666666">Gray 2</option>
		  <option style="BACKGROUND: #999999; Color: #999999">Gray 3</option>
		  <option style="BACKGROUND: #EEEEEE; Color: #EEEEEE">Gray 4</option>
		  <option style="BACKGROUND: #004000; Color: #004000">Green 1</option>
		  <option style="BACKGROUND: #006000; Color: #006000">Green 2</option>
		  <option style="BACKGROUND: #008000; Color: #008000">Green 3</option>
		  <option style="BACKGROUND: #00A000; Color: #00A000">Green 4</option>
		  <option style="BACKGROUND: #FF0000; Color: #FF0000">Red 1</option>
		  <option style="BACKGROUND: #FF2222; Color: #FF2222">Red 2</option>
		  <option style="BACKGROUND: #FF4444; Color: #FF4444">Red 3</option>
		  <option style="BACKGROUND: #FF6666; Color: #FF6666">Red 4</option>
		  <option style="BACKGROUND: #FFFF00; Color: #FFFF00">Yellow 1</option>
		  <option style="BACKGROUND: #FFFF33; Color: #FFFF33">Yellow 2</option>
		  <option style="BACKGROUND: #FFFF66; Color: #FFFF66">Yellow 3</option>
		  <option style="BACKGROUND: #FFFF99; Color: #FFFF99">Yellow 4</option>
	  </select>
	  <select name="fontbackground" onChange="doMyFormat('BackColor',this[this.selectedIndex].style.color); this.selectedIndex=0" style="width: 80px;margin-bottom:4px;">
		  <option selected>文字底色</option>
		  <option style="BACKGROUND: #000000; Color: #000000">Black</option>
		  <option style="BACKGROUND: #FFFFFF; Color: #FFFFFF">White</option>
		  <option style="BACKGROUND: #0000FF; Color: #0000FF">Blue 1</option>
		  <option style="BACKGROUND: #2222FF; Color: #2222FF">Blue 2</option>
		  <option style="BACKGROUND: #4444FF; Color: #4444FF">Blue 3</option>
		  <option style="BACKGROUND: #6666FF; Color: #6666FF">Blue 4</option>
		  <option style="BACKGROUND: #333333; Color: #333333">Gray 1</option>
		  <option style="BACKGROUND: #666666; Color: #666666">Gray 2</option>
		  <option style="BACKGROUND: #999999; Color: #999999">Gray 3</option>
		  <option style="BACKGROUND: #EEEEEE; Color: #EEEEEE">Gray 4</option>
		  <option style="BACKGROUND: #004000; Color: #004000">Green 1</option>
		  <option style="BACKGROUND: #006000; Color: #006000">Green 2</option>
		  <option style="BACKGROUND: #008000; Color: #008000">Green 3</option>
		  <option style="BACKGROUND: #00A000; Color: #00A000">Green 4</option>
		  <option style="BACKGROUND: #FF0000; Color: #FF0000">Red 1</option>
		  <option style="BACKGROUND: #FF2222; Color: #FF2222">Red 2</option>
		  <option style="BACKGROUND: #FF4444; Color: #FF4444">Red 3</option>
		  <option style="BACKGROUND: #FF6666; Color: #FF6666">Red 4</option>
		  <option style="BACKGROUND: #FFFF00; Color: #FFFF00">Yellow 1</option>
		  <option style="BACKGROUND: #FFFF33; Color: #FFFF33">Yellow 2</option>
		  <option style="BACKGROUND: #FFFF66; Color: #FFFF66">Yellow 3</option>
		  <option style="BACKGROUND: #FFFF99; Color: #FFFF99">Yellow 4</option>
	  </select>	
    <textarea rows=5 cols=125 name="questionName" id="questionName" tabIndex=1>{questionName}</textarea>  <a href="javascript:resizeTextHeight('questionName',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('questionName',-1);"><img src="../Images/jian.gif"></a>
   </td></tr>
   <tr height="28"><td valign=center>&nbsp;问题别名&nbsp;<img src="../Images/info.gif" border=0>&nbsp;&nbsp;<input class="textInput" name="alias" type="text" id="alias" size="20" onkeypress="checkAliasValid()"  style="ime-mode:disabled" onPaste="return false;" onKeyUp="AliasAjaxRequest('AjaxCheckQtnAlias.php?alias='+this.value+'&oldName={alias}&surveyID={surveyID}');" value="{alias}">&nbsp;* 使用汉语拼音或者英文名称&nbsp;&nbsp;<span id="alias_info"></span></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td>&nbsp;有关问题的说明或问题回复提示&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td><textarea rows=3 cols=125 name="questionNotes" id="questionNotes" tabIndex=1>{questionNotes}</textarea>  <a href="javascript:resizeTextHeight('questionNotes',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('questionNotes',-1);"><img src="../Images/jian.gif"></a></td></tr>

   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;评分项目来源设置</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td style="padding-top:5px;padding-bottom:5px">
     &nbsp;选择评分项目的来源多选题：<br/>
     &nbsp;&nbsp;&nbsp;<select name="baseID" id="baseID" style="width:832px;*width:842px">
	   <option value="">请选择评分项目的来源多选题...</option>
	   {baseQuestionList}
	 </select><br/>
	 &nbsp;选择评分项目的来源方式：<br/>
	 &nbsp;&nbsp;&nbsp;<input name="isNeg" id="isNeg" type="radio" value="0" {isNeg0}>&nbsp;来源多选题的选择项&nbsp;(建议设定来源多选题必答或最少选项)&nbsp;<br/>
	 &nbsp;&nbsp;&nbsp;<input name="isNeg" id="isNeg" type="radio" value="1" {isNeg1}>&nbsp;来源多选题的未选择项&nbsp;(建议来源多选题设定最多选项)
   </td></tr>

   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;控制设置</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td>
	    &nbsp;&nbsp;<b>评分类型：</b><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="isSelect" id="isSelect_0" value="0" onclick="checkIsSelected();" {isSelect_0}>刻度选择：&nbsp;&nbsp;&nbsp;评分刻度  从<input type="text" value="{startScale}" name="startScale" id="startScale" size=6> 至 <input type="text" value="{endScale}" name="endScale" id="endScale" size=6>&nbsp;&nbsp;并在每个刻度上加权 <input type="text" value="{weight}" name="weight" if="weight" size=6><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="1" id="isHaveUnkown" name="isHaveUnkown" {isHaveUnkown}>自动添加“不清楚”选项以与跳过情形区分<br/>
 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="1" id="isColArrange" name="isColArrange" {isColArrange}>分值采用左低右高方式排列(默认左高右低排列)<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="isSelect" id="isSelect_1" value="1" onclick="checkIsSelected();" {isSelect_1}>开放回复：&nbsp;&nbsp;&nbsp;回复区间  限定回复值最小 <input type="text" value="{startScale1}" name="startScale1" id="startScale1" size=10> 最大<input type="text" value="{endScale1}" name="endScale1" id="endScale1" size=10> <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="isSelect" id="isSelect_2" value="2" onclick="checkIsSelected();" {isSelect_2}>滑动条块：&nbsp;&nbsp;&nbsp;选择区间  限定选择值最小 <input type="text" value="{startScale2}" name="startScale2" id="startScale2" size=10> 最大<input type="text" value="{endScale2}" name="endScale2" id="endScale2" size=10> <br/>
		<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="1" id="isColArrange0" name="isColArrange0" {isColArrange0}>分值采用左高右低方式排列(默认左低右高排列)<br/>-->
		<hr height=1>
		&nbsp;&nbsp;&nbsp;分值两端的标签文本：左：<input name="unitText0" id="unitText0" value="{unitText0}" size=25>&nbsp;右：<input name="unitText1" id="unitText1" value="{unitText1}" size=25><br/>
		&nbsp;&nbsp;<input type="checkbox" value="1" name="isHaveOther" {isHaveOther} onclick="checkIsHaveOther();"> 评分在 <input type="text" value="{maxOption}" name="maxOption" size=6> 以下(包含该值)需回复者说明理由<br/>
    	&nbsp;&nbsp;<input type="checkbox" value="1" name="isContInvalid" id="isContInvalid" {isContInvalid} onclick="javascript:checkIsContInvalid();"> 连续&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="{contInvalidValue}" name="contInvalidValue" id="contInvalidValue" size=6> 个矩阵问题的回复值一致视为无效<br/>
	    &nbsp;&nbsp;<input type="checkbox" value="1" name="isRequired" {isRequired}> 此题为必答题<br/>
	  </td>
   </tr></table><table width=100% style="margin-bottom:15px">
   <tr> 
  	 <td height="15">
         <input name="surveyID" type="hidden" id="surveyID" value="{surveyID}"> 
         <input name="questionID" type="hidden" id="questionID" value="{questionID}"> 
         <input name="orderByID" type="hidden" id="orderByID" value="{orderByID}"> 
         <input name="Action" type="hidden" id="Action"> 
         <input class=inputsubmit name="AddAutoRatingSubmit" type="button" id="AddAutoRatingSubmit" value="保存，下一个" onclick="javascript:submitForm('AddAutoRatingSubmit');"> 
         <input class=inputsubmit name="AddAutoRatingOver" type="button" id="AddAutoRatingOver" value="保存，结束" onclick="javascript:submitForm('AddAutoRatingOver');"> 
         <input class=inputsubmit type="button" name="close" id="close" value="  关闭  " onClick="javascript:parent.hidePopWin();">
      </td>
    </tr>
  </form>
 </table>
  <script type="text/javascript">initInputHighlightScript();</script> 
  <script language=javascript src="../JS/Example.js.php"></script>
</body></html>
