<tr>
    <td height=25 class="question" valign=center>{questionName}</td>
</tr>
<tr>
   <td>
	 <table style="border:1px solid #cacaca;">
		<tr><td colspan=5 nowrap>&nbsp;样本数：{totalResponseNum}&nbsp;&nbsp;&nbsp;&nbsp;回复数：<b>{rep_answerNum}</b>&nbsp;&nbsp;&nbsp;&nbsp;缺失数：{skip_answerNum}</td>
		</tr>
		<tr style="color:white;" nowrap><td bgcolor=#cf1100>&nbsp;<b>选项名称</b></td>
			<td bgcolor=#cf1100 align=center width=50 nowrap>&nbsp;<b>频数</b></td>
			<td bgcolor=#cf1100 align=center width=50>&nbsp;<b>Code</b></td>
			<td bgcolor=#cf1100 align=center width=50>&nbsp;<b>分值</b></td>
			<td bgcolor=#cf1100 align=center width=50>&nbsp;<b>平均</b></td>
		</tr>
		<!-- BEGIN OPTION -->
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"><td width=300 nowrap>&nbsp;{optionName}</td>
			<td nowrap align=center>&nbsp;<b>{answerNum}</b></td>
			<td nowrap align=center>&nbsp;{optionCoeff}</td>
			<td nowrap align=center>&nbsp;{optionCoeffNum}</td>
			<td nowrap align=center>&nbsp;<b>{optionCoeffAvg}</b></td>
		</tr>
		<!-- END OPTION -->
		<tr style="display:{isHaveOther};background-color:#e4e0ea;border-bottom:1px solid #cacaca" class="answer">
			<td width=300 nowrap>&nbsp;{other_optionName}</td>
			<td nowrap align=center>&nbsp;<b>{other_answerNum}</b></td>
			<td nowrap align=center>&nbsp;{other_optionCoeff}</td>
			<td nowrap align=center>&nbsp;{other_optionCoeffNum}</td>
			<td nowrap align=center>&nbsp;<b>{other_optionCoeffAvg}</b></td>
		</tr>
		<tr style="display:{isHaveNeg};background-color:#e4e0ea;border-bottom:1px solid #cacaca" class="answer">
			<td width=300 nowrap>&nbsp;{neg_optionName}</td>
			<td nowrap align=center>&nbsp;<b>{neg_answerNum}</b></td>
			<td nowrap align=center>&nbsp;{neg_optionCoeff}</td>
			<td nowrap align=center>&nbsp;{neg_optionCoeffNum}</td>
			<td nowrap align=center>&nbsp;<b>{neg_optionCoeffAvg}</b></td>
		</tr>
	  </table>
  </td>
</tr>