<table width="100%" style="margin-bottom:5px;">
<tr>
   <td>
	 <table style="border:1px solid #cacaca;">
		<tr style="color:white;">
		  <td nowrap valign=center align=center bgcolor=#cf1100>数据序号或样本标识</td>
		  <td align=center valign=center bgcolor=#cf1100 nowrap>聚类</td>
		</tr>
		<!-- BEGIN LIST -->
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;{panelName}</td>
		  <td align=center valign=center nowrap width=110><b>{clusterId}</b></td>
		</tr>
		<!-- END LIST -->
	</table>
  </td>
</tr></table>