<tr>
    <td height=25 class="question" valign=center>{questionName}</td>
</tr>
<tr>
   <td>
	<!-- BEGIN LIST -->
	<table cellSpacing=0 cellPadding=0 style="margin:5 0 5 0px"><tr><td><b>{subQuestionName}</b></td></tr></table>
	 <table style="border:1px solid #cacaca;">
		<tr><td>&nbsp;样本数：</td>
			<td colspan=5><b>&nbsp;{totalResponseNum}</b></td>
		</tr>
		<tr><td>&nbsp;有效回复数：</td>
			<td>&nbsp;<b>{rep_answerNum}</b></td>
			<td>&nbsp;回复百分比：</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{rep_optionPercent}%"></span></td>
			<td align=center>&nbsp;{rep_optionPercent} %</td>
			<td>&nbsp;</td>
		</tr>
		<tr><td>&nbsp;缺失数：</td>
			<td>&nbsp;{skip_answerNum}</td>
			<td>&nbsp;缺失百分比：</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{skip_optionPercent}%"></td>
			<td align=center>&nbsp;{skip_optionPercent} %</td>
			<td>&nbsp;</td>
		</tr>
		<tr style="color:white;"><td bgcolor=#cf1100>&nbsp;<b>选项名称</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;<b>频数</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;<b>百分比</b></td>
			<td bgcolor=#cf1100 align=left>&nbsp;<b>百分比图示</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;<b>有效百分比</b></td>
			<td bgcolor=#cf1100 align=left>&nbsp;<b>百分比图示</b></td>
		</tr>
		<!-- BEGIN OPTION -->
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"><td nowrap>&nbsp;{optionName}</td>
			<td nowrap align=center>&nbsp;<b>{answerNum}</b></td>
			<td nowrap align=center>&nbsp;{optionPercent} %</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{optionPercent}%"></td>
			<td align=center>&nbsp;{optionValidPercent} %</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{optionValidPercent}%"></td>
		</tr>
		<!-- END OPTION -->
	</table>
	<!-- END LIST -->
</td></tr>
