<table style="LINE-HEIGHT: 150%;border-collapse:collapse;" cellSpacing=0 cellPadding=0 width="100%" borderColor=#999999 border=1>
<tr>
   <!-- BEGIN OPTION -->
   <td valign=top>
	<table cellSpacing=0 cellPadding=0 width="100%" border=0>
	  <tr bgcolor="#cccccc" height=25><td><b>&nbsp;基于<span class=red>{baseOptionName}</span>的问题选项</b></td></tr>
	  <tr bgcolor="#999999" height=1><td></td</tr>
	  <tr><td><textarea rows=6 cols=42 name="optionName_{baseOptionID}" {isModi}>{optionName}</textarea></td></tr>
    </table>
   </td>{perLine}
   <!-- END OPTION -->
</tr>
</table>