<html>
<head>
<meta http-equiv=content-language content=zh-cn>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<style>
 .classtd { padding:2px 5px 2px 5px;}
 select,img {vertical-align: middle;}
</style>
<link href="../CSS/Base.css" rel=stylesheet>
<LINK href="../CSS/Window.css" type=text/css rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script language=javascript src="../JS/Textarea.js.php"></script>
<script language=javascript src="../JS/HighLight.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="../CSS/Notification.css" />
<script language=javascript src="../JS/CheckQuestion.js.php"></script>
<script language=javascript src="../JS/CheckAlias.js.php"></script>
<script language=javascript src="../JS/TheEditor.js.php"></script>
<script language=javascript>
var editTextRange;
function Check_Form_Validator()
{
	if (!CheckNotNull(document.Check_Form.questionName, "题目文字")) {return false;}
	if (!CheckNotNull(document.Check_Form.baseID, "本题的依赖问题")) {return false;}
	var theBaseOption = document.getElementById("baseOptionID").value.split('|');
	for(o=0;o<=theBaseOption.length-1;o++)
	{
	    var theOptionObj = eval("document.Check_Form.optionName_" + theBaseOption[o] );
		if (!CheckNotNull(theOptionObj, "问题选项")) {return false;}
    }
	if ( document.Check_Form.isRequired.checked && document.Check_Form.isSelect.checked)
	{
		if (!CheckNumber(document.Check_Form.minOption, "最少选项数",1,60)) {return false;}
        if (!CheckNumber(document.Check_Form.maxOption, "最多选项数",2,100)) {return false;}
		if ( document.Check_Form.maxOption.value != '' )
		{
			if (document.Check_Form.minOption.value != '' && ( Number(document.Check_Form.maxOption.value ) < Number(document.Check_Form.minOption.value) ) )
			{
				document.Check_Form.maxOption.focus();
				$.notification('最多选项数必须大于最少选项数');
				return false;
			}
		}
	}
}
function checkIsRequired()
{
   if (document.Check_Form.isRequired.checked && document.Check_Form.isSelect.checked)
   {
		document.Check_Form.minOption.disabled  = false
		document.Check_Form.maxOption.disabled  = false
   } 
   else
   {
		document.Check_Form.minOption.disabled  = true
		document.Check_Form.maxOption.disabled  = true
   }	
}
function Init()
{
	checkIsRequired();
    var ParamString = "baseID={baseID}&questionID={questionID}";
    ajaxChangeOption('AjaxShowCondOption.php',ParamString);
}

function AjaxAction()
{
    var baseID = document.getElementById('baseID').value;
    var questionID = document.getElementById('questionID').value;
    var ParamString = "baseID=" + baseID + "&questionID=" + questionID;
    ajaxChangeOption('AjaxShowCondOption.php',ParamString);
}
function submitForm(actionName)
{
	if( Check_Form_Validator() != false )
	{
		document.getElementById('AddCondSubmit').disabled = true;
		disabledStyle(document.getElementById('AddCondSubmit'));
		document.getElementById('AddCondOver').disabled = true;
		disabledStyle(document.getElementById('AddCondOver'));
		document.getElementById('close').disabled = true;
		disabledStyle(document.getElementById('close'));
		document.getElementById('Action').value = actionName;
		document.Check_Form.submit();
	}
}
</script>

<meta content="mshtml 6.00.3790.0" name=generator></head>
<body oncontextmenu="return false" onload="javascript:Init();">

<form style="margin:0px" method="post" action="" name="Check_Form" id="Check_Form" onsubmit="return false;">
  <table class=datatable style="line-height: 150%;border-collapse:collapse;" cellspacing=0 cellpadding=0 bordercolor=#cacaca border=1 width=100%>
   <div class=position>位置：&nbsp; 我的问卷 &raquo; 编辑问卷问题 &raquo; 条件选项题</div>
   <tr><td bgcolor="#e9e9e9" class="classtd"><b>编辑问卷问题</b></td></tr>
   <tr><td class="classtd">&nbsp;<span style="font-size:14px;font-weight:bold;">条件选项题</span></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td class="classtd"><b>&nbsp;关于...</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr> <tr><td class="classtd">&nbsp;条件选项是指依据前面单选题的答案动态改变当前问题的选项</td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;题目文字</b>&nbsp;<img src="../Images/info.gif" border=0>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertImage.php', 590, 250, null, null,'插入图片或视频');}"><font color=red><b>插入图片或视频</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
	 &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertAnswer.php?&surveyID={surveyID}&orderByID={orderByID}', 700, 160, null, null,'插入前述问题的答案');}"><font color=red><b>插入前述问题答案</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
	 &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertKish.php?&surveyID={surveyID}&orderByID={orderByID}', 700, 160, null, null,'插入针对前述问题的Kish抽样结果');}"><font color=red><b>插入Kish抽样结果</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
   </td></tr>
   <tr><td class="classtd">
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Bold')"><img src="../Images/Editor/bold.gif" WIDTH="20" HEIGHT="20" title="Bold"></a>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Italic')"><img src="../Images/Editor/italic.gif" WIDTH="20" HEIGHT="20" title="Italic"></a>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Underline')"><img src="../Images/Editor/underline.gif" WIDTH="20" HEIGHT="20" title="Underline"></a>
	  <img src="../Images/Editor/separator.gif" WIDTH="5" HEIGHT="20">
 	  <select onchange="doMySelectClick('FontSize',this);" style="width: 75px;margin-bottom:4px;">
          <option>字体大小</option>
          <option VALUE="12">12</option>
          <option VALUE="14">14</option>
          <option VALUE="16">16</option>
          <option VALUE="18">18</option>
          <option VALUE="20">20</option>
          <option VALUE="22">22</option>
          <option VALUE="24">24</option>
          <option VALUE="30">30</option>
          <option VALUE="36">36</option>
      </select>
      <select name="ForeColor" onChange="doMyFormat('ForeColor',this[this.selectedIndex].style.color); this.selectedIndex=0" style="width: 80px;margin-bottom:4px;">
		  <option selected>文字颜色
		  <option style="BACKGROUND: #000000; Color: #000000">Black</option>
		  <option style="BACKGROUND: #FFFFFF; Color: #FFFFFF">White</option>
		  <option style="BACKGROUND: #0000FF; Color: #0000FF">Blue 1</option>
		  <option style="BACKGROUND: #2222FF; Color: #2222FF">Blue 2</option>
		  <option style="BACKGROUND: #4444FF; Color: #4444FF">Blue 3</option>
		  <option style="BACKGROUND: #6666FF; Color: #6666FF">Blue 4</option>
		  <option style="BACKGROUND: #333333; Color: #333333">Gray 1</option>
		  <option style="BACKGROUND: #666666; Color: #666666">Gray 2</option>
		  <option style="BACKGROUND: #999999; Color: #999999">Gray 3</option>
		  <option style="BACKGROUND: #EEEEEE; Color: #EEEEEE">Gray 4</option>
		  <option style="BACKGROUND: #004000; Color: #004000">Green 1</option>
		  <option style="BACKGROUND: #006000; Color: #006000">Green 2</option>
		  <option style="BACKGROUND: #008000; Color: #008000">Green 3</option>
		  <option style="BACKGROUND: #00A000; Color: #00A000">Green 4</option>
		  <option style="BACKGROUND: #FF0000; Color: #FF0000">Red 1</option>
		  <option style="BACKGROUND: #FF2222; Color: #FF2222">Red 2</option>
		  <option style="BACKGROUND: #FF4444; Color: #FF4444">Red 3</option>
		  <option style="BACKGROUND: #FF6666; Color: #FF6666">Red 4</option>
		  <option style="BACKGROUND: #FFFF00; Color: #FFFF00">Yellow 1</option>
		  <option style="BACKGROUND: #FFFF33; Color: #FFFF33">Yellow 2</option>
		  <option style="BACKGROUND: #FFFF66; Color: #FFFF66">Yellow 3</option>
		  <option style="BACKGROUND: #FFFF99; Color: #FFFF99">Yellow 4</option>
	  </select>
	  <select name="fontbackground" onChange="doMyFormat('BackColor',this[this.selectedIndex].style.color); this.selectedIndex=0" style="width: 80px;margin-bottom:4px;">
		  <option selected>文字底色</option>
		  <option style="BACKGROUND: #000000; Color: #000000">Black</option>
		  <option style="BACKGROUND: #FFFFFF; Color: #FFFFFF">White</option>
		  <option style="BACKGROUND: #0000FF; Color: #0000FF">Blue 1</option>
		  <option style="BACKGROUND: #2222FF; Color: #2222FF">Blue 2</option>
		  <option style="BACKGROUND: #4444FF; Color: #4444FF">Blue 3</option>
		  <option style="BACKGROUND: #6666FF; Color: #6666FF">Blue 4</option>
		  <option style="BACKGROUND: #333333; Color: #333333">Gray 1</option>
		  <option style="BACKGROUND: #666666; Color: #666666">Gray 2</option>
		  <option style="BACKGROUND: #999999; Color: #999999">Gray 3</option>
		  <option style="BACKGROUND: #EEEEEE; Color: #EEEEEE">Gray 4</option>
		  <option style="BACKGROUND: #004000; Color: #004000">Green 1</option>
		  <option style="BACKGROUND: #006000; Color: #006000">Green 2</option>
		  <option style="BACKGROUND: #008000; Color: #008000">Green 3</option>
		  <option style="BACKGROUND: #00A000; Color: #00A000">Green 4</option>
		  <option style="BACKGROUND: #FF0000; Color: #FF0000">Red 1</option>
		  <option style="BACKGROUND: #FF2222; Color: #FF2222">Red 2</option>
		  <option style="BACKGROUND: #FF4444; Color: #FF4444">Red 3</option>
		  <option style="BACKGROUND: #FF6666; Color: #FF6666">Red 4</option>
		  <option style="BACKGROUND: #FFFF00; Color: #FFFF00">Yellow 1</option>
		  <option style="BACKGROUND: #FFFF33; Color: #FFFF33">Yellow 2</option>
		  <option style="BACKGROUND: #FFFF66; Color: #FFFF66">Yellow 3</option>
		  <option style="BACKGROUND: #FFFF99; Color: #FFFF99">Yellow 4</option>
	  </select>
    <textarea rows=5 cols=125 name="questionName" id="questionName" tabIndex=1>{questionName}</textarea>  <a href="javascript:resizeTextHeight('questionName',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('questionName',-1);"><img src="../Images/jian.gif"></a>
   </td></tr>
   <tr height="28"><td valign=center class="classtd">&nbsp;问题别名&nbsp;<img src="../Images/info.gif" border=0>&nbsp;&nbsp;<input class="textInput" name="alias" type="text" id="alias" size="20" onkeypress="checkAliasValid()"  style="ime-mode:disabled" onPaste="return false;" onKeyUp="AliasAjaxRequest('AjaxCheckQtnAlias.php?alias='+this.value+'&oldName={alias}&surveyID={surveyID}');" value="{alias}">&nbsp;* 使用汉语拼音或者英文名称&nbsp;&nbsp;<span id="alias_info"></span></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td class="classtd">&nbsp;有关问题的说明或问题回复提示&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td class="classtd"><textarea rows=3 cols=125 name="questionNotes" id="questionNotes" tabIndex=1>{questionNotes}</textarea>  <a href="javascript:resizeTextHeight('questionNotes',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('questionNotes',-1);"><img src="../Images/jian.gif"></a></td></tr>
  <tr bgcolor="#f9f9f9" height=25><td class="classtd"><b>&nbsp;依赖的问题设置</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td class="classtd">
     <select name="baseID" id="baseID" onChange="javascript:AjaxAction();" style="width:842px;*width:852px">
	   <option value="">请选择本题选项依赖的单选题...</option>
	   {baseQuestionList}
	 </select>
   </td></tr>
   <tr bgcolor="#f9f9f9" height=25><td class="classtd"><b>&nbsp;问题选项</b> (在对应选项中输入问题选项，每个选项一行)&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td id="theOptionText">&nbsp;</td></tr>
   <tr bgcolor="#f9f9f9" height=25><td class="classtd"><b>&nbsp;显示设置</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td class="classtd">
		&nbsp;&nbsp;<input type="checkbox" value="1" name="isSelect" {isSelect} onclick="checkIsRequired();"> 此题为多选列表框<b>(</b>默认为单选下拉框<b>)</b><br/>
	</td></tr>
   <tr bgcolor="#f9f9f9" height=25><td class="classtd"><b>&nbsp;控制设置</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td class="classtd">
	    &nbsp;&nbsp;<input type="checkbox" value="1" name="isRequired" {isRequired} onclick="checkIsRequired();"> 此题为必答题<br/>
	  	&nbsp;&nbsp;&nbsp;最少选项数 <input type="text" value="{minOption}" name="minOption" size=6> <br/>
	    &nbsp;&nbsp;&nbsp;最多选项数 <input type="text" value="{maxOption}" name="maxOption" size=6> <br/>
	 </td>
   </tr></table><table width=100% style="margin-bottom:15px">
   <tr> 
  	 <td height="15" class="classtd">
         <input name="surveyID" type="hidden" id="surveyID" value="{surveyID}"> 
         <input name="questionID" type="hidden" id="questionID" value="{questionID}"> 
         <input name="orderByID" type="hidden" id="orderByID" value="{orderByID}"> 
         <input name="baseOptionID" type="hidden" id="baseOptionID"> 
         <input name="Action" type="hidden" id="Action"> 
         <input class=inputsubmit name="AddCondSubmit" type="button" id="AddCondSubmit" value="保存，下一个" onclick="javascript:submitForm('AddCondSubmit');">  
         <input class=inputsubmit name="AddCondOver" type="button" id="AddCondOver" value="保存，结束" onclick="javascript:submitForm('AddCondOver');">  
         <input class=inputsubmit type="button" name="close" id="close" value="  关闭  " onClick="javascript:parent.hidePopWin();">
      </td>
    </tr>
  </form>
 </table>
  <script type="text/javascript">initInputHighlightScript();</script> 
  <div id="saveContent"></div>
</body></html>
