<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>数据备份恢复 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">EnableQ</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>

	<div class="container clearfix">
		<div class="main">
		    <div class="nav">
			    <a href="../System/DataBackup.php" class="cur">备份数据库表</a>
				<a href="../System/OptiTable.php">优化数据库表</a>
				<a href="../System/SQLQuery.php">SQL语句执行</a>
			</div>		

		   <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>备份和恢复数据库</h1>
				<span class="total ml10">[{recNum}备份]</span>
				<span class="btn ml10"><input class=stnsubmit name="createNew" type="button" id="createNew" value="创建新备份" onclick="if(window.confirm('您真的确定为数据库创建一份新的文件备份!?')){window.location.href='{newURL}';}">&nbsp;</span>
				</div>
				<p class="fc_grey">对Eclear系统的数据库表进行备份和恢复操作，建议本操作每星期进行一次</p>
			</div>
			<div class="content_main" style="margin-top:10px">
			  <table class="d_table">
				   <tr class=coltitle><th colspan=4 align=left>系统备份文件所在目录全路径</th></tr>
				   <tr><td colspan=4><b>{fileDirName}</b></td></tr>
				   <tr class=coltitle> 
					   <th align="left" width="25%"><b>备份时间</b></th>
					   <th noWrap width="35%" align=left><b>备份文件名称</b></th>
					   <th align="left" width="15%"><b>文件大小</b></th>
					   <th align="center" width="25%"><b>操作</b></th>
				   </tr>
					<!-- BEGIN BLOCK -->
				   <tr> 
					   <td align="left">{time}</td>
					   <td align="left">{fileName} </td>
					   <td align="left">{fileSize}K&nbsp;&nbsp;</td>
					   <td align="center">&nbsp;&nbsp;
							<a href="{downloadURL}">下载</a>&nbsp;
							<a href="{deleteURL}" onclick="return window.confirm('您真的想删除本备份文件，本操作将不可恢复!?')">删除</a>&nbsp;
							<a href="javascript:void(0);" onclick="if(window.confirm('您真的确定自本备份文件({time})开始恢复数据库，本操作将不可逆转!?')){showPopWin('{restoreURL}', 700, 450, null, null,'自{fileName}备份文件({time})恢复数据库');}">恢复</a>
					   </td>
				   </tr>
				   <!-- END BLOCK -->
			  </table>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
</body></html>
