<tr><td nowrap>&nbsp;PC浏览器</td>
   <td nowrap align=center>&nbsp;{source1Num}</td>
   <td align=center>&nbsp;{source1Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;移动浏览器</td>
   <td align=center>&nbsp;{source2Num}</td>
   <td align=center>&nbsp;{source2Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;PC访员录入</td>
   <td align=center>&nbsp;{source4Num}</td>
   <td align=center>&nbsp;{source4Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;离线访员App</td>
   <td align=center>&nbsp;{source6Num}</td>
   <td align=center>&nbsp;{source6Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td nowrap width=20%>&nbsp;<b>数据来源</b></td>
    <td nowrap width=20% align=center>&nbsp;<b>数量</b></td>
	<td nowrap width=20% align=center>&nbsp;<b>比率</b></td>
	<td width=*>&nbsp;</td>
</tr>
<tr><td>&nbsp;在线访员App</td>
   <td align=center>&nbsp;{source5Num}</td>
   <td align=center>&nbsp;{source5Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;Excel数据导入</td>
   <td align=center>&nbsp;{source7Num}</td>
   <td align=center>&nbsp;{source7Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;安卓样本App</td>
   <td align=center>&nbsp;{source3Num}</td>
   <td align=center>&nbsp;{source3Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;问卷数据迁移</td>
   <td align=center>&nbsp;{source8Num}</td>
   <td align=center>&nbsp;{source8Rate}%</td>
   <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;未知数据来源</td>
   <td align=center>&nbsp;{source0Num}</td>
   <td align=center>&nbsp;{source0Rate}%</td>
   <td>&nbsp;</td>
</tr>
