<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>同一问卷数据对比 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/DataIndex.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="../CSS/Notification.css" />
<script language=javascript src="../JS/CheckQuestion.js.php"></script>
<script type="text/javascript" src="../JS/Calendar.js.php"></script>
<script language=javascript>
function Check_Form_Validator()
{
   //if (!CheckNotNull(document.Check_Form.surveyID6, "选定需对比的问卷")) {return false;}
   if (!CheckNotNull(document.getElementById("questionID6"), "选定需对比问卷的问题")) {return false;}
   if (!CheckNotNull(document.Check_Form.matchingDate1, "对比的时间段1开始时间")) {return false;}
   if (!CheckNotNull(document.Check_Form.matchingEndDate1, "对比的时间段1结束时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingDate1,"对比的时间段1开始时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingEndDate1,"对比的时间段1结束时间")) {return false;}
   if ( document.Check_Form.matchingDate1.value >= document.Check_Form.matchingEndDate1.value && document.Check_Form.matchingEndDate1.value != '')
   {
	  document.Check_Form.matchingEndDate1.focus();
	  $.notification('对比的时间段1开始时间不应在结束时间后');
	  return false;
   }
   if (!CheckDate(document.Check_Form.matchingDate2,"对比的时间段2开始时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingEndDate2,"对比的时间段2结束时间")) {return false;}
   if ( document.Check_Form.matchingDate2.value >= document.Check_Form.matchingEndDate2.value  && document.Check_Form.matchingEndDate2.value != '')
   {
	  document.Check_Form.matchingEndDate2.focus();
	  $.notification('对比的时间段2开始时间不应在结束时间后');
	  return false;
   }
   if (!CheckDate(document.Check_Form.matchingDate3,"对比的时间段3开始时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingEndDate3,"对比的时间段3结束时间")) {return false;}
   if ( document.Check_Form.matchingDate3.value >= document.Check_Form.matchingEndDate3.value  && document.Check_Form.matchingEndDate3.value != '')
   {
	  document.Check_Form.matchingEndDate3.focus();
	  $.notification('对比的时间段3开始时间不应在结束时间后');
	  return false;
   }
   if (!CheckDate(document.Check_Form.matchingDate4,"对比的时间段4开始时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingEndDate4,"对比的时间段4结束时间")) {return false;}
   if ( document.Check_Form.matchingDate4.value >= document.Check_Form.matchingEndDate4.value  && document.Check_Form.matchingEndDate4.value != '')
   {
	  document.Check_Form.matchingEndDate4.focus();
	  $.notification('对比的时间段4开始时间不应在结束时间后');
	  return false;
   }
   if (!CheckDate(document.Check_Form.matchingDate5,"对比的时间段5开始时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingEndDate5,"对比的时间段5结束时间")) {return false;}
   if ( document.Check_Form.matchingDate5.value >= document.Check_Form.matchingEndDate5.value  && document.Check_Form.matchingEndDate5.value != '')
   {
	  document.Check_Form.matchingEndDate5.focus();
	  $.notification('对比的时间段5开始时间不应在结束时间后');
	  return false;
   }
   if (!CheckDate(document.Check_Form.matchingDate6,"对比的时间段6开始时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingEndDate6,"对比的时间段6结束时间")) {return false;}
   if ( document.Check_Form.matchingDate6.value >= document.Check_Form.matchingEndDate6.value  && document.Check_Form.matchingEndDate6.value != '')
   {
	  document.Check_Form.matchingEndDate6.focus();
	  $.notification('对比的时间段6开始时间不应在结束时间后');
	  return false;
   }
   if (!CheckDate(document.Check_Form.matchingDate7,"对比的时间段7开始时间")) {return false;}
   if (!CheckDate(document.Check_Form.matchingEndDate7,"对比的时间段7结束时间")) {return false;}
   if ( document.Check_Form.matchingDate7.value >= document.Check_Form.matchingEndDate7.value  && document.Check_Form.matchingEndDate7.value != '')
   {
	  document.Check_Form.matchingEndDate7.focus();
	  $.notification('对比的时间段7开始时间不应在结束时间后');
	  return false;
   }
}

var http_request = false;
function AjaxRequest(url,questionHTMLID)
{
	http_request = false;
	if(window.ActiveXObject)
	{
		try  // IE
		{
			http_request = new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
		{
			try
			{
				http_request = new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch (e) {}
		}
	}
	else if(window.XMLHttpRequest)
	{
		// Mozilla, Safari,...
		http_request = new XMLHttpRequest();
		if (http_request.overrideMimeType)
		{
			http_request.overrideMimeType('text/xml');
		}
	}
	
	if (!http_request)
	{
		$.notification("Cannot create an XMLHTTP instance");
		return false;
	}
	http_request.onreadystatechange = function() {
		if (http_request.readyState == 4)
		{
			if(http_request.status == 200)
			{
				var resText = http_request.responseText;
				var theObj = eval("document.getElementById(\"questionOnHTML" + questionHTMLID + "\")");
			    var theRtnText = resText.split('######');
				theObj.innerHTML = theRtnText[0];
				document.getElementById('matchingDate1').value = theRtnText[1];
				document.getElementById('matchingDate2').value = '';
				document.getElementById('matchingDate3').value = '';
				document.getElementById('matchingDate4').value = '';
				document.getElementById('matchingDate5').value = '';
				document.getElementById('matchingDate6').value = '';
				document.getElementById('matchingDate7').value = '';
				document.getElementById('matchingEndDate1').value = '';
				document.getElementById('matchingEndDate2').value = '';
				document.getElementById('matchingEndDate3').value = '';
				document.getElementById('matchingEndDate4').value = '';
				document.getElementById('matchingEndDate5').value = '';
				document.getElementById('matchingEndDate6').value = '';
				document.getElementById('matchingEndDate7').value = theRtnText[2];
			}
			else
			{
				$.notification('网络传输问题');
			}
		}
	}
  	http_request.open('GET', url, true);
	http_request.send(null);
}
function ajax_Submit(url,postStr) {
	var ajax=false; 
	try { ajax = new ActiveXObject("Msxml2.XMLHTTP"); }
	catch (e) { try { ajax = new ActiveXObject("Microsoft.XMLHTTP"); } catch (E) { ajax = false; } }
	if (!ajax && typeof XMLHttpRequest!='undefined') ajax = new XMLHttpRequest(); 

	ajax.open("POST", url, true); 
	ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
	ajax.send(postStr);
	ajax.onreadystatechange = function(){
		if (ajax.readyState == 4)
		{
			if(ajax.status == 200)
			{
				var theRtnText = ajax.responseText.split('######');
				if( theRtnText[0] == 'false')
				{
					document.getElementById("dataMatchingMap").innerHTML = '' ;
                    $.notification(theRtnText[1]);
				}
				else
				{
					document.getElementById("dataMatchingMapTable").style.display = '';
					document.getElementById("dataMatchingMap").innerHTML = theRtnText[1] ;
				}
			}
			else
			{
				$.notification('网络传输问题');
			}
		}	
	} 
}
function DataMatchingSubmit()
{
    if( Check_Form_Validator() != false )
	{
		var matchingType = document.getElementById('matchingType').value;
		var questionID6 = document.getElementById('questionID6').value;
		//var surveyID6 = document.getElementById('surveyID6').value;
		var surveyID6 = {surveyID};
		var matchingDate1 = document.getElementById('matchingDate1').value;
		var matchingDate2 = document.getElementById('matchingDate2').value;
		var matchingDate3 = document.getElementById('matchingDate3').value;
		var matchingDate4 = document.getElementById('matchingDate4').value;
		var matchingDate5 = document.getElementById('matchingDate5').value;
		var matchingDate6 = document.getElementById('matchingDate6').value;
		var matchingDate7 = document.getElementById('matchingDate7').value;
		var matchingEndDate1 = document.getElementById('matchingEndDate1').value;
		var matchingEndDate2 = document.getElementById('matchingEndDate2').value;
		var matchingEndDate3 = document.getElementById('matchingEndDate3').value;
		var matchingEndDate4 = document.getElementById('matchingEndDate4').value;
		var matchingEndDate5 = document.getElementById('matchingEndDate5').value;
		var matchingEndDate6 = document.getElementById('matchingEndDate6').value;
		var matchingEndDate7 = document.getElementById('matchingEndDate7').value;
		var ParamString = "Action=DataMatchingSubmit&matchingType=" + matchingType ;
		ParamString += "&questionID6="+questionID6;
		ParamString += "&surveyID6="+surveyID6;
		ParamString += "&surveyID="+{surveyID};
		ParamString += "&matchingDate1="+matchingDate1;
		ParamString += "&matchingEndDate1="+matchingEndDate1;
		ParamString += "&matchingDate2="+matchingDate2;
		ParamString += "&matchingEndDate2="+matchingEndDate2;
		ParamString += "&matchingDate3="+matchingDate3;
		ParamString += "&matchingEndDate3="+matchingEndDate3;
		ParamString += "&matchingDate4="+matchingDate4;
		ParamString += "&matchingEndDate4="+matchingEndDate4;
		ParamString += "&matchingDate5="+matchingDate5;
		ParamString += "&matchingEndDate5="+matchingEndDate5;
		ParamString += "&matchingDate6="+matchingDate6;
		ParamString += "&matchingEndDate6="+matchingEndDate6;
		ParamString += "&matchingDate7="+matchingDate7;
		ParamString += "&matchingEndDate7="+matchingEndDate7;
		ParamString += "&dataSource=" + getRadioCheckBoxValue(document.Check_Form.dataSource);
		document.getElementById("dataMatchingMapTable").style.display = '';
		document.getElementById("dataMatchingMap").innerHTML = "<div id=\"preloading\" style=\"background-color:#f0f0f0;width:160px;overflow:hidden;white-space:nowrap;color:black;font-weight:bold;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-khtml-border-bottom-right-radius:5px;border-bottom-right-radius:5px;\">&nbsp;<img src=\"..\/Images\/wait.gif\" width=\"16px\" height=\"16px\">&nbsp;正在加载数据分析&nbsp;<\/div>";
		ajax_Submit('DataMatching.php',ParamString);
	}
}
function ResetInit()
{
	document.getElementById("dataMatchingMapTable").style.display = 'none';
	document.getElementById("dataMatchingMap").innerHTML = '' ;
}
function Init(){
	var theSurveyID = {surveyID};
	if( theSurveyID != 0 )
	{
	   AjaxRequest('AjaxMatchingChangeQtn.php?type=6&selectedID='+theSurveyID,6);
	}
}
function copycode(obj) {
	SelectText(obj);
}
function SelectText(element) {
    //var text = document.getElementById(element);
	var text = element;
    if ($.browser.msie) {
        var range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
		range.execCommand("Copy");
		range.collapse(false);
		$.notification("复制分析结果到剪贴板成功");
    } else if ($.browser.mozilla || $.browser.opera) {
        var selection = window.getSelection();
        var range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
		range.execCommand("Copy");
		range.collapse(false);
		$.notification("复制分析结果到剪贴板成功");
    } else if ($.browser.safari) {
        var selection = window.getSelection();
        selection.setBaseAndExtent(text, 0, text, 1);
		$.notification("请再使用CTRL+C进行复制");
    }
}
function gId(_sId){
	return document.getElementById(_sId);
}
</script>
<style>
    .t_table{width:99%;border:1px solid #cacaca;margin-bottom:2px;}
    .t_table tr{height:34px;color:#5d5d5d;}
    .t_table tr th{background-color: #f9f9f9;padding:0 5px;}
    .t_table tr td{padding:0 5px;}
    .t_table tr th{font-weight:bold;}
    .t_table tr th.title,.d_table tr td.title{text-align:left;}    
    .t_table tr td a{color:#3b5888;}
    .t_table tr td a:hover{color:#ff7700;}
    .t_table tr:hover{background-color:transparent}

	.r_table tr,r_table tr td{line-height:20px;}
	input[type=text] {border:1px solid #cacaca;height:20px;font-family: Calibri,"宋体",sans-serif;line-height:20px;vertical-align: middle;}
	select {border:1px solid #cacaca;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;height:22px;line-height:22px;}
	input[type=checkbox]{vertical-align: middle;margin-right:5px}
	input[type=radio]{vertical-align: middle;margin-right:5px}
</style>

<body oncontextmenu="return false" onload="javascript:Init();">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>

	<div class="datacontainer clearfix">
	   <div class="datamain">
			<div class="navmenu">
				<ul class="navOne">
					<li>
						<a href="../Analytics/DataOverview.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">快捷报告<span class="down"></span></a>
						<ul class="navTwo">
							<li class="title">快捷报告</li>
							<li><a href="../Analytics/DataList.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷回复数据</a>
								<ul class="navThree">
									<li><a href="../Analytics/DataOverview.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">回复数据概览</a></li>
									<li><a href="../Analytics/DataList.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">回复数据清单</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷执行进度</a>
								<ul class="navThree">
									<li id="myTask0"><a href="../Analytics/TaskResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">任务执行进度</a></li>
									<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">配额执行进度</a></li>
									<li id="privateNoCommit0"><a href="../System/PrivateNoCommit.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">尚未回复清单</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">分析数据生成</a></li>
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标分析数据</a></li>
									<li id="surveyIndexRank0"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Rank">指标分析排名</a></li>
									<li id="surveyIndexMatch0"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Match">指标分析对比</a></li>
								</ul>
							
							</li>
						</ul>
					</li>

					<li><a href="../Analytics/DataList.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}" id="dataList">回复数据</a></li>

					<li>
						<a href="../Analytics/Frequency.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">常用报告<span class="down"></span></a>
						<ul class="navTwo">
							<li class="title">常用报告</li>
							<li><a href="../Analytics/Frequency.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数频率分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/Frequency.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数频率分析</a></li>
									<li><a href="../Analytics/DataCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数交叉分析</a></li>
								</ul>							
							</li>
							<li><a href="../Analytics/DataCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">交叉数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/DataCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数交叉分析</a></li>
									<li><a href="../Analytics/MeanCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值交叉分析</a></li>
								</ul>						
							</li>
							<li><a href="../Analytics/OptionsCoeff.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/OptionsCoeff.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值数据分析</a></li>
									<li><a href="../Analytics/MeanCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值交叉分析</a></li>
								</ul>						
							</li>
							<li><a href="../Analytics/DataChart.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">数据图形展示</a></li>
							<li><a href="../Math/SingleVariable.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">高阶数理统计</a>
								<ul class="navThree">
									<li><a href="../Math/SingleVariable.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">单变量</a></li>
									<li><a href="../Math/DoubleVariable.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">双变量</a></li>
									<li><a href="../Math/ClusterAnalysis.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">聚类分析</a></li>
								</ul>							
							</li>
							<li><a href="../Analytics/DefineReport.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">自定义报告</a></li>								
						</ul>
					</li>

					<li><a href="../Analytics/ChiSquare.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}" class="cur">扩展分析<span class="down_over"></span></a>
						<ul class="navTwo">
							<li class="title">扩展分析</li>
							<li><a href="../Analytics/ChiSquare.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">卡方分布校验</a>
								<ul class="navThree">
									<li><a href="../Analytics/ChiSquare.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">卡方分布校验</a></li>
									<li><a href="../Analytics/ChiSquareCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">交叉卡方校验</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/LinearRegression.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">线性回归分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/LinearRegression.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">简单线性回归</a></li>
									<li><a href="../Analytics/MultipleRegression.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">多元线性回归</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/TURF.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">TURF分析</a></li>
							<li><a href="../Analytics/PSM.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">价格研究模型</a>
								<ul class="navThree">
									<li><a href="../Analytics/SimpleGG.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">简单GG法</a></li>
									<li><a href="../Analytics/ExtendedGG.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">推广GG法</a></li>
									<li><a href="../Analytics/PSM.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">PSM法</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/CombOptions.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">合并选项报告</a>
							</li>
							<li><a href="../Analytics/DataMatching.php?Type=1&surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷数据对比</a>
								<ul class="navThree">
									<li><a href="../Analytics/DataMatching.php?Type=1&surveyID={surveyID}&surveyTitle={survey_URLTitle}">同一问卷对比</a></li>
									<li><a href="../Analytics/DataMatching.php?Type=2&surveyID={surveyID}&surveyTitle={survey_URLTitle}">不同问卷对比</a></li>
								</ul>
							</li>								
						</ul>
					</li>
					<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">辅助分析<span class="down"></span></a>
						<ul class="navTwo">							
							<li class="title">辅助分析</li>
							<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">分析数据生成</a></li>
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标分析数据</a></li>
									<li id="surveyIndexRank1"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Rank">指标分析排名</a></li>
									<li id="surveyIndexMatch1"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Match">指标分析对比</a></li>
								</ul>
							
							</li>
							<li><a href="../Analytics/PlanResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle} ">计划执行分析</a></li>
							<li><a href="../Analytics/PanelArea.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">地域来源分析</a></li>
							<li><a href="../Stats/index.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">回复时段分析</a>
								<ul class="navThree">
									<li><a href="../Stats/index.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">概要信息</a></li>
									<li><a href="../Stats/YearReport.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">年维度</a></li>
									<li><a href="../Stats/MonthReport.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">月维度</a></li>
									<li><a href="../Stats/DayReport.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">日维度</a></li>
									<li><a href="../Stats/History.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">历史查询</a></li>
								</ul>
							</li>						
						</ul>
					</li>
					<li><a href="../Analytics/EventAward.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">调查辅助<span class="down"></span></a>
						<ul class="navTwo">
							<li class="title">调查辅助</li>
							<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷执行进度</a>
								<ul class="navThree">
									<li id="myTask1"><a href="../Analytics/TaskResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">任务执行进度</a></li>
									<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">配额执行进度</a></li>
									<li id="privateNoCommit1"><a href="../System/PrivateNoCommit.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">尚未回复清单</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/EventAward.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">调查奖励设定</a></li>
							<li><a id="realSurveyGps" href="../Android/BaiduDevicesMap.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}" target=_blank>访员实时定位</a></li>													
						</ul>
					</li>
					<li><a href="../System/AjaxEditSurveyCode.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">基础数据<span class="down"></span></a>						
						<ul class="navTwo">
							<li class="title">基础数据</li>
							<li><a href="../System/AjaxEditSurveyCode.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">基础数据设定</a>
								<ul class="navThree">
									<li><a href="../System/AjaxEditSurveyAlias.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问题别名</a></li>
									<li><a href="../System/AjaxEditSurveyCode.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">选项代码</a></li>
									<li><a href="../System/ShowOptWeight.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">选项分值</a></li>
									<li><a href="../System/ShowOptValue.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">选项数值</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>					
			</div>

			<div class="datacontent">
			<div class="content_tit">
				<div class="clearfix">
				<h1><span class=redtitle>[{surveyTitle}]</span>同一问卷频数频率数据对比</h1>
				<span class="total ml10"></span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">同一调查问卷选择不同的回复时间段对频数频率数据进行对比分析</p>
			</div>
			<form name="Check_Form" id="Check_Form" method="post" action="" onsubmit="return Check_Form_Validator();">
			<div class="content_main" style="margin-top:10px">
				 <script src="../JS/AjaxDataSource.js.php"></script>
				 <script>
				 function refreshDataSource(){
					AjaxShowDataSource({surveyID},1);
				 }
				 function refreshDataSourceName(){
					var dataSourceId = getRadioCheckBoxValue(document.Check_Form.dataSource);
					var objText = eval("document.getElementById('dataSource_'+dataSourceId+'_text')");
					$("#nowDataSource1").html(objText.innerHTML);
					$("#nowDataSource2").html(objText.innerHTML);
				 }
				 </script>
				<div id="dataSourceTable" class="data_analyse clearfix"><div id="dataloading" style="background-color:#f0f0f0;width:160px;overflow:hidden;white-space:nowrap;color:black;font-weight:bold;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-khtml-border-bottom-right-radius:5px;border-bottom-right-radius:5px;">&nbsp;<img src="../Images/wait.gif" width="16px" height="16px">&nbsp;正在加载数据源...&nbsp;</div></div>

			<table class="t_table" style="margin-top:10px">
			   <tr><td align=left bgcolor="#eeeeee" style="border:1px #cacaca solid;height:30px;" colspan=2><b>同一问卷频数频率数据对比</b></td></tr>
					<tr><td valign=center nowrap width=6%><b>对比问卷：</b></td>
					    <td><select name="surveyID6" id="surveyID6" onChange="AjaxRequest('AjaxMatchingChangeQtn.php?type=6&selectedID='+document.Check_Form.surveyID6.options[document.Check_Form.surveyID6.selectedIndex].value,6);" disabled style="width:860px">
						 <option value=''>请选择问卷...</option>
						 {surveyIDList}
						 </select></td></tr>
					<tr><td nowrap><b>对比问题：</b></td>
					    <td><span id="questionOnHTML6"><select name="questionID6" id="questionID6" style="width:860px">
						   <option selected value="{m_questionID}">{m_questionName}</option>
						 </select></span></td></tr>
				   <tr><td nowrap><b>对比时间段1：</b></td>
				       <td>自&nbsp;<input name="matchingDate1" id="matchingDate1" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00&nbsp;&nbsp;&nbsp;至&nbsp;<input name="matchingEndDate1" id="matchingEndDate1" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00</td>
				   </tr>
				   <tr><td nowrap><b>对比时间段2：</b></td>
				       <td>自&nbsp;<input name="matchingDate2" id="matchingDate2" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00&nbsp;&nbsp;&nbsp;至&nbsp;<input name="matchingEndDate2" id="matchingEndDate2" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00</td>
				   </tr>
				   <tr><td nowrap><b>对比时间段3：</b></td>
					   <td>自&nbsp;<input name="matchingDate3" id="matchingDate3" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00&nbsp;&nbsp;&nbsp;至&nbsp;<input name="matchingEndDate3" id="matchingEndDate3" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00</td>
				   </tr>
				   <tr><td nowrap><b>对比时间段4：</b></td>
					    <td>自&nbsp;<input name="matchingDate4" id="matchingDate4" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00&nbsp;&nbsp;&nbsp;至&nbsp;<input name="matchingEndDate4" id="matchingEndDate4" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00</td>
				   </tr>
				   <tr><td nowrap><b>对比时间段5：</b></td>
					    <td>自&nbsp;<input name="matchingDate5" id="matchingDate5" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00&nbsp;&nbsp;&nbsp;至&nbsp;<input name="matchingEndDate5" id="matchingEndDate5" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00</td>
				   </tr>
				   <tr><td nowrap><b>对比时间段6：</b></td>
				       <td>自&nbsp;<input name="matchingDate6" id="matchingDate6" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00&nbsp;&nbsp;&nbsp;至&nbsp;<input name="matchingEndDate6" id="matchingEndDate6" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00</td>
				   </tr>
				   <tr><td nowrap><b>对比时间段7：</b></td>
				       <td>自&nbsp;<input name="matchingDate7" id="matchingDate7" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00&nbsp;&nbsp;&nbsp;至&nbsp;<input name="matchingEndDate7" id="matchingEndDate7" size=12 onfocus="if(this.value=='0000-00-00') this.value=''" onclick="javascript:SelectDate(this,'yyyy-MM-dd')"> 00:00:00</td>
				   </tr>
				   <tr><td colspan=2>
				         <input class=inputsubmit name="submit" type="button" id="submit" value="开始比较" onclick="javascript:DataMatchingSubmit();" style="vertical-align: middle;"> 
						 <input class=inputsubmit name="reset" type="reset" id="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;" onclick="javascript:ResetInit();" style="vertical-align: middle;">
						 <input type="hidden" value="2" name="matchingType" id="matchingType">
					  </td>
					</tr>
				 </table>

				 <table id="dataMatchingMapTable" class="t_table" style="display:none;margin-bottom:0px;margin-top:5px" width=100%>
					<tr><td align=right bgcolor="#eeeeee" style="border:1px #cacaca solid;height:30px;"><a href="javascript:void(0)" onclick="copycode(gId('dataMatchingMap'));"><font color="#444444">复制分析结果到剪贴板</font></a><img src="../Images/list_menu_arrow.gif" border=0>&nbsp;&nbsp;</td></tr>
				    <tr><td id="dataMatchingMap" align=left style="padding-top:5px;padding-bottom:5px;width:100%"></td></tr>
				 </table>
				  </form>
			 </div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/MySetting.js.php?surveyID={surveyID}"></script>
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
	<script type="text/javascript" src="../JS/MyMenu.js.php"></script>
	<script>AjaxShowDataSource({surveyID},1);</script>
</body></html>
