<table width="100%">
<tr>
    <td height=25 class="question" valign=center>S1：{surveyName1}<br>S2：{surveyName2}</td>
</tr>
<tr>
   <td>
	<table style="border:1px solid #cacaca;">
    <!-- BEGIN OPTION -->
	<tr style="color:white;">
	   <td colspan=3 align=left width=50% bgcolor=#cf1100 nowrap><b>S1/Q1:</b> {questionName1}&nbsp;</td>
	   <td colspan=3 align=right width=50% bgcolor=#cf1100 nowrap>&nbsp;<b>S2/Q2:</b> {questionName2}</td>
	</tr>
	<!-- BEGIN DIM -->
	<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"> 
	  <td nowrap>&nbsp;{optionName1}</td>
	  <td align=right valign=center width=60><b>{dimNum1}</b></td>
	  <td align=right valign=center width=60><b>{dimPercent1} %</b></td>
	  <td align=right valign=center width=60><b>{dimNum2}</b></td>
	  <td align=right valign=center width=60><b>{dimPercent2} %</b></td>
	  <td nowrap align=right>&nbsp;{optionName2}</td>
	</tr>
	<!-- END DIM -->
	<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"> 
	  <td nowrap>&nbsp;回复数</td>
	  <td align=right valign=center width=60><b>{dimSum1}</b></td>
	  <td align=right valign=center width=60><b>100%</b></td>
	  <td align=right valign=center width=60><b>{dimSum2}</b></td>
	  <td align=right valign=center width=60><b>100%</b></td>
	  <td nowrap align=right>&nbsp;回复数</td>
	</tr>
    <!-- END OPTION -->
	</table>
</td></tr></table>