<table width="100%">
<tr>
    <td height=25 class="question" valign=center>{questionName}</td>
</tr>
<tr>
   <td>
	<table style="border:1px solid #cacaca;">
	  <tr style="color:white;">
		  <td valign=center align=center bgcolor=#cf1100>&nbsp;</td>
		  <!-- BEGIN TIME -->
	      <td align=center valign=center colspan=2 bgcolor=#cf1100 nowrap><b>{timeName}</b></td>
		  <!-- END TIME -->
	    </tr>
       <!-- BEGIN DIM -->
       <tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"> 
		  <td valign=center nowrap>&nbsp;{dimName}</td>
		  <!-- BEGIN DIMNUM -->
		  <td align=right valign=center width=60 nowrap><b>{dimNum}</b></td>
		  <td align=right valign=center width=60 nowrap><b>{dimPercent}%</b></td>
		  <!-- END DIMNUM -->
	   </tr>
      <!-- END DIM -->
      <tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"> 
		  <td valign=center nowrap>&nbsp;»Ø¸´Êý</td>
		  <!-- BEGIN DIMSUM -->
		  <td align=right valign=center width=60 nowrap><b>{dimSum}</b></td>
		  <td align=right valign=center width=60 nowrap><b>100%</b></td>
		  <!-- END DIMSUM -->
	  </tr>	    
</table></td></tr></table>
