<!-- BEGIN OPTION -->
<table width="100%">
<tr>
    <td height=25 class="question" valign=center>{questionName}</td>
</tr>
<tr>
   <td>
	 <table style="border:1px solid #cacaca;">
		<tr style="color:white;"><td valign=center align=center bgcolor=#cf1100>&nbsp;</td>
		  <!-- BEGIN COLS -->
		  <td align=center valign=center bgcolor=#cf1100 colspan=2 nowrap>&nbsp;<b>{colName}</b></td>
		  <!-- END COLS -->
		  <td align=center valign=center bgcolor=#cf1100 colspan=2>&nbsp;<b>合计</b></td>
		</tr>
		<!-- BEGIN ROWS -->
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td valign=center nowrap>&nbsp;{rowName}</td>
		  <!-- BEGIN CELL -->
		  <td align=center valign=center width=60>&nbsp;<b>{cellNum}</b></td>
		  <td align=center valign=center width=60>&nbsp;{cellPercent}%</td>
		  <!-- END CELL -->
		  <td align=center valign=center width=60>&nbsp;<b>{rowTotalNum}</b></td>
		  <td align=center valign=center width=60>&nbsp;{rowTotalPercent}%</td>
		</tr>
		<!-- END ROWS -->
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"> 
		  <td valign=center>&nbsp;<b>合计</b></td>
		  <!-- BEGIN TOTAL -->
		  <td align=center valign=center width=60>&nbsp;<b>{colTotalNum}</b></td>
		  <td align=center valign=center width=60>&nbsp;{colTotalPercent}</td>
		  <!-- END TOTAL -->
		  <td align=center valign=center width=60>&nbsp;<b>{repTotalAnswerNum}</b></td>
		  <td align=center valign=center width=60>&nbsp;100%</td>
		</tr>
	</table>
  </td>
</tr></table>
<!-- END OPTION -->