<table width="100%" style="margin-bottom:5px;">
<tr>
   <td>
	 <table style="border:1px solid #cacaca;">
		<tr style="color:white;">
		  <td valign=center align=left bgcolor=#cf1100>&nbsp;项目</td>
		  <td align=left valign=center bgcolor=#cf1100 nowrap>值</td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;协方差Covariance</td>
		  <td align=left valign=center nowrap width=110><b>{Covariance}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;相关系数Correlation</td>
		  <td align=left valign=center nowrap width=110><b>{Correlation}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;相关系数显著性Significant of Correlation</td>
		  <td align=left valign=center nowrap width=110><b>{CorrelationSignificant}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;一元线性回归Regression</td>
		  <td align=left valign=center nowrap width=110><b>{Regression}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;未配对T检验t-Test unpaired</td>
		  <td align=left valign=center nowrap width=110><b>{t-TestUnpaired}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;零假设P值(未配对T检验)</td>
		  <td align=left valign=center nowrap width=110><b>{t-TestUnpairedTest}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;配对T检验t-Test paired</td>
		  <td align=left valign=center nowrap width=110><b>{t-TestPaired}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;零假设P值(配对T检验)</td>
		  <td align=left valign=center nowrap width=110><b>{t-TestPairedTest}</b></td>
		</tr>
	</table>
  </td>
</tr></table>