<table width="100%">
<tr>
   <td>
	 <table style="border:1px solid #cacaca;">
	 <tr style="color:white;">
	   <td align=center bgcolor=#cf1100><b>用户节点</b></td>
	   <td align=center bgcolor=#cf1100><b>总分</b></td>
	   {indexNameList}
	</tr>
	<!-- BEGIN DIM -->
	<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"> 
	  <td nowrap>&nbsp;{userGroupName}&nbsp;</td>
	  <td align=center valign=center width=70><b>{surveyGrade}</b></td>
	  {indexValueList}
	</tr>
	<!-- END DIM -->
	</table>
</td></tr></table>