<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>列出录入数据 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/DataIndex.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script language="javascript"> 
function checkall(form) 
{
	if( form.all.checked)
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			if( e.disabled != true ) e.checked = true;
		}
	}
	else
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			if( e.disabled != true ) e.checked = false;
		}
    }
}
function refreshParent() {
   self.location.reload(true);
}
</script>
<style>
	input[type=checkbox]{vertical-align: middle;}
	input[type=text] {border:1px solid #cacaca;height:20px;font-family: Calibri,"宋体",sans-serif;line-height:20px;vertical-align: middle;}
	select {border:1px solid #cacaca;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;height:22px;line-height:22px}
	.classtd{padding-left:0px;padding-right:0px;};
	.inputsubmit{vertical-align: middle;}
</style>
</head>

<body oncontextmenu="return false" onload="javascript:fnLoad(22);" onunload="javascript:fnUnload(22);">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>
	<div class="container clearfix">
	   <div class="main">
		    <div class="nav">
				<a href="ShowMain.php">我的问卷</a>
				{actionSurveyURL}
				<a href="{listURL}" class="cur">列出录入数据</a>
			</div>

		    <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1><span class=redtitle>[{surveyTitle}]</span>列出您已录入的问卷数据</h1>
				<span class="total ml10">[{totalResponseNum}记录]</span>
				<span class="ml10"></span>
				</div>
				<p class="fc_grey">列出已录入的所有问卷数据，可选择对数据进行查看、修改或删除等操作</p>
			</div>
			<div class="content_main" style="margin-top:5px">
				<form name="Ajax_Form" id="Ajax_Form" method="post" action="">
				 <table class="d_table">
				  <tr style="display:{isHaveTask}"><td colspan=7 style="background-color:#fff" style="display:{isHaveTask}" align=right><a href={dataImportURL}><IMG SRC="../Images/excel.gif">&nbsp;导入问卷数据</a>&nbsp;</td></tr>
				   <tr class=coltitle> 
					  <th width=2% align=center noWrap class="classtd"><input name="all" type="checkbox" id="all" value="all" onclick="checkall(this.form)" style="background:#f9f9f9"></th> 
					  <th width=4% noWrap class="classtd" align="center">&nbsp;<b>序号</b></th>
					  <th width=11% noWrap class="classtd" align="left"><b>&nbsp;时间</b></th>
					  <th width=6% noWrap class="classtd" style="text-align:center"><b>审核</b></th>
					  <th noWrap class="classtd" align="left"><b>&nbsp;样本标识</b></th>
					  <th noWrap class="classtd" align="left"><b>&nbsp;地址标识</b></th>
					  <th width=6% align=center nowrap class="classtd"><b>&nbsp;操作</b></th>
				   </tr>
				   <!-- BEGIN LIST -->
				   <tr> 
					  <td align=center nowrap class="classtd"><input name="responseID[]" type="checkbox" id="responseID[]" value="{responseID}" {isDeleAllowed}></td>
					  <td class="classtd" style="background:{noHaveAll};" align=center nowrap>{responseID}&nbsp;</td>
					  <td class="classtd" nowrap>{joinTime}<input name="createDate[{responseID}]" type="hidden" id="createDate" value="{createDate}"><input name="overFlag[{responseID}]" type="hidden" id="overFlag" value="{overFlag}"></td>
					  <td class="classtd" style="background:{authColor};text-align:center;" nowrap>{authStat}</td>
					  <td class="classtd">&nbsp;{administratorsName}</td>
					  <td class="classtd">&nbsp;{ipAddress}</td>
					  <td align=center class="classtd" nowrap>{action}<a href="{deleteURL}" onclick="return window.confirm('您真的想删除该数据吗？本操作不可恢复！?')" style="display:{isDelete}">删除</a></td>
				   </tr>
				   <!-- END LIST -->
				   </table><table width=100%>
				   <tr>
					  <td width=2% class="classtd"></td>
					  <td colspan="6" class="classtd"><input class=stnsubmit name="DeleteSubmit" {isDeleteData} type="submit" id="DeleteSubmit" value="删除选定记录" onclick="return window.confirm('您真的想删除这些记录吗？本操作不可恢复！')"></td>
 					 </td></tr>
				  </table>
				   </form>
				<div class=pages>{pagesList}</div>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/MySetting.js.php?surveyID={surveyID}"></script>
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
	<script type="text/javascript" src="../JS/Position.js.php"></script>
</body></html>
