<tr>
    <td height=25 class="question" valign=center>{questionName}</td>
</tr>
<tr><td>
	 <table style="border:1px solid #cacaca;">
		<tr style="color:white;">
		    <td bgcolor=#cf1100 align=center>&nbsp;<b>枚举项</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;<b>回复</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;<b>回复百分比</b></td>
			<td bgcolor=#cf1100 align=left>&nbsp;<b>百分比图示</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;<b>缺失</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;<b>缺失百分比</b></td>
			<td bgcolor=#cf1100 align=left>&nbsp;<b>百分比图示</b></td>
			<td bgcolor=#cf1100 align=center>&nbsp;</td>
		</tr>
		<!-- BEGIN OPTION -->
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca"><td nowrap align=center>&nbsp;{optionName}</td>
			<td nowrap align=center>&nbsp;<b>{answerNum}</b></td>
			<td nowrap align=center>&nbsp;{optionPercent} %</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{optionPercent}%"></td>
			<td nowrap align=center>&nbsp;<b>{item_skip_answerNum}</b></td>			
			<td align=center>&nbsp;{item_skip_optionPercent} %</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{item_skip_optionPercent}%"></td>
			<td style="background-color:#ffffff" class="answer">&nbsp;<a href="ShowUserDefine.php?type=list&surveyID={surveyID}&questionID={questionID}&surveyTitle={surveyName}&isComb={isComb}&pageNum={pageID}&dataSourceId={dataSourceId}&orderQtn={optionName}"><b>显示回复的值</b></a></td>
		</tr>
	 <!-- END OPTION -->
	</table>
	  <table cellSpacing=0 cellPadding=0>
	    <tr><td nowrap><b>整题跳过</b></td>
			<td width=10></td>
			<td nowrap align=right class="answer">{skip_answerNum}</td>
			<td width=10></td>
			<td nowrap width=170 class="answer"><img height=10 src="{imagePath}Images/bar.gif" width="{skip_optionPercent}%"></td>
			<td>&nbsp;{skip_optionPercent} %</td>
	  </tr></table>
</td></tr>
