<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=content-type content="text/html; charset=gbk">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{surveyTitle}</title>
	<link href="CSS/LoginUI.css" rel="stylesheet" type="text/css"/>
	<script src="JS/CheckCookie.js.php"></script>
	<script src="JS/AjaxLogin.js.php"></script>
	<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
	<script type="text/javascript" src="JS/Jquery.notification.js.php"></script>
	<link type="text/css" rel="stylesheet" href="CSS/Notification.css" />
	<script language=javascript src="JS/Md5.js.php"></script>
	<script src="JS/CheckQuestion.js.php"></script>
	<script language=javascript>
	function AJAX_Login_Form_Validator()
	{
		if (!CheckNotNull(document.AJAXLoginForm.username, "邮件账号/昵称")) {return false;}
		//if (!CheckEmail(AJAXLoginForm.username,"邮件账号")) {return false;}
		if (!CheckNotNull(document.AJAXLoginForm.password, "密码")) {return false;}
	}

	function Login_Form_Submit()
	{
		if( AJAX_Login_Form_Validator() != false)
		{
			username = Trim(document.AJAXLoginForm.username.value);
			password = hex_md5(Trim(document.AJAXLoginForm.password.value));
			AjaxLoginSubmitRequest('WebAPI/AjaxLogin.php?Task=CheckLogin&surveyID={surveyID}&Username='+username+'&Hash='+password);
		}
	}
	</script>
</head>
<body style="padding-bottom:50px;">
	<header class="iheader">
		<div class="theader">会员登录</div>
	</header>
	<div class="content">
		<form name="AJAXLoginForm" id="AJAXLoginForm" action="" method="post">
		<ul class="unstyled">
		<li>
			<div class="topic_input">
				<div class="topic_bel"> <i class="ico_u"></i></div>
				<div class="topic_ipt">
					<input id="username" type="text" name="username" placeholder="邮件账号/昵称" />
				</div>
			</div>
		</li>
		<li>
			<div class="topic_input">
				<div class="topic_bel"> <i class="ico_p"></i></div>
				<div class="topic_ipt">
					<input id="password" type="password" name="password" placeholder="密码" />
				</div>
			</div>
		</li>
		</ul>
		<a href="javascript:Login_Form_Submit();" class="button blue">登 录</a>
		<p class="tips"><a href={regURL} target="_blank" style="display: block;
		float: left;">注册账号</a><a href={forURL} target="_blank">忘记密码？</a></p>
		<input type="hidden" name="ajaxRtnValue" id="ajaxRtnValue">
		<input type="hidden" name="Action" value="PassPortSubmit">
		<input type="hidden" name="isPublic" value="0">
		<input type="hidden" name="isUseOriPassport" value="1">
		<input type="hidden" value=1 name=remberme>
		</form>
	</div>
<SCRIPT>_GetCookies();</script>
</body>
</html>
