<tr><td class="question">{questionName}</td></tr>
<tr><td>
   <table style="border:1px solid #cacaca;margin-bottom:5px">
    <tr style="border-bottom:1px solid #cacaca"><td>&nbsp;</td>
		<!-- BEGIN ANSWER -->
		<td class="option" align="center">{optionLabelName}</td>
		<!-- END ANSWER -->
	</tr>	
    <!-- BEGIN OPTION -->
    <tr style="border-bottom:1px solid #cacaca">
		<td class="option">{optionName}</td>
		<!-- BEGIN SUBOPTION -->
		<td class="answer" align="center"><font color=red>{optionAnswer}</font></td>
		<!-- END SUBOPTION -->
   </tr>
	<!-- END OPTION -->
  </table>
</td></tr>