<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>管理样本分组 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script language=javascript>
function checkall(form) 
{
	if( form.all.checked)
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			e.checked = true;
		}
	}
	else
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			e.checked = false;
		}
    }
}
function refreshParent() {
   self.location.reload(true);
}
</script>
<style>
	input[type=text] {border:1px solid #cacaca;height:18px;font-family: Calibri,"宋体",sans-serif;line-height:18px;vertical-align: middle;}
	select {border:1px solid #cacaca;height:20px;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;}
	input[type=checkbox] {vertical-align: middle;}
</style>
</head>
<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="sidebar_show"></div>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>

	<div class="container clearfix">
		<div class="sider_bar">
			<div class="sider_menu">
				<a class="sider_menu_title cur" onclick="menuToggle('sider_menu_list_1')">管理调查样本</a>
				<ul class="sider_menu_list" id="sider_menu_list_1">
					<li><a href="../System/ShowMembersList.php">管理调查样本</a></li>
					<li><a href="../System/MembersOptionFields.php">定义样本属性</a></li>
					<li><a href="../System/ShowMemberGroupList.php" class="sel">管理样本分组</a></li>
					<li><a href="../System/MembersConfig.php">样本管理设置</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
		    <div class="nav">
				<a href="../System/ShowMembersList.php">调查样本</a>
				<a href="../System/MembersOptionFields.php">样本属性</a>
				<a href="../System/ShowMemberGroupList.php" class="cur">样本分组</a>
				<a href="../System/MembersConfig.php">管理设置</a>
			</div>			

		   <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>管理样本分组</h1>
				<span class="total ml10">[{recNum}分组]</span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">管理调查样本分组，分组是抽样的重要属性条件</p>
			</div>
			<div class="content_main" style="margin-top:10px">
			 <form name="Check_Form" id="Check_Form" method="post" action="">
			   	<table class="d_table">
				<tr class=coltitle> 
					 <th width=10% align=center noWrap><input name="all" type="checkbox" id="all" value="all" onclick="checkall(this.form)" style="background:#f9f9f9">&nbsp;<b>删除</b></th>
					 <th width=* align=left><b>样本分组名</b></td>
					 <th width=10% noWrap align=center><b>操作</b></td>
				</tr>

				<!-- BEGIN GROUPS -->
				<tr> 
				    <td width=10% align=center noWrap><input name="ID[]" type="checkbox" id="ID[]" value="{ID}"></td>
					<td>&nbsp;<input name="administratorsGroupName[{ID}]" type="text" id="administratorsGroupName[{ID}]" value="{administratorsGroupName}" size=60></td>
					<td align=center><A href="javascript:void(0);" onClick="javascript:showPopWin('{memberURL}', 700, 470, refreshParent, null,'设定样本分组成员');">成员({membersNum})</a></td>
				</tr>
				<!-- END GROUPS -->
				<tr><td width=10% noWrap align=center><b>新增</b></td>
					<td noWrap>&nbsp;<input name="administratorsGroupName_new" type="text" size=60></td>
					<td>&nbsp;</td>
				</tr></table>
				<table width=100% style="border:0px;">
					  <tr align="center"> 
						  <td height="15" style="border:0px;"><input name="UpdateSubmit" type="submit" class=inputsubmit id="UpdateSubmit" value="数据提交"></td>
					 </tr>
			  </table>
 			</form>
			  <table style="border:0px;margin-top:15px;margin-bottom:15px" class="n_table">
				<tr> 
				 <td style="border:0px;padding-left:0px;">
				 <IMG SRC="../Images/notes.gif">：“成员”内的数字表明该样本分组目前已有的样本数；<br>
				 <IMG SRC="../Images/clerk.gif">：注意“样本分组名”前的选择框，选中后点击“数据提交”表明删除该条记录；<br>
				 <IMG SRC="../Images/clerk.gif">：数据的修改和新增只需要在对应的输入框直接修改或输入，完毕后点击“数据提交”即可。
				</td></tr>
			 </table>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
</body></html>
