<html>
<head>
<title>忘记密码重新发送</title>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="CSS/Phone.css">
	<script language=javascript src="JS/CheckQuestion.js.php"></script>
	<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
	<script type="text/javascript" src="JS/Jquery.android.js.php"></script>
<style>
	@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
	@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
	@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}
</style>
	<SCRIPT type=text/javascript>
		function CheckEmailValid()
		{
			var ValueRtn = true;
			if (!CheckNotNull(document.GetPassForm.administratorsName, "邮件账号")) {ValueRtn = false;}
			if (!CheckEmail(document.GetPassForm.administratorsName,"邮件账号")) {ValueRtn = false;}
			return ValueRtn;
		}

		function Check_Form_Validator()
		{
			if (!CheckEmailValid()) {return false;}
			if (!CheckNotNull(document.GetPassForm.answerPass,"密码保护答案")) {return false;}
		}
	</SCRIPT>
<style>
	td {padding:2px 5px 2px 5px;height:34px;font-size:12px}
</style>
</head>
<body oncontextmenu="return false" style="background:#f9f9f9;color:#000;margin:0px;">
	<div class="titlebar">
	 <table width=100%>
	   <tr><td align=left width=* class="pageTitle" style="height:23px;padding-left:0px;">忘记密码重新发送</td></tr>
	 </table>
	</div>

	<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
	<form id=GetPassForm name=GetPassForm action="" method=post onsubmit="return Check_Form_Validator()">
	<table style="LINE-HEIGHT: 150%;border-collapse:collapse;border-top:0px" cellSpacing=0 cellPadding=0 width="100%" borderColor=#ccc border=1>
	  <tr> 
		 <td valign=center><SPAN class=red>*</SPAN> 邮件帐号</td>
		 <td style="font-size:12px"><input id=administratorsName name=administratorsName type="text" size=30><br/>填写您申请账号时的 Email地址</td>
	  </tr>
	  <tr> 
		   <td height="25" valign=center width=19% nowrap><SPAN class=red>*</SPAN> 密码保护问题</td>
		   <td><SELECT id=hintPass name=hintPass> 
					<option value=1>最喜欢的宠物名字？</option> 
					<option value=2>最喜欢的电影名字？</option> 
					<option value=3>最喜欢的歌曲名字？</option> 
					<option value=4>爱人的名字？</option> 
					<option value=5>父亲的名字？</option>
					<option value=6>第一所中学的校名？</option> 
					<option value=7>第一个孩子的爱称？</option> 
					<option value=8>第一部移动电话的牌子？</option> 
					<option value=9>最喜欢的运动项目？</option> 
					<option value=10>最喜欢的运动队名字？</option>
					<option value=11>您的身份证号？</option>
					<option value=12>您的护照号？</option>
					<option value=13>您的驾驶证号？</option>
					<option value=14>您的工作证号？</option>
					<option value=15>您参加工作的日期？</option>
					<option value=16>您的生日？</option>
				</SELECT><br/><span style="font-size:12px">填写您申请账号时设置的"密码保护问题"</span></td>
	   </tr>
	   <tr> 
		   <td><SPAN class=red>*</SPAN> 密码保护答案</td>
		   <td style="font-size:12px"><input id=answerPass name=answerPass type="text"><br/>填写您申请账号时设定"密码保护问题"的答案</td>
	   </tr>
	  </table>
	  <table width=100% style="border:0px">
	  <tr><td style="border:0px"> 
		  <input name="Action" type="hidden" id="Action" value="GetPasswordSubmit">
		  <input type="hidden" name="qid" id="qid" value="{qid}">
		  <input class=btn type="submit" name="submit" value=" 确定 ">
		  <input class=btn name="submit2" type="reset" value=" 重置 "> 
		</td>
	  </tr>
	 </form>
	</table>			
<script>
//重新定义告警函数
(function ($) {
	$.notification = function (message) {
		alert(message);
	};
})(jQuery);
</script>
<script>scroll(0,0);</script>
</body>
</html>
