<tr><td class="question">{questionName}</td></tr>
<tr><td>
	<table style="border:1px solid #cacaca;">
    <tr style="color:white;">
	    <td bgcolor=#cf1100>&nbsp;</td>
		<!-- BEGIN ANSWER -->
		<td class="option" align="center" bgcolor=#cf1100 style="padding-left:15px;padding-right:15px;color:white;" nowrap><b>{optionLabelName}</b></td>
		<!-- END ANSWER -->
	</tr>	
    <!-- BEGIN OPTION -->
    <tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		<td class="option" style="padding-left:15px;padding-right:15px" nowrap>{optionName}</td>
		<!-- BEGIN SUBOPTION -->
		<td class="answer" align="center"><a href="ShowUserDefine.php?type={textType}&surveyID={surveyID}&questionID={questionID}&optionID={optionID}&labelID={labelID}&surveyTitle={surveyName}&isComb={isComb}&pageNum={pageID}&dataSourceId={dataSourceId}"><b>œ‘ æ({answerNum})</b></a></td>
		<!-- END SUBOPTION -->
   </tr>
	<!-- END OPTION -->
  </table>
</td></tr>