<html>
<head>
<meta http-equiv=content-language content=zh-cn>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<style>
 td { padding:2px 5px 2px 5px;}
 select,img {vertical-align: middle;}
</style>
<link href="../CSS/Base.css" rel=stylesheet>
<LINK href="../CSS/Window.css" type=text/css rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script language=javascript src="../JS/Textarea.js.php"></script>
<script language=javascript src="../JS/HighLight.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="../CSS/Notification.css" />
<script language=javascript src="../JS/CheckQuestion.js.php"></script>
<script language=javascript src="../JS/CheckAlias.js.php"></script>
<script type="text/javascript" src="../JS/TableRows.js.php"></script>
<script language=javascript src="../JS/TheEditor.js.php"></script>
<script language=javascript>
var editTextRange;
function Check_Form_Validator()
{
	if (!CheckNotNull(document.Check_Form.questionName, "题目文字")) {return false;}
	if ( Trim(document.Check_Form.elements[6].value) == "" ) 
	{
		 document.Check_Form.elements[6].focus();
		 $.notification('请至少选择输入一个矩阵问题!');
		 return false;
	}
	
	//开始检查选项的个数
	if ( document.Check_Form.requiredMode.checked)
	{
		//开始检查
		var theLength = document.getElementById('theOptionTable').rows.length;
		for( o=0;o<theLength;o++)
		{
			var j = o+1;
			var theOptionID = eval("document.getElementById('optionID_" + j +"')");
			var theMinOption = eval("document.getElementById(\"minOption_" + j + "\")");
			var theMinNextOption,theMinLastOption,k;
			var theRangeMaxRow = theLength - 1;
			switch(j)
			{
				case 1:
					if( theOptionID != null )
					{
						k = j+1;
						theMinNextOption = eval("document.getElementById(\"minOption_" + k + "\")");
						if( Trim(theOptionID.value) != "" && Number(theMinOption.value) < Number(theMinNextOption.value) )
						{
							theMinOption.focus();
							$.notification('"要求矩阵问题的回复是逐级掩蔽的"模式开启下，要求最少选项数必须大于下个问题的最少选项数');
							return false;
						}
					}
				break;
				case theRangeMaxRow:
					if( theOptionID != null )
					{
						k = j-1;
						theMinLastOption = eval("document.getElementById(\"minOption_" + k + "\")");
						if( Trim(theOptionID.value) != "" && Number(theMinOption.value) > Number(theMinLastOption.value) )
						{
							theMinOption.focus();
							$.notification('"要求矩阵问题的回复是逐级掩蔽的"模式开启下，要求最少选项数必须小于上个问题的最少选项数');
							return false;
						}
					}
				break;
				default:
					if( theOptionID != null )
					{
						k = j+1;
						var theMinNextOption = eval("document.getElementById(\"minOption_" + k + "\")");
						if( Trim(theOptionID.value) != "" && Number(theMinOption.value) < Number(theMinNextOption.value) )
						{
							theMinOption.focus();
							$.notification('"要求矩阵问题的回复是逐级掩蔽的"模式开启下，要求最少选项数必须大于下个问题的最少选项数');
							return false;
						}

						k = j-1;
						var theMinLastOption = eval("document.getElementById(\"minOption_" + k + "\")");
						if( Trim(theOptionID.value) != "" && Number(theMinOption.value) > Number(theMinLastOption.value) )
						{
							theMinOption.focus();
							$.notification('"要求矩阵问题的回复是逐级掩蔽的"模式开启下，要求最少选项数必须小于上个问题的最少选项数');
							return false;
						}
					}
				break;
			}
		}
	}
	else
	{
		var theValue = document.getElementById("optionAnswer").value;
		var theValueString = theValue.replace(/\n/g,"######");
		var theStringArray = theValueString.split("######");
		var theArrayLength = theStringArray.length;
		for(u=0;u<theStringArray.length;u++)
		{
		   if( Trim(theStringArray[u]) == '' )
		   {
			   theArrayLength --;
		   }
		}
		//开始检查
		var theLength = document.getElementById('theOptionTable').rows.length;
		for( o=0;o<theLength;o++)
		{
			var j = o+1;
			var theOptionID = eval("document.getElementById('optionID_" + j +"')");
			var theMinOption = eval("document.getElementById(\"minOption_" + j + "\")");
			var theMaxOption = eval("document.getElementById(\"maxOption_" + j + "\")");

			if( theOptionID != null )
			{
				if( Trim(theOptionID.value) != "" )
				{
					if (!CheckMinMaxNum(theMinOption, "要求的输入最少选项数")) {return false;}
					if (!CheckMinMaxNum(theMaxOption, "要求的输入最多选项数")) {return false;}
					if ( Trim(theMaxOption.value) != '' && Trim(theMinOption.value) != '' && Number( theMaxOption.value ) < Number(theMinOption.value) )
					{
						theMaxOption.focus();
						$.notification('最多选项数必须大于最少选项数');
						return false;
					}
					if( Trim(theMinOption.value) != '' && Number( theMinOption.value ) > theArrayLength )
					{
						theMinOption.focus();
						$.notification('矩阵选项的数目总和必须大于最少选项数');
						return false;
					}
					if( document.Check_Form.isSelect.checked && Number( theMinOption.value ) > 1 )
					{
						theMinOption.focus();
						$.notification('"矩阵选项中最后一项为排除性选项"模式开启下，最少选项数不能大于1');
						return false;
					}
				}
			}
		}
	}
	if (!CheckNotNull(document.Check_Form.optionAnswer, "矩阵选项")) {return false;}
}
//检查输入内容是否为数字
function CheckMinMaxNum(objField, strText) {
  if (objField.value == "") return true;
  var RE = new RegExp("[^0-9]");
  if (objField.value.search(RE) != -1) {
    objField.focus();
    $.notification("“" + strText + "”中只能填写整数！");
    return false;
  }
  return true;
}
function checkIsNeg()
{
   if (document.Check_Form.isSelect.checked)
   {
		document.Check_Form.requiredMode.disabled  = true
		document.Check_Form.isCheckType.disabled  = true
   } 
   else
   {
		document.Check_Form.requiredMode.disabled  = false
		if (document.Check_Form.requiredMode.checked)
		{
			document.Check_Form.isCheckType.disabled  = false
		}
		else
		{
			document.Check_Form.isCheckType.disabled  = true
		}
   }
}
function checkRequiredMode()
{
   if (document.Check_Form.requiredMode.checked)
   {
		document.Check_Form.isSelect.disabled  = true
		document.Check_Form.isRandOptions.disabled  = true
		document.Check_Form.isCheckType.disabled  = false
   } 
   else
   {
		document.Check_Form.isSelect.disabled  = false
		document.Check_Form.isRandOptions.disabled  = false
		document.Check_Form.isCheckType.checked  = false
		document.Check_Form.isCheckType.disabled  = true
   }
}
function checkIsRandOptions()
{
   if (document.Check_Form.isRandOptions.checked)
   {
		document.Check_Form.requiredMode.disabled  = true
		document.Check_Form.isCheckType.disabled  = true
   } 
   else
   {
		document.Check_Form.requiredMode.disabled  = false
		if (document.Check_Form.requiredMode.checked)
		{
			document.Check_Form.isCheckType.disabled  = false
		}
		else
		{
			document.Check_Form.isCheckType.disabled  = true
		}
   }
}
function checkIsRequired(optionOrderID)
{
   var theMinOption = eval("document.getElementById(\"minOption_" + optionOrderID + "\")");
   var theMaxOption = eval("document.getElementById(\"maxOption_" + optionOrderID + "\")");
   var theIsRequired = eval("document.getElementById(\"isRequired_" + optionOrderID + "\")");
   if( theIsRequired.checked)
   {
      theMinOption.disabled = false;
      theMaxOption.disabled = false;
	  return 1;
   }
   else
   {
      theMinOption.disabled = true;
      theMaxOption.disabled = true;
	  return 0;
   }
}

function Init()
{
	checkIsNeg();
	checkIsRandOptions();
	checkRequiredMode();
	var theLength = document.getElementById('theOptionTable').rows.length;
	for( o=0;o<theLength;o++)
	{
		var m = o+1;
		var theIsHaveText = eval("document.getElementById(\"isRequired_" + m + "\")");
		if( theIsHaveText != null) {checkIsRequired(m);}
	}
}
function submitForm(actionName)
{
	if( Check_Form_Validator() != false )
	{
		document.getElementById('AddMultipleSubmit').disabled = true;
		disabledStyle(document.getElementById('AddMultipleSubmit'));
		document.getElementById('AddMultipleOver').disabled = true;
		disabledStyle(document.getElementById('AddMultipleOver'));
		document.getElementById('close').disabled = true;
		disabledStyle(document.getElementById('close'));
		document.getElementById('Action').value = actionName;
		document.Check_Form.submit();
	}
}
</script>
<meta content="mshtml 6.00.3790.0" name=generator></head>
<body oncontextmenu="return false" onload="javascript:Init();">
   <form method="post" action="" name="Check_Form" id="Check_Form" onsubmit="return false;">
  <table class=datatable style="line-height: 150%;border-collapse:collapse;" cellspacing=0 cellpadding=0 bordercolor=#cacaca border=1 width=100%>
   <div class=position>位置：&nbsp; 我的问卷 &raquo; 编辑问卷问题 &raquo; 矩阵多选题</div>
   <tr><td bgcolor="#e9e9e9"><b>编辑问卷问题</b></td></tr>
   <tr><td>&nbsp;<span style="font-size:14px;font-weight:bold;">矩阵多选题</span>&nbsp;
     <a onmouseover="this.T_WIDTH=446;this.T_PADDING=0;this.T_BGCOLOR='#ffffff'; return escape('<img src=../Images/Example/example_multiple.jpg width=446 align=center>')" href="javascript:void(0);"><font color=red>图例</font></a></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;关于...</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>   <tr><td>&nbsp;矩阵多选题即表格类多选题，表格的行一般为多选类问题，表格的列为备选的问题选项，矩阵的每个单元格内为普通的多选按钮。</td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;题目文字</b>&nbsp;<img src="../Images/info.gif" border=0>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertImage.php', 590, 250, null, null,'插入图片或视频');}"><font color=red><b>插入图片或视频</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
	 &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertAnswer.php?&surveyID={surveyID}&orderByID={orderByID}', 700, 160, null, null,'插入前述问题的答案');}"><font color=red><b>插入前述问题答案</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
	 &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:{var textEditor = document.getElementById('questionName');textEditor.focus();editTextRange = textEditor.document.selection.createRange();showPopWin('../System/ShowInsertKish.php?&surveyID={surveyID}&orderByID={orderByID}', 700, 160, null, null,'插入针对前述问题的Kish抽样结果');}"><font color=red><b>插入Kish抽样结果</font></b></a><img src="../Images/list_menu_arrow.gif" border=0>
   </td></tr>
   <tr><td>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Bold')"><img src="../Images/Editor/bold.gif" WIDTH="20" HEIGHT="20" title="Bold"></a>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Italic')"><img src="../Images/Editor/italic.gif" WIDTH="20" HEIGHT="20" title="Italic"></a>
	  <a href="javascript:void(0)" onclick="doMyExecCommand('Underline')"><img src="../Images/Editor/underline.gif" WIDTH="20" HEIGHT="20" title="Underline"></a>
	  <img src="../Images/Editor/separator.gif" WIDTH="5" HEIGHT="20">
 	  <select onchange="doMySelectClick('FontSize',this);" style="width: 75px;margin-bottom:4px;">
          <option>字体大小</option>
          <option VALUE="12">12</option>
          <option VALUE="14">14</option>
          <option VALUE="16">16</option>
          <option VALUE="18">18</option>
          <option VALUE="20">20</option>
          <option VALUE="22">22</option>
          <option VALUE="24">24</option>
          <option VALUE="30">30</option>
          <option VALUE="36">36</option>
      </select>
      <select name="ForeColor" onChange="doMyFormat('ForeColor',this[this.selectedIndex].style.color); this.selectedIndex=0" style="width: 80px;margin-bottom:4px;">
		  <option selected>文字颜色
		  <option style="BACKGROUND: #000000; Color: #000000">Black</option>
		  <option style="BACKGROUND: #FFFFFF; Color: #FFFFFF">White</option>
		  <option style="BACKGROUND: #0000FF; Color: #0000FF">Blue 1</option>
		  <option style="BACKGROUND: #2222FF; Color: #2222FF">Blue 2</option>
		  <option style="BACKGROUND: #4444FF; Color: #4444FF">Blue 3</option>
		  <option style="BACKGROUND: #6666FF; Color: #6666FF">Blue 4</option>
		  <option style="BACKGROUND: #333333; Color: #333333">Gray 1</option>
		  <option style="BACKGROUND: #666666; Color: #666666">Gray 2</option>
		  <option style="BACKGROUND: #999999; Color: #999999">Gray 3</option>
		  <option style="BACKGROUND: #EEEEEE; Color: #EEEEEE">Gray 4</option>
		  <option style="BACKGROUND: #004000; Color: #004000">Green 1</option>
		  <option style="BACKGROUND: #006000; Color: #006000">Green 2</option>
		  <option style="BACKGROUND: #008000; Color: #008000">Green 3</option>
		  <option style="BACKGROUND: #00A000; Color: #00A000">Green 4</option>
		  <option style="BACKGROUND: #FF0000; Color: #FF0000">Red 1</option>
		  <option style="BACKGROUND: #FF2222; Color: #FF2222">Red 2</option>
		  <option style="BACKGROUND: #FF4444; Color: #FF4444">Red 3</option>
		  <option style="BACKGROUND: #FF6666; Color: #FF6666">Red 4</option>
		  <option style="BACKGROUND: #FFFF00; Color: #FFFF00">Yellow 1</option>
		  <option style="BACKGROUND: #FFFF33; Color: #FFFF33">Yellow 2</option>
		  <option style="BACKGROUND: #FFFF66; Color: #FFFF66">Yellow 3</option>
		  <option style="BACKGROUND: #FFFF99; Color: #FFFF99">Yellow 4</option>
	  </select>
	  <select name="fontbackground" onChange="doMyFormat('BackColor',this[this.selectedIndex].style.color); this.selectedIndex=0" style="width: 80px;margin-bottom:4px;">
		  <option selected>文字底色</option>
		  <option style="BACKGROUND: #000000; Color: #000000">Black</option>
		  <option style="BACKGROUND: #FFFFFF; Color: #FFFFFF">White</option>
		  <option style="BACKGROUND: #0000FF; Color: #0000FF">Blue 1</option>
		  <option style="BACKGROUND: #2222FF; Color: #2222FF">Blue 2</option>
		  <option style="BACKGROUND: #4444FF; Color: #4444FF">Blue 3</option>
		  <option style="BACKGROUND: #6666FF; Color: #6666FF">Blue 4</option>
		  <option style="BACKGROUND: #333333; Color: #333333">Gray 1</option>
		  <option style="BACKGROUND: #666666; Color: #666666">Gray 2</option>
		  <option style="BACKGROUND: #999999; Color: #999999">Gray 3</option>
		  <option style="BACKGROUND: #EEEEEE; Color: #EEEEEE">Gray 4</option>
		  <option style="BACKGROUND: #004000; Color: #004000">Green 1</option>
		  <option style="BACKGROUND: #006000; Color: #006000">Green 2</option>
		  <option style="BACKGROUND: #008000; Color: #008000">Green 3</option>
		  <option style="BACKGROUND: #00A000; Color: #00A000">Green 4</option>
		  <option style="BACKGROUND: #FF0000; Color: #FF0000">Red 1</option>
		  <option style="BACKGROUND: #FF2222; Color: #FF2222">Red 2</option>
		  <option style="BACKGROUND: #FF4444; Color: #FF4444">Red 3</option>
		  <option style="BACKGROUND: #FF6666; Color: #FF6666">Red 4</option>
		  <option style="BACKGROUND: #FFFF00; Color: #FFFF00">Yellow 1</option>
		  <option style="BACKGROUND: #FFFF33; Color: #FFFF33">Yellow 2</option>
		  <option style="BACKGROUND: #FFFF66; Color: #FFFF66">Yellow 3</option>
		  <option style="BACKGROUND: #FFFF99; Color: #FFFF99">Yellow 4</option>
	  </select>	
    <textarea rows=5 cols=125 name="questionName" id="questionName" tabIndex=1>{questionName}</textarea>  <a href="javascript:resizeTextHeight('questionName',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('questionName',-1);"><img src="../Images/jian.gif"></a>
   </td></tr>
   <tr height="28"><td valign=center>&nbsp;问题别名&nbsp;<img src="../Images/info.gif" border=0>&nbsp;&nbsp;<input class="textInput" name="alias" type="text" id="alias" size="20" onkeypress="checkAliasValid()"  style="ime-mode:disabled" onPaste="return false;" onKeyUp="AliasAjaxRequest('AjaxCheckQtnAlias.php?alias='+this.value+'&oldName={alias}&surveyID={surveyID}');" value="{alias}">&nbsp;* 使用汉语拼音或者英文名称&nbsp;&nbsp;<span id="alias_info"></span></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td>&nbsp;有关问题的说明或问题回复提示&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td><textarea rows=3 cols=125 name="questionNotes" id="questionNotes" tabIndex=1>{questionNotes}</textarea>  <a href="javascript:resizeTextHeight('questionNotes',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('questionNotes',-1);"><img src="../Images/jian.gif"></a></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;矩阵问题</b>&nbsp;(在此输入问题，每个问题一行)&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <!--<tr><td><textarea rows=6 cols=125 name="optionName" id="optionName">{optionName}</textarea> <a href="javascript:resizeTextHeight('optionName',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('optionName',-1);"><img src="../Images/jian.gif"></a></td></tr>-->
   <tr><td style="margin:0px;padding:0px">
    <table id="theOptionTable" style="LINE-HEIGHT: 150%;border-collapse:collapse;" cellSpacing=0 cellPadding=0 width="100%" borderColor=#999999 border=1 style="margin:0px;padding:0px">
	 <tr bgcolor="#cccccc">
	     <td width=3% nowrap>&nbsp;<a href="javascript:void(0)" onclick="insertMultipleRow(document.getElementById('theOptionTable').rows.length)" title="增加问题"><img src="../Images/jia.gif" border=0></a>&nbsp;<a href="javascript:void(0)" onclick="deleteMultipleRow()" title="减少问题"><img src="../Images/jian.gif" border=0></a></td>
	     <td width=47%>&nbsp;<b>矩阵问题</b>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="javascript:showPopWin('../System/ShowBatchOption.php?isRange=7', 590, 290, null, null,'批量增加问题');"><font color=red><b>批量增加问题</font></b></a></td>
		 <td width=7% align=center><b>必答</b></td>
		 <td width=40%>&nbsp;<b>选项控制</td></tr>
	 <!-- BEGIN OPTION -->
	 <tr><td align=center>&nbsp;{optionOrderID}：</td>
	     <td><input size=60 name="optionID[{optionOrderID}]" id="optionID_{optionOrderID}" value="{optionName}">&nbsp;</td>
		 <td align=center>&nbsp;<input type="checkbox" value="1" name="isRequired[{optionOrderID}]" id="isRequired_{optionOrderID}" {isRequired} onclick="checkIsRequired({optionOrderID});">&nbsp;</td>
		 <td>&nbsp;最少选项：<input name="minOption[{optionOrderID}]" id="minOption_{optionOrderID}" type="text" size=4 value="{minOption}">&nbsp;最多选项：<input name="maxOption[{optionOrderID}]" type="text" size=4 id="maxOption_{optionOrderID}"  value="{maxOption}"></td>
	 </tr>
	 <!-- END OPTION -->
     </table></td>
   </tr>

   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;矩阵选项</b>&nbsp;(在此输入选项，每个选项一行)&nbsp;<img src="../Images/info.gif" border=0>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="javascript:showPopWin('../System/ShowNormalOption.php?isRange=1', 590, 300, null, null,'使用常用选项');"><font color=red><b>使用常用选项</font></b></a></td></tr>
   <tr><td><textarea rows=5 cols=125 name="optionAnswer" id="optionAnswer">{optionAnswer}</textarea> <a href="javascript:resizeTextHeight('optionAnswer',1);"><img src="../Images/jia.gif"></a><a href="javascript:resizeTextHeight('optionAnswer',-1);"><img src="../Images/jian.gif"></a></td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;显示设置</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td>
		&nbsp;&nbsp;<input type="checkbox" value="1" name="isRandOptions" {isRandOptions} onclick="javascript:checkIsRandOptions();"> 矩阵问题随机排列 <br/>
		&nbsp;&nbsp;<input type="checkbox" value="1" name="isNeg" {isNeg}> 矩阵问题按列排列显示(默认按行排列)
   </td></tr>
   <tr bgcolor="#f9f9f9" height=25><td><b>&nbsp;控制设置</b>&nbsp;<img src="../Images/info.gif" border=0></td></tr>
   <tr><td>
	    &nbsp;&nbsp;<input type="checkbox" value="1" name="isHaveOther" id="isHaveOther" {isHaveOther}> 为矩阵问题中最后一项自动添加文本输入框<br/>
	    &nbsp;&nbsp;<input type="checkbox" value="1" name="isSelect" {isSelect} onclick="javascript:checkIsNeg();"> 矩阵选项中最后一项为“排除性选项”，该选项选中后，其余选项将不能被选择<br/>
    	&nbsp;&nbsp;<input type="checkbox" value="2" name="requiredMode" id="requiredMode" {requiredMode} onclick="javascript:checkRequiredMode();"> 要求矩阵问题的回复是逐级掩蔽的<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="1" name="isCheckType" id="isCheckType" {isCheckType}> 掩蔽模式：前述问题的“未选择项”进入后述问题 (默认为“选择项”进入)<br/> 
	  </td>
   </tr></table><table width=100% style="margin-bottom:15px">
   <tr> 
  	 <td height="15">
         <input name="surveyID" type="hidden" id="surveyID" value="{surveyID}"> 
         <input name="questionID" type="hidden" id="questionID" value="{questionID}"> 
         <input name="orderByID" type="hidden" id="orderByID" value="{orderByID}"> 
 		 <input name="theOriAnswerID" type="hidden" value="{theOriAnswerID}">
         <input name="Action" type="hidden" id="Action"> 
         <input class=inputsubmit name="AddMultipleSubmit" type="button" id="AddMultipleSubmit" value="保存，下一个" onclick="javascript:submitForm('AddMultipleSubmit');"> 
         <input class=inputsubmit name="AddMultipleOver" type="button" id="AddMultipleOver" value="保存，结束" onclick="javascript:submitForm('AddMultipleOver');"> 
         <input class=inputsubmit type="button" name="close" id="close" value="  关闭  " onClick="javascript:parent.hidePopWin();">
      </td>
    </tr>
  </form>
 </table>
 <script type="text/javascript">initInputHighlightScript();</script> 
 <script language=javascript src="../JS/Example.js.php"></script>
</body></html>
