<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>Eclear在线问卷调查引擎 - 控制面板</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div><!--end of header-->
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>

	<div class="container clearfix">
	   <div class="main">
		<div class="nav" style="margin-top:5px">
			<a href="ShowMain.php">我的问卷</a>
			<a href="ShowMyReport.php" class="cur">我的文件</a>
		</div>
	    <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>我的文件</h1>
				<span class="total ml10">[{totalNum}文件]</span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">欢迎您，{nick_Name}，列出您权限内的调研项目的(报告|管理)文件，选择对应的文件进行下载</p>
			</div>
		   <div class="content_main" style="margin-top:10px;">
 				<table class="d_table">
				  <tr class=coltitle>
					<th width=* align=left><b>&nbsp;文件名称</b></th>
				    <th width=8% align=center nowrap><b>创建人</b></th>
				    <th width=8% align=center nowrap><b>创建时间</b></th>
				    <th width=6% nowrap align=center><b>操作</b></th>
				  </tr>

				  <!-- BEGIN LIST -->
					<tr>
					   <td>&nbsp;{reportName}</td>
					   <td align=center nowrap>{owner}</td>
					   <td align=center nowrap>{reportTime}</td>
					  <td nowrap align=center>{actionName}</td>
					</tr>
				 <!-- END LIST -->
				 </table>
				 <div class="pages">{pagesList}</div>
			</div><!--end of content_main-->
		 </div><!--end of content-->
	  </div><!--end of main-->
   </div><!--end of container-->

   <!--action -->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
	<!--Copyright&copy 2012-2018 北京科维能动信息技术有限公司-->
</body>
</html>
