<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>定义常用选项 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="../CSS/Notification.css" />
<script language=javascript src="../JS/CheckQuestion.js.php"></script>
<script language=javascript>
function Check_Form_Validator()
{
	if (!CheckNotNull(document.Check_Form.optionCate, "分类")) {return false;}
	if (!CheckNotNull(document.Check_Form.optionName, "常用选项")) {return false;}
}
function refreshParent() {
   self.location.reload();
}
function submitForm()
{
	if( Check_Form_Validator() != false )
	{
		document.getElementById('submitBtn').disabled = true;
		disabledStyle(document.getElementById('submitBtn'));
		document.getElementById('resetBtn').disabled = true;
		disabledStyle(document.getElementById('resetBtn'));
		document.Check_Form.submit();
	}
}
</script>
<style>
input[type=text] {border:1px solid #cacaca;height:18px;font-family: Calibri,"宋体",sans-serif;line-height:18px;vertical-align: middle;}
textarea {border:1px solid #cacaca;height:90px;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;}
select {border:1px solid #cacaca;height:20px;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;}
</style>
</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="sidebar_show"></div>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>

	<div class="container clearfix">
		<div class="sider_bar">
			<div class="sider_menu">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_1')">调查问卷模版</a>
				<ul class="sider_menu_list" id="sider_menu_list_1">
					<li><a href="../System/MgtTplFile.php">管理展示模板</a></li>
					<li><a href="../System/MgtImageFile.php">管理附属文件</a></li>
				</ul>
			</div>
			<div class="sider_menu">
				<a class="sider_menu_title cur" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_2')">辅助问卷管理</a>
				<ul class="sider_menu_list" id="sider_menu_list_2">
					<li><a href="../System/MgtNormalOption.php" class="sel">定义常用选项</a></li>
					<li id="batchSurveyAction"><a href="../System/BatchSurveyAction.php">批量问卷操作</a></li>
					<li><a href="../System/SurveyDistribution.php">迁移问卷数据</a></li>
					<li><a href="../System/MgtArchiving.php">问卷归档记录</a></li>
				</ul>
			</div>
			<div class="sider_menu" id="researchReport">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_4')">辅助调研管理</a>
				<ul class="sider_menu_list" id="sider_menu_list_4">
					<li><a href="../System/ResearchReport.php">管理调研文件</a></li>
				</ul>
			</div>
			<div class="sider_menu" id="listSurveyApi">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_3')">问卷列表调用</a>
				<ul class="sider_menu_list" id="sider_menu_list_3">
					<li><a class="window-700-360" title="问卷列表调用" href="../System/ListSurveyAPI.php">问卷列表调用</a></li>
				</ul>
			</div>
		</div>
	    <script type="text/javascript" src="../JS/MySetting.js.php"></script>

	   <div class="main">
		 <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>定义常用的问题选项</h1>
				<span class="total ml10">[{recNum}分类]</span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">将调查问卷问题中经常出现的选项进行分类定义，便于问卷设计时快速引用</p>
			</div>
			<div class="content_main" style="margin-top:10px">
			   <table class="d_table">
				<tr class=coltitle>
				  <th width=25% align=left>&nbsp;<b>分类</b></th>
				  <th width=65% align=center><b>常用选项</b></th>
				  <th width=10% nowrap align=center><b>操作</b></th>
				</tr>
				<!-- BEGIN OPTION -->
				<tr>
				  <td>&nbsp;{optionCate}</td>
				  <td align=center>{optionName}</td>
				  <td nowrap align=center>
				   <a href="javascript:void(0);" onclick="javascript:showPopWin('{editURL}', 700, 300, refreshParent, null,'修订“{optionCateScript}”常用选项')">编辑</a>&nbsp;<a href="{deleteURL}" onclick="return window.confirm('您真的想删除本常用选项吗？')">删除</a> 
				  </td>
				</tr>
				<!-- END OPTION -->
			  </table>
			  <form name="Check_Form" id="Check_Form" method="post" action="" id="Check_Form" onsubmit="return false;">
			  <table class="d_table" style="margin-top:5px">
			    <tr><th colspan=2 align=left><b>创建新的常用选项</b></th></tr>
				<tr> 
					<td width="12%" height="25"><span class=red>*</span> 分类：</td>
					<td width="88%"><input class="textInput" name="optionCate" type="text" id="optionCate" size="30">
			　　　</td>
			   </tr>
			   <tr> 
				   <td height="25"><SPAN class=red>*</SPAN> 常用选项：</td>
				   <td><textarea rows=6 cols=70 name="optionName" style="margin-top:5px"></textarea><br/>(在此输入常用选项，每个选项一行)</td>
			   </tr></table>
			   
			   <table width=100% style="border:0px;">
			   <tr><td width=12% style="border:0px;"></td> 
				 <td style="border:0px;">
					 <input name="Action" type="hidden" value="OptionAddSubmit">
					 <input class=inputsubmit type="button" name="submitBtn" id="submitBtn" value="确定" onclick="javascript:submitForm();"> 
				     <input class=inputsubmit name="resetBtn" id="resetBtn" type="reset" value="重置">
				  </td>
				</tr>
			  </table>
			  </form>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
</body></html>
