<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>价格敏感度测试PSM - EnableQ在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/DataIndex.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script language=javascript src="../JS/CheckQuestion.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="../CSS/Notification.css" />
<script type="text/javascript" src="../Chart/Swfobject.js.php"></script>
<script language=javascript>
function Check_Form_Validator()
{
   if (!CheckNotNull(document.getElementById("questionID1"), "PSM分析的便宜变量")) {return false;}
   if (!CheckNotNull(document.getElementById("questionID2"), "PSM分析的比较贵变量")) {return false;}
   if (!CheckNotNull(document.getElementById("questionID3"), "PSM分析的太贵变量")) {return false;}
   if (!CheckNotNull(document.getElementById("questionID4"), "PSM分析的太便宜变量")) {return false;}
   if (!CheckNotNull(document.Check_Form.chartWidth, "选定展示的图形大小 - 宽")) {return false;}
   if (!CheckNumber(document.Check_Form.chartWidth, "选定展示的图形大小 - 宽",50,2000)) {return false;}
   if (!CheckNotNull(document.Check_Form.chartHeight, "选定展示的图形大小 - 高")) {return false;}
   if (!CheckNumber(document.Check_Form.chartHeight, "选定展示的图形大小 - 高",50,2000)) {return false;}
}
function ajax_Submit(url,postStr) {
	var ajax=false; 
	try { ajax = new ActiveXObject("Msxml2.XMLHTTP"); }
	catch (e) { try { ajax = new ActiveXObject("Microsoft.XMLHTTP"); } catch (E) { ajax = false; } }
	if (!ajax && typeof XMLHttpRequest!='undefined') ajax = new XMLHttpRequest(); 

	ajax.open("POST", url, true); 
	ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
	ajax.send(postStr);
	ajax.onreadystatechange = function(){
		if (ajax.readyState == 4)
		{
			if(ajax.status == 200)
			{
				var theRtnText = ajax.responseText;
				document.getElementById("PSMMapTable").style.display = '';
				document.getElementById("PSMMap").innerHTML = theRtnText;
				exeRuturnScript(theRtnText);
			}
			else
			{
				$.notification('网络传输问题');
			}
		}	
	} 
}
function exeRuturnScript(html) 
{ 
	var reg = /<script[^>]*>([^\x00]+)$/i; 
	var htmlBlock = html.split("<\/script>"); 
	for (var i in htmlBlock) 
	{ 
		var blocks;
		if (blocks = htmlBlock[i].match(reg)) 
		{ 
			var code = blocks[1].replace(/[<]!--/, ''); 
			try 
			{ 
				eval(code);
			} 
			catch (e) { } 
		}
	} 
}
function PSMSubmit()
{
    if( Check_Form_Validator() != false )
	{
		var questionID1 = document.getElementById('questionID1').value;
		var questionID2 = document.getElementById('questionID2').value;
		var questionID3 = document.getElementById('questionID3').value;
		var questionID4 = document.getElementById('questionID4').value;
		var surveyID = document.getElementById('surveyID').value;
		var chartWidth = document.getElementById('chartWidth').value;
		var chartHeight = document.getElementById('chartHeight').value;
		var ParamString = "Action=PSMSubmit";
		ParamString += "&questionID1="+questionID1;
		ParamString += "&questionID2="+questionID2;
		ParamString += "&questionID3="+questionID3;
		ParamString += "&questionID4="+questionID4;
		ParamString += "&surveyID="+surveyID;
		ParamString += "&chartWidth="+chartWidth;
		ParamString += "&chartHeight="+chartHeight;
		ParamString += "&dataSource=" + getRadioCheckBoxValue(document.Check_Form.dataSource);
		document.getElementById("PSMMapTable").style.display = '';
		document.getElementById("PSMMap").innerHTML = "<div id=\"preloading\" style=\"background-color:#f0f0f0;width:160px;overflow:hidden;white-space:nowrap;color:black;font-weight:bold;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-khtml-border-bottom-right-radius:5px;border-bottom-right-radius:5px;\">&nbsp;<img src=\"..\/Images\/wait.gif\" width=\"16px\" height=\"16px\">&nbsp;正在加载数据分析&nbsp;<\/div>";
		ajax_Submit('PSM.php',ParamString);
	}
}
function ResetInit()
{
	document.getElementById("PSMMapTable").style.display = 'none';
	document.getElementById("PSMMap").innerHTML = '' ;
}
function Init(){
	AjaxShowDataSource({surveyID},1);
	var chartWidth = document.body.clientWidth -160;
	gId('chartWidth').value = chartWidth.toString();;
}
function copycode(obj) {
    var theSwfObject = obj.getElementsByTagName("object");
    for (var i=theSwfObject.length; i>=0; i--)
    {
		if( theSwfObject[i] != null )
		{
			theSwfObject[i].removeNode(true);
		}
	}
	SelectText(obj);
}
function SelectText(element) {
    //var text = document.getElementById(element);
	var text = element;
    if ($.browser.msie) {
        var range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
		range.execCommand("Copy");
		range.collapse(false);
		$.notification("复制分析结果到剪贴板成功");
    } else if ($.browser.mozilla || $.browser.opera) {
        var selection = window.getSelection();
        var range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
		range.execCommand("Copy");
		range.collapse(false);
		$.notification("复制分析结果到剪贴板成功");
    } else if ($.browser.safari) {
        var selection = window.getSelection();
        selection.setBaseAndExtent(text, 0, text, 1);
		$.notification("请再使用CTRL+C进行复制");
    }
}
function gId(_sId){
	return document.getElementById(_sId);
}
</script>
<style>
    .t_table{width:99%;border:1px solid #cacaca;margin-bottom:2px;}
    .t_table tr{height:34px;color:#5d5d5d;}
    .t_table tr th{background-color: #f9f9f9;padding:0 5px;}
    .t_table tr td{padding:0 5px;}
    .t_table tr th{font-weight:bold;}
    .t_table tr th.title,.d_table tr td.title{text-align:left;}    
    .t_table tr td a{color:#3b5888;}
    .t_table tr td a:hover{color:#ff7700;}
    .t_table tr:hover{background-color:transparent}

	.r_table tr,r_table tr td{line-height:20px;}
	input[type=text] {border:1px solid #cacaca;height:20px;font-family: Calibri,"宋体",sans-serif;line-height:20px;vertical-align: middle;}
	select {border:1px solid #cacaca;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;height:22px;line-height:22px;}
	input[type=checkbox]{vertical-align: middle;margin-right:5px}
	input[type=radio]{vertical-align: middle;margin-right:5px}
</style>
</head>

<body oncontextmenu="return false" onload="javascript:Init();">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShoEclearwMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>

	<div class="datacontainer clearfix">
	   <div class="datamain">
			<div class="navmenu">
				<ul class="navOne">
					<li>
						<a href="../Analytics/DataOverview.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">快捷报告<span class="down"></span></a>
						<ul class="navTwo">
							<li class="title">快捷报告</li>
							<li><a href="../Analytics/DataList.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷回复数据</a>
								<ul class="navThree">
									<li><a href="../Analytics/DataOverview.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">回复数据概览</a></li>
									<li><a href="../Analytics/DataList.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">回复数据清单</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷执行进度</a>
								<ul class="navThree">
									<li id="myTask0"><a href="../Analytics/TaskResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">任务执行进度</a></li>
									<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">配额执行进度</a></li>
									<li id="privateNoCommit0"><a href="../System/PrivateNoCommit.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">尚未回复清单</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">分析数据生成</a></li>
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标分析数据</a></li>
									<li id="surveyIndexRank0"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Rank">指标分析排名</a></li>
									<li id="surveyIndexMatch0"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Match">指标分析对比</a></li>
								</ul>
							
							</li>
						</ul>
					</li>

					<li><a href="../Analytics/DataList.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}" id="dataList">回复数据</a></li>

					<li>
						<a href="../Analytics/Frequency.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">常用报告<span class="down"></span></a>
						<ul class="navTwo">
							<li class="title">常用报告</li>
							<li><a href="../Analytics/Frequency.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数频率分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/Frequency.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数频率分析</a></li>
									<li><a href="../Analytics/DataCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数交叉分析</a></li>
								</ul>							
							</li>
							<li><a href="../Analytics/DataCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">交叉数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/DataCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">频数交叉分析</a></li>
									<li><a href="../Analytics/MeanCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值交叉分析</a></li>
								</ul>						
							</li>
							<li><a href="../Analytics/OptionsCoeff.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/OptionsCoeff.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值数据分析</a></li>
									<li><a href="../Analytics/MeanCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">均值交叉分析</a></li>
								</ul>						
							</li>
							<li><a href="../Analytics/DataChart.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">数据图形展示</a></li>
							<li><a href="../Math/SingleVariable.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">高阶数理统计</a>
								<ul class="navThree">
									<li><a href="../Math/SingleVariable.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">单变量</a></li>
									<li><a href="../Math/DoubleVariable.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">双变量</a></li>
									<li><a href="../Math/ClusterAnalysis.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">聚类分析</a></li>
								</ul>							
							</li>
							<li><a href="../Analytics/DefineReport.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">自定义报告</a></li>								
						</ul>
					</li>

					<li><a href="../Analytics/ChiSquare.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}" class="cur">扩展分析<span class="down_over"></span></a>
						<ul class="navTwo">
							<li class="title">扩展分析</li>
							<li><a href="../Analytics/ChiSquare.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">卡方分布校验</a>
								<ul class="navThree">
									<li><a href="../Analytics/ChiSquare.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">卡方分布校验</a></li>
									<li><a href="../Analytics/ChiSquareCross.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">交叉卡方校验</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/LinearRegression.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">线性回归分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/LinearRegression.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">简单线性回归</a></li>
									<li><a href="../Analytics/MultipleRegression.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">多元线性回归</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/TURF.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">TURF分析</a></li>
							<li><a href="../Analytics/PSM.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">价格研究模型</a>
								<ul class="navThree">
									<li><a href="../Analytics/SimpleGG.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">简单GG法</a></li>
									<li><a href="../Analytics/ExtendedGG.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">推广GG法</a></li>
									<li><a href="../Analytics/PSM.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">PSM法</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/CombOptions.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">合并选项报告</a>
							</li>
							<li><a href="../Analytics/DataMatching.php?Type=1&surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷数据对比</a>
								<ul class="navThree">
									<li><a href="../Analytics/DataMatching.php?Type=1&surveyID={surveyID}&surveyTitle={survey_URLTitle}">同一问卷对比</a></li>
									<li><a href="../Analytics/DataMatching.php?Type=2&surveyID={surveyID}&surveyTitle={survey_URLTitle}">不同问卷对比</a></li>
								</ul>
							</li>								
						</ul>
					</li>
					<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">辅助分析<span class="down"></span></a>
						<ul class="navTwo">							
							<li class="title">辅助分析</li>
							<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标数据分析</a>
								<ul class="navThree">
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">分析数据生成</a></li>
									<li><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=List">指标分析数据</a></li>
									<li id="surveyIndexRank1"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Rank">指标分析排名</a></li>
									<li id="surveyIndexMatch1"><a href="../Analytics/SurveyIndexResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}&Does=Match">指标分析对比</a></li>
								</ul>
							
							</li>
							<li><a href="../Analytics/PlanResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle} ">计划执行分析</a></li>
							<li><a href="../Analytics/PanelArea.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">地域来源分析</a></li>
							<li><a href="../Stats/index.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">回复时段分析</a>
								<ul class="navThree">
									<li><a href="../Stats/index.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">概要信息</a></li>
									<li><a href="../Stats/YearReport.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">年维度</a></li>
									<li><a href="../Stats/MonthReport.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">月维度</a></li>
									<li><a href="../Stats/DayReport.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">日维度</a></li>
									<li><a href="../Stats/History.stats.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">历史查询</a></li>
								</ul>
							</li>						
						</ul>
					</li>
					<li><a href="../Analytics/EventAward.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">调查辅助<span class="down"></span></a>
						<ul class="navTwo">
							<li class="title">调查辅助</li>
							<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问卷执行进度</a>
								<ul class="navThree">
									<li id="myTask1"><a href="../Analytics/TaskResult.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">任务执行进度</a></li>
									<li><a href="../Analytics/QuotaReCheck.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">配额执行进度</a></li>
									<li id="privateNoCommit1"><a href="../System/PrivateNoCommit.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">尚未回复清单</a></li>
								</ul>
							</li>
							<li><a href="../Analytics/EventAward.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">调查奖励设定</a></li>
							<li><a id="realSurveyGps" href="../Android/BaiduDevicesMap.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}" target=_blank>访员实时定位</a></li>													
						</ul>
					</li>
					<li><a href="../System/AjaxEditSurveyCode.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">基础数据<span class="down"></span></a>						
						<ul class="navTwo">
							<li class="title">基础数据</li>
							<li><a href="../System/AjaxEditSurveyCode.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">基础数据设定</a>
								<ul class="navThree">
									<li><a href="../System/AjaxEditSurveyAlias.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">问题别名</a></li>
									<li><a href="../System/AjaxEditSurveyCode.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">选项代码</a></li>
									<li><a href="../System/ShowOptWeight.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">选项分值</a></li>
									<li><a href="../System/ShowOptValue.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}">选项数值</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>					
			</div>

			<div class="datacontent">
			<div class="content_tit">
				<div class="clearfix">
				<h1><span class=redtitle>[{surveyTitle}]</span>价格敏感度测试PSM</h1>
				<span class="total ml10"></span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey"><a onmouseover="this.T_WIDTH=446;this.T_PADDING=0;this.T_BGCOLOR='#ffffff'; return escape('<img src=../Images/Example/example_psm.png width=705 align=center>')" href="javascript:void(0);"><font color=red>[ 调查问题图例]</font></a>&nbsp;PSM是Price Sensitivity Meter (价格敏感度测试)的简称。用以了解消费者对产品价格的可接受范围，PSM事先不设定产品的价格水平<br/>PSM适用于受品牌等其他非价格因素影响较小的新产品或新服务定价研究，其中更适合于价格常识比较好的快速消费品和耐用消费品的研究</p>
			</div>
			<form name="Check_Form" id="Check_Form" method="post" action="" onsubmit="return Check_Form_Validator();">
			<div class="content_main" style="margin-top:10px">
				 <script src="../JS/AjaxDataSource.js.php"></script>
				 <script>
				 function refreshDataSource(){
					AjaxShowDataSource({surveyID},1);
				 }
				 function refreshDataSourceName(){
					var dataSourceId = getRadioCheckBoxValue(document.Check_Form.dataSource);
					var objText = eval("document.getElementById('dataSource_'+dataSourceId+'_text')");
					$("#nowDataSource1").html(objText.innerHTML);
					$("#nowDataSource2").html(objText.innerHTML);
				 }
				 </script>
				<div id="dataSourceTable" class="data_analyse clearfix"><div id="dataloading" style="background-color:#f0f0f0;width:160px;overflow:hidden;white-space:nowrap;color:black;font-weight:bold;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-khtml-border-bottom-right-radius:5px;border-bottom-right-radius:5px;">&nbsp;<img src="../Images/wait.gif" width="16px" height="16px">&nbsp;正在加载数据源...&nbsp;</div></div>

			<table class="t_table" style="margin-top:10px">
			   <tr><td align=left bgcolor="#eeeeee" style="border:1px #cacaca solid;height:30px;" colspan=2><b>价格敏感度测试PSM</b></td></tr>
					<tr><td valign=center nowrap width=6%><b>选定便宜(Cheap)变量：</b></td>
					    <td><select name="questionID1" id="questionID1" style="width:770px">
						   <option value=''>请选择PSM分析的便宜变量...</option>
						   {questionList}
						 </select>
					</td></tr>
					<tr><td nowrap><b>选定比较贵(Expensive)变量：</b></td>
					    <td><select name="questionID2" id="questionID2" style="width:770px">
						   <option value=''>请选择PSM分析的比较贵变量...</option>
						   {questionList}
						 </select>
					</td></tr>
					<tr><td nowrap><b>选定太贵(Too Expensive)变量：</b></td>
					    <td><select name="questionID3" id="questionID3" style="width:770px">
						   <option value=''>请选择PSM分析的太贵变量...</option>
						   {questionList}
						 </select>
					</td></tr>
					<tr><td nowrap><b>选定太便宜(Too Cheap)变量：</b></td>
					    <td><select name="questionID4" id="questionID4" style="width:770px">
						   <option value=''>请选择PSM分析的太便宜变量...</option>
						   {questionList}
						 </select>
					</td></tr>
					<tr><td nowrap><b>选定分析结果的图形大小：</b></td>
					    <td>宽：<input type=text name="chartWidth" id="chartWidth" size=8 value=920>px&nbsp;&nbsp;&nbsp;高：<input type=text name="chartHeight" id="chartHeight" size=8 value=500>px</td></tr>
					<tr><td colspan=2>
						 <input class=inputsubmit name="submit" type="button" id="submit" value="开始分析" onclick="javascript:PSMSubmit();" style="vertical-align: middle;"> 
						 <input class=inputsubmit name="reset" type="reset" id="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;" onclick="javascript:ResetInit();" style="vertical-align: middle;">
						 <input type=hidden name="surveyID" id="surveyID" value="{surveyID}">
					  </td>
					</tr>
				 </table>
				<table id="PSMMapTable" class="t_table" style="display:none;margin-bottom:0px;margin-top:5px" width=100%>
					<tr><td align=right bgcolor="#eeeeee" style="border:1px #cacaca solid;height:30px;"><a href="javascript:void(0)" onclick="copycode(gId('copyContent'));"><font color="#444444">复制分析结果到剪贴板</font></a><img src="../Images/list_menu_arrow.gif" border=0>&nbsp;&nbsp;</td></tr>
					<tr><td id="PSMMapInner" align=left style="padding-top:5px;padding-bottom:5px"><div id="PSMMap"></div></td></tr>
				</table>

			   <table style="border:0px;margin-top:15px" class="n_table">
				<tr> 
				 <td style="border:0px;padding-left:0px;">
				 <span class=red>*</span> 功能“以图片格式导出”可能需要更改IE安全设置方能顺利下载<br/>
				 <span class=red>*</span> IE菜单“工具”->“Internet选项“->“安全”->“自定义级别”->启用“文件下载的自动提示”
			     </td></tr>
			    </table>
			  </form>

			 </div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/MySetting.js.php?surveyID={surveyID}"></script>
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
	<script language=javascript src="../JS/Example.js.php"></script>
	<script type="text/javascript" src="../JS/MyMenu.js.php"></script>
</body></html>
