<tr><td class="question">{questionName}</td></tr>
<tr><td>
	  <table cellSpacing=0 cellPadding=0>
	    <!-- BEGIN OPTION -->
	    <tr><td>&nbsp;<span class="option">{optionName}：</span><font color=red>{optionAnswer}</font></td></tr>
	    <!-- END OPTION -->
	    <tr style="display:{isHaveOther}"><td>&nbsp;<span class="option">{otherText}<font color=red>{textOtherValue}</font>：</span><font color=red>{optionAnswer_0}</font></td></tr>
	    <tr style="display:{isHaveWhy}"><td>&nbsp;<span class="option">为什么这么排序：</span><font color=red>{textWhyValue}</font></td></tr>
	  </table>
  </td>
</tr>
