<tr>
    <td height=25 class="question" valign=center>{questionName}</td>
</tr>
<tr>
   <td>
	<!-- BEGIN LIST -->
	<table cellSpacing=0 cellPadding=0 style="margin:5 0 5 0px"><tr><td><b>{subQuestionName}</b>&nbsp;&nbsp;&nbsp;&nbsp;<span style="display:{haveWhy}"><a href="ShowUserDefine.php?type=rating&qtntype={type}&surveyID={surveyID}&questionID={questionID}&optionID={optionID}&surveyTitle={surveyName}&isComb={isComb}&pageNum={pageID}&dataSourceId={dataSourceId}"><b>显示评分理由</b></a></span></td></tr></table>
	 <table style="border:1px solid #cacaca;">
		<tr><td>&nbsp;样本数：</td>
			<td colspan=4><b>&nbsp;{totalResponseNum}</b></td>
		</tr>
		<tr><td>&nbsp;有效回复数：</td>
			<td width=50>&nbsp;<b>{rep_answerNum}</b></td>
			<td>&nbsp;回复百分比：</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{rep_optionPercent}%"></span></td>
			<td align=center>&nbsp;{rep_optionPercent} %</td>
		</tr>
		<tr><td>&nbsp;缺失数：</td>
			<td>&nbsp;{skip_answerNum}</td>
			<td>&nbsp;缺失百分比：</td>
			<td nowrap width=170><img height=10 src="{imagePath}Images/bar.gif" width="{skip_optionPercent}%"></td>
			<td align=center>&nbsp;{skip_optionPercent} %</td>
		</tr>
	  </table>
	   <table style="border:1px solid #cacaca;margin-top:5px">
		<tr style="color:white;">
			<td bgcolor=#cf1100 align=center width=70>&nbsp;<b>回复</b></td>
			<td bgcolor=#cf1100 align=center width=70>&nbsp;<b>最小值</b></td>
		    <td bgcolor=#cf1100 width=70 align=center>&nbsp;<b>最大值</b></td>
		    <td bgcolor=#cf1100 width=70 align=center>&nbsp;<b>总值</b></td>
		    <td bgcolor=#cf1100 width=70 align=center>&nbsp;<b>平均值</b></td>
		    <td bgcolor=#cf1100 width=70 align=center>&nbsp;<b>众值</b></td>
			<td bgcolor=#cf1100 align=center width=70>&nbsp;<b>标准差</b></td>
		</tr>
		<tr style="background-color:#e4e0ea">
			<td nowrap align=center>{rep_answerNum}</td>
			<td nowrap align=center>{item_min_answerNum}</td>
		    <td nowrap align=center>{item_max_answerNum}</td>
		    <td nowrap align=center>{item_tal_answerNum}</td>
		    <td nowrap align=center>{item_avg_answerNum}</td>
		    <td nowrap align=center>{item_re_answerNum}</td>
			<td nowrap align=center>{item_std_answerNum}</td>
		</tr>
	</table>
	<!-- END LIST -->
</td></tr>    
