<table width="100%" style="margin-bottom:5px;">
<tr>
   <td>
	 <table style="border:1px solid #cacaca;">
		<tr style="color:white;">
		  <td valign=center align=left bgcolor=#cf1100>&nbsp;项目</td>
		  <td align=left valign=center bgcolor=#cf1100 nowrap>值</td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;算数平均数Arithmetic Mean</td>
		  <td align=left valign=center nowrap width=110><b>{ArithmeticMean}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;几何平均数Aeometric Mean</td>
		  <td align=left valign=center nowrap width=110><b>{AeometricMean}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;调和平均数Harmonic Mean</td>
		  <td align=left valign=center nowrap width=110><b>{HarmonicMean}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;众数Mode</td>
		  <td align=left valign=center nowrap width=110><b>{Mode}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;中位数Median</td>
		  <td align=left valign=center nowrap width=110><b>{Median}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;方差Variance</td>
		  <td align=left valign=center nowrap width=110><b>{Variance}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;标准差SD</td>
		  <td align=left valign=center nowrap width=110><b>{SD}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;变异系数%CV</td>
		  <td align=left valign=center nowrap width=110><b>{CV}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;偏度Skewness</td>
		  <td align=left valign=center nowrap width=110><b>{Skewness}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;偏度是否显著</td>
		  <td align=left valign=center nowrap width=110><b>{SkewnessSignificant}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;峰度Kurtosis</td>
		  <td align=left valign=center nowrap width=110><b>{Kurtosis}</b></td>
		</tr>
		<tr style="background-color:#e4e0ea;border-bottom:1px solid #cacaca">
		  <td nowrap>&nbsp;峰度是否显著</td>
		  <td align=left valign=center nowrap width=110><b>{KurtosisSignificant}</b></td>
		</tr>
	</table>
  </td>
</tr></table>