<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>SQL语句执行 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="../CSS/Notification.css" />
<script language=javascript src="../JS/CheckQuestion.js.php"></script>
<style>
	textarea {border:1px solid #cacaca;height:90px;font-family: Calibri,"宋体",sans-serif;line-height:18px;}
</style>
<script language=javascript>
function Check_Form_Validator()
{
	if (!CheckNotNull(document.Check_Form.sqlQuery, "SQL语句")) {return false;}
}
</script>
</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>

	<div class="container clearfix">
		<div class="main">
		    <div class="nav">
			    <a href="../System/DataBackup.php">备份数据库表</a>
				<a href="../System/OptiTable.php">优化数据库表</a>
				<a href="../System/SQLQuery.php" class="cur">SQL语句执行</a>
			</div>		

		   <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>SQL语句执行</h1>
				<span class="total ml10"></span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">对Eclear系统可能出现的异常进行SQL语句操作，提供给专业人员操作</p>
			</div>
			<div class="content_main" style="margin-top:10px">
				 <form action="" method="post" name="Check_Form" id="Check_Form" onsubmit="return Check_Form_Validator()">
				  <table class="d_table">
				   <tr class=coltitle><th colspan=2 align=left>SQL语句</th></tr>
				   <tr><td colspan=2 style="padding-top:5px;padding-bottom:5px"><textarea cols=154 rows=10 name="sqlQuery" id="sqlQuery" style="width: 100%;"></textarea></td></tr>
				  </table>
				  <table width=100%>
				  <tr><td height="23">
					  <input name="Action" type="hidden" id="Action" value="SQLQuerySubmit"> 
					  <input type=submit class=inputsubmit value="确定">&nbsp;<input class=inputsubmit type="reset" name="reset" value="重置" onClick="javascript:parent.hidePopWin();">
					  </td>
				   </tr>
			   </table>
			  </form>       
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
</body></html>
