<meta http-equiv=content-language content=zh-cn>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
     
<table width="650" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;">
     <tr>
       <td align="left" style="padding: 0px 20px 10px 20px;">
	     <p style="color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 5px 0 0 0;"><b>亲爱的{userName}：</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">感谢您一直对我们的关注，我们尚未收到您对<font color=red>{surveyTitle}</font>在线问卷调查的响应，现再次邀请您参加。</p>                    
                   
		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>调查问卷标题</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">{surveyTitle}</p>        

		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>调查问卷副标题</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">{surveySubTitle}</p>    

		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>有关该调查问卷的说明</b></p>
		 <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">{surveyInfo}</p>                    
				
		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>以下是该问卷的链接地址，请点击</b></p>
         <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;"><a href={surveyURL}&userEmail={userEmail} target=_blank style="text-decoration: underline">{surveyURL}&userEmail={userEmail}</a></p>

		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>诚挚感谢</b></p>
         <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">我们需要您的参与，您的意见对于我们很重要。</p>

		 <p style="border-top: 1px solid #d1d2d4; color: #0053a0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: weight; margin: 0 0 5px 0; padding: 15px 0 0 0;"><b>隐私保护</b></p>
         <p style="color: #242424; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 15px 0; padding: 0;">您的任何隐私信息将受到严格保护，我们承诺将不会被任何非法目的所利用。</p>

</td></tr></table>

<table width="650" height="40" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff; border-bottom: 5px solid #ffffff;">
   <tr>
     <td style="background-color: #ffffff;" width="10">&nbsp;</td>
     <td align="center" style="background-color: #0053a0; color: #ffffff;" valign="middle"><p><span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 10px 0 10px 0;">您的{siteName}  {mail_date}</span></p></td>
     <td style="background-color: #ffffff;" width="10">&nbsp;</td>
   </tr>
</table>
