<HTML>
<HEAD>
	<TITLE>{siteTitle}</TITLE>
	<meta http-equiv=content-type content="text/html; charset=gbk">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<LINK href="CSS/Android.css" type=text/css rel=stylesheet>
	<SCRIPT type=text/javascript>
		rexseeMenu.setOptionsMenuId("mainOptionsMenu1");
		rexseeSpecialKey.enableBackKeyListener(false);
	</SCRIPT>
</HEAD>
<body background="#e5e5e5">

<div style="padding:3px;font-weight:bold;background: -webkit-gradient(linear, left top, right bottom, from(#6A0500), to(#a80900));color:#fff;font-size:18px;">
 <table width=100%>
   <tr><td width=30 style="padding:0px"><a href="Android/index.php"><img src="Images/back.png" border=0></a></td>
   <td align=center width=* style="color:#fff;font-size:18px;padding:0px">{surveyShortTitle}</td>
   <td width=30 style="padding:0px">&nbsp;</td></tr>
 </table>
</div>

<div style="padding-top:2px;background:#e5e5e5;">{enableq}</div>
<div class="clear"></div>

<script>scroll(0, 0);</script>
</body>
</html>
