<HTML>
<HEAD>
	<TITLE>{siteTitle}</TITLE>
	<meta http-equiv=content-type content="text/html; charset=gbk">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<LINK href="CSS/Android.css" type=text/css rel=stylesheet>
	<script>
		rexseeSpecialKey.enableBackKeyListener(false);
		rexseeMenu.setOptionsMenuId("mainOptionsMenu2");
	</script>
</head>
<body background="#e5e5e5">

<div style="padding:3px;font-weight:bold;background: -webkit-gradient(linear, left top, right bottom, from(#6A0500), to(#a80900));color:#fff;font-size:18px;">
 <table width=100%>
   <tr><td width=30 style="padding:0px"><a href="Android/index.php"><img src="Images/back.png" border=0></a></td>
   <td align=center width=* style="color:#fff;font-size:18px;padding:0px">{notes_title}</td>
   <td width=30 style="padding:0px">&nbsp;</td></tr>
 </table>
</div>
<div id="androidList" style="height:200px;padding-left:10px;padding-right:10px;padding-top:10px;background:#e5e5e5;">{notes_content}</div>
<script>scroll(0,0);</script>
</body>
</html>
