<html>
<head>
<META http-equiv=Content-Language content=zh-cn>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<link rel="stylesheet" type="text/css" href="../Offline/resources/pad.css">
<link rel="stylesheet" type="text/css" href="../Offline/resources/pad10.css">

<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="JS/Jquery.col.js.php"></script>
<script type="text/javascript" src="JS/Jquery.android.js.php"></script>
<link type="text/css" rel="stylesheet" href="CSS/Notification.css" />
<script type="text/javascript" src="JS/CheckQuestion.js.php"></script>
<script type="text/javascript" src="JS/AndroidGpsScript.js.php"></script>
<script language=javascript>
function Survey_Form_Submit()
{
	if( Survey_Form_Validator() != false)
	{
		var thisCheckStr = document.Survey_Form.thisCheck.value;
{survey_quota_list}
		if( thisCheckStr != '')
		{
			var thisCheck = thisCheckStr.substr(0,thisCheckStr.length-1).split('|');
			var ajaxURL = 'JS/AjaxCheckTextRepeat.php?qid={surveyID}&qlang={surveyLang}&hash='+thisCheckStr;
			for(var m=0;m<thisCheck.length;m++)
			{
			   var qtnType = thisCheck[m].split('*');
			   switch(qtnType[0])
			   {
					case '4':
					case '23':
					   var objValue = eval('document.Survey_Form.'+qtnType[1]+'.value');
					   ajaxURL += '&'+qtnType[1]+'='+escape(objValue);
					break;
					case '0':
					break;
					case 's1':
					    var theFieldsList = qtnType[3].split('$');
						for(var t=0;t<theFieldsList.length;t++){
							var objFieldList = theFieldsList[t].split('-');
							switch(objFieldList[0]){
								case '1': 
									if( typeof $('input[id='+objFieldList[1]+']:checked').val() == 'undefined' )
									{
										ajaxURL += '&'+objFieldList[1]+'=';
									}
									else
									{
										ajaxURL += '&'+objFieldList[1]+'='+escape($('input[id='+objFieldList[1]+']:checked').val());
									}
								break;
								case '2':
									var thisValue = '';
									var arr = $('input[id='+objFieldList[1]+']:checked');
									arr = arr.sort(function(a,b){
										return parseInt($(a).val()) - parseInt($(b).val());
									});
									arr.each(function(){
										thisValue += $(this).val() + ",";
									});
									if( thisValue != '' ){
										thisValue = thisValue.substr(0,thisValue.length-1)
										var theAllValueStr = ','+thisValue+',';
										if( theAllValueStr.indexOf(','+objFieldList[2]+',') == -1 ){
											ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
										}
										else{
											ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=1';
										}
									}
									else{
										ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
									}
								break;
								case '3':
									var thisValue = $("#"+objFieldList[1]).val();
									if(objFieldList.length == 3 ){
										if( thisValue != '' ){
											var theAllValueStr = ','+thisValue+',';
											if( theAllValueStr.indexOf(','+objFieldList[2]+',') == -1 ){
												ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
											}
											else{
												ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=1';
											}
										}
										else{
											ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
										}
									}
									else{
										ajaxURL += '&'+objFieldList[1]+'='+escape(thisValue);
									}
								break;
							}
						}
					break;
					default:
					   var objField = eval('document.Survey_Form.'+qtnType[1]);
					   ajaxURL += '&'+qtnType[1]+'='+getRadioCheckBoxValue(objField);
					break;
 			   }
			}
			var js = document.createElement( "script" ); 
			js.type = "text/javascript" ; 
			js.setAttribute( "src" , ajaxURL);  
			document.body.appendChild(js);
		}
		else
		{
			if( document.getElementById('SurveyNextSubmit') != null ) document.getElementById('SurveyNextSubmit').disabled = true;
			if( document.getElementById('SurveyOverSubmit') != null ) document.getElementById('SurveyOverSubmit').disabled = true;
			if( document.getElementById('SurveyPreSubmit') != null ) document.getElementById('SurveyPreSubmit').disabled = true;
			if( document.getElementById('SurveyCacheSubmit') != null ) document.getElementById('SurveyCacheSubmit').disabled = true;
			document.Survey_Form.submit();
		}
	}
}
function Survey_Form_Validator()
{
   {paperFlagInfoCheck}
   {check_survey_form_list}
}
function Check_Survey_Conditions()
{
	var emptyCheckStr = '';
{survey_empty_list}
	if( emptyCheckStr != '')
	{
		var emptyCheck = emptyCheckStr.substr(0,emptyCheckStr.length-1).split('|');
		var ajaxURL = 'JS/AjaxCheckEmpty.php?qid={surveyID}&qlang={surveyLang}&hash='+emptyCheckStr;
		for(var o=0;o<emptyCheck.length;o++){
		   var qtnType = emptyCheck[o].split('*');
		   var theFieldsList = qtnType[3].split('$');
		   for(var t=0;t<theFieldsList.length;t++){
				var objFieldList = theFieldsList[t].split('-');
				switch(objFieldList[0]){
					case '1': 
						if( typeof $('input[id='+objFieldList[1]+']:checked').val() == 'undefined' )
						{
							ajaxURL += '&'+objFieldList[1]+'=';
						}
						else
						{
							ajaxURL += '&'+objFieldList[1]+'='+escape($('input[id='+objFieldList[1]+']:checked').val());
						}
					break;
					case '2':
						var thisValue = '';
						var arr = $('input[id='+objFieldList[1]+']:checked');
						arr = arr.sort(function(a,b){
							return parseInt($(a).val()) - parseInt($(b).val());
						});
						arr.each(function(){
							thisValue += $(this).val() + ",";
						});
						if( thisValue != '' ){
							thisValue = thisValue.substr(0,thisValue.length-1)
							var theAllValueStr = ','+thisValue+',';
							if( theAllValueStr.indexOf(','+objFieldList[2]+',') == -1 ){
								ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
							}
							else{
								ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=1';
							}
						}
						else{
							ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
						}
					break;
					case '3':
						var thisValue = $("#"+objFieldList[1]).val();
						if(objFieldList.length == 3 ){
							if( thisValue != '' ){
								var theAllValueStr = ','+thisValue+',';
								if( theAllValueStr.indexOf(','+objFieldList[2]+',') == -1 ){
									ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
								}
								else{
									ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=1';
								}
							}
							else{
								ajaxURL += '&'+objFieldList[1]+'-'+objFieldList[2]+'=0';
							}
						}
						else{
							ajaxURL += '&'+objFieldList[1]+'='+escape(thisValue);
						}
					break;
				}
			}
		}
		var js = document.createElement( "script" ); 
		js.type = "text/javascript" ;
		js.setAttribute( "src" , ajaxURL);
		document.body.appendChild(js);
	}
	else
	{
		Run_Survey_Conditions();
	}
}
function Run_Survey_Conditions()
{
   {check_survey_conditions_list}
}
function Init()
{
   Check_Survey_Conditions();
}
</script>

</head>
<body oncontextmenu="return false" style="background:#e5e5e5;color:#666;margin:0px;">

<div style="padding:5px;font-weight:bold;background: -webkit-gradient(linear, left top, right bottom, from(#6A0500), to(#ddd));color:#fff;font-size:20px;">
 <table width=100%>
   <tr><td width=30 style="padding:0px"><a href="InputIndex.php"><img src="Images/back.png" border=0></a></td>
   <td align=center width=* class="pageTitle" style="color:#fff;font-size:24px;padding:0px">回复调查问卷</td>
   <td width=70 id="processValueId" align=right class="pageTitle" style="padding:0px;font-size:16px">&nbsp;{processValue}</td>
   </tr>
 </table>
</div>

<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
<div id="content-wrap">
<div id="content-cont">
<div class="featurebox">
<H4>&nbsp;{surveyTitle}</H4>
<!--<H2>{surveySubTitle}</H2>
<H5>{surveyInfo}</H5>-->
<form action="" method="post" name="Survey_Form" id="Survey_Form" onsubmit="return false;">
<table cellpadding="0" cellspacing="0" width="100%">
 {paperFlagInfo}
 <tr><td class="surveybegin">
 <!-- BEGIN QUESTION -->
 <table width="100%" style="display:{isShowQuestion_{questionID}};" class="pertable" id="question_{questionID}">
  {questionList}
  </table>
 <!-- END QUESTION -->
  </td></tr>
  <tr><td height=5></td></tr>
  <tr align="center"> 
     <td>
        <input name="thisFields" type="hidden" id="thisFields" value="{thisFields}">
        <input name="thisFiles" type="hidden" id="thisFiles" value="{thisFiles}">
        <input name="thisSizes" type="hidden" id="thisSizes" value="{thisSizes}">
        <input name="thisHidden" type="hidden" id="thisHidden" value="{thisHidden}">
        <input name="allHidden" type="hidden" id="allHidden" value="{allHidden}">
        <input name="allFields" type="hidden" id="allFields" value="{allFields}">
		<input name="thisCheck" type="hidden" id="thisCheck" value="{thisCheck}">
		<input name="thisStep" type="hidden" id="thisStep" value="{thisStep}">
		<input name="nextStep" type="hidden" id="nextStep">
		<input name="surveyID" type="hidden" value="{surveyID}">
		<input name="isPublic" type="hidden" value="{isPublic}">
		<input name="taskID" type="hidden" value="{taskID}">
		<input name="passPortType" type="hidden" value="{passPortType}">
		<input name="surveyQuotaFlag" id="surveyQuotaFlag" type="hidden">
		<input name="screeningFlag" id="screeningFlag" type="hidden">
		<input name="surveyQuotaId" id="surveyQuotaId" type="hidden">
		<input name="GpsInfo" id="GpsInfo" type="hidden">
		<input name="SimInfo" id="SimInfo" type="hidden">
		{hiddenFields}
		<input name="Action" type="hidden" id="Action">
		{actionButton}
     </td>
   </tr>
  </form>
</table>
<!--该调查问卷由科维能动EnableQ在线问卷调查引擎系统生成 -->
</div></div></div>
<script>
	Init();
	rexseeSpecialKey.enableBackKeyListener(false);
	rexseeMenu.setOptionsMenuId("mainOptionsMenu1");
    readGpsSimInfo();

	function onGpsEnabled()
	{
		rexseeDialog.toast("启用GPS...");
	}
	function onGpsDisabled()
	{
		rexseeDialog.toast("GPS被禁用,请启用GPS...");
		rexseeGps.openSettings();
	}
	function onGpsSettingFailed()
	{
		rexseeDialog.toast("打开GPS配置失败,请启用GPS...");
		rexseeGps.openSettings();
	}
	window.onRexseeReady = function(){
		if( rexseeGps.isReady() )
		{
			rexseeDialog.toast("开始启用GPS...");
			rexseeGps.start();
		}
		else
		{
			rexseeDialog.toast("检测到设备GPS关闭，请启用GPS...");
			if( {isGpsEnable} == 1 )
			{
				rexseeGps.openSettings();
			}
		}
		//关闭滑到底部事件
		try {
		　　rexseeBrowser.setAllowScrollEvent(false);
		} catch (e) {}
	}
</script>
<script>scroll(0,0);</script>
</body></html>
