<tr><td class="classtd" nowrap class="option">&nbsp;PC浏览器</td>
    <td class="classtd" nowrap align=center>&nbsp;{source1Num}</td>
    <td class="classtd" align=center>&nbsp;{source1Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;移动浏览器</td>
    <td class="classtd" align=center>&nbsp;{source2Num}</td>
    <td class="classtd" align=center>&nbsp;{source2Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;安卓样本App</td>
    <td class="classtd" align=center>&nbsp;{source3Num}</td>
    <td class="classtd" align=center>&nbsp;{source3Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;PC访员录入</td>
    <td class="classtd" align=center>&nbsp;{source4Num}</td>
    <td class="classtd" align=center>&nbsp;{source4Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;在线访员App</td>
    <td class="classtd" align=center>&nbsp;{source5Num}</td>
    <td class="classtd" align=center>&nbsp;{source5Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;离线访员App</td>
    <td class="classtd" align=center>&nbsp;{source6Num}</td>
    <td class="classtd" align=center>&nbsp;{source6Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;Excel数据导入</td>
    <td class="classtd" align=center>&nbsp;{source7Num}</td>
    <td class="classtd" align=center>&nbsp;{source7Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;问卷数据迁移</td>
    <td class="classtd" align=center>&nbsp;{source8Num}</td>
    <td class="classtd" align=center>&nbsp;{source8Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;未知数据来源</td>
    <td class="classtd" align=center>&nbsp;{source0Num}</td>
    <td class="classtd" align=center>&nbsp;{source0Rate}%</td>
</tr>
