<tr><td class="classtd" nowrap class="option">&nbsp;网调数据</td>
    <td class="classtd" nowrap align=center>&nbsp;{source0Num}</td>
    <td class="classtd" align=center>&nbsp;{source0Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;录入数据</td>
    <td class="classtd" align=center>&nbsp;{source1Num}</td>
    <td class="classtd" align=center>&nbsp;{source1Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;安卓客户端</td>
    <td class="classtd" align=center>&nbsp;{source2Num}</td>
    <td class="classtd" align=center>&nbsp;{source2Rate}%</td>
</tr>
<tr><td class="classtd" nowrap class="option">&nbsp;导入数据</td>
    <td class="classtd" align=center>&nbsp;{overFlag3Num}</td>
    <td class="classtd" align=center>&nbsp;{overFlag3Rate}%</td>
</tr>