<HTML>
<HEAD>
	<TITLE>{siteName} - 忘记密码重新发送</TITLE>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
	<script type="text/javascript" src="JS/Jquery.android.js.php"></script>
	<script language=javascript src="JS/CheckQuestion.js.php"></script>
	<LINK href="CSS/Android.css" type=text/css rel=stylesheet>
<style>
	@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
	@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
	@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}
</style>
	<SCRIPT type=text/javascript>
		rexseeSpecialKey.enableBackKeyListener(false);
		rexseeMenu.setOptionsMenuId("mainOptionsMenu1");
		function CheckEmailValid()
		{
			var ValueRtn = true;
			if (!CheckNotNull(document.GetPassForm.administratorsName, "邮件账号")) {ValueRtn = false;}
			if (!CheckEmail(document.GetPassForm.administratorsName,"邮件账号")) {ValueRtn = false;}
			return ValueRtn;
		}

		function Check_Form_Validator()
		{
			if (!CheckEmailValid()) {return false;}
			if (!CheckNotNull(document.GetPassForm.answerPass,"密码保护答案")) {return false;}
		}
	</SCRIPT>
	<STYLE>
	td {padding:2px 5px 2px 5px;height:34px;font-size:12px}
	input,select{font-size:12px}
	</STYLE>
</HEAD>
<body background="#e5e5e5">

<div style="padding:3px;font-weight:bold;background: -webkit-gradient(linear, left top, right bottom, from(#6A0500), to(#a80900));color:#fff;font-size:18px;">
 <table width=100%>
   <tr><td width=30 style="padding:0px"><a href="javascript:rexseeBrowser.goBack();"><img src="Images/back.png" border=0></a></td>
   <td align=center width=* style="color:#fff;font-size:18px;padding:0px;height:23px;">忘记密码重新发送</td>
   <td width=30 style="padding:0px">&nbsp;</td></tr>
 </table>
</div>

<div id="notestext" style="background:#ddd;border-bottom:#ccc 1px solid;font-size:12px;height:20px;padding:3px 0px 5px 0px;">【说明】提供密码重新发送至注册邮箱功能。</div>
<div style="background:#e5e5e5;">

	<form id=GetPassForm name=GetPassForm action="" method=post onsubmit="return Check_Form_Validator()">
	<table style="LINE-HEIGHT: 150%;border-collapse:collapse;border-top:0px" cellSpacing=0 cellPadding=0 width="100%" borderColor=#ccc border=1>
	  <tr>
		<td align=right colspan=2 style="border-top:0px"><SPAN style="PADDING-RIGHT: 16px;font-size:12px">注：以下带“<SPAN  class=red>*</SPAN>”的为必填项</SPAN></td></tr>
	  <tr> 
		 <td valign=center><SPAN class=red>*</SPAN> 邮件帐号</td>
		 <td style="font-size:12px"><input id=administratorsName name=administratorsName type="text" size=30><br/><B>邮件帐号是您登录的唯一账号</B>，请填写您申请账号时的 Email地址</td>
	  </tr>
	  <tr> 
		   <td height="25" valign=center width=19% nowrap><SPAN class=red>*</SPAN> 密码保护问题</td>
		   <td><SELECT id=hintPass name=hintPass> 
					<option value=1>最喜欢的宠物名字？</option> 
					<option value=2>最喜欢的电影名字？</option> 
					<option value=3>最喜欢的歌曲名字？</option> 
					<option value=4>爱人的名字？</option> 
					<option value=5>父亲的名字？</option>
					<option value=6>第一所中学的校名？</option> 
					<option value=7>第一个孩子的爱称？</option> 
					<option value=8>第一部移动电话的牌子？</option> 
					<option value=9>最喜欢的运动项目？</option> 
					<option value=10>最喜欢的运动队名字？</option>
					<option value=11>您的身份证号？</option>
					<option value=12>您的护照号？</option>
					<option value=13>您的驾驶证号？</option>
					<option value=14>您的工作证号？</option>
					<option value=15>您参加工作的日期？</option>
					<option value=16>您的生日？</option>
				</SELECT><br/><span style="font-size:12px">填写您申请账号时设置的"密码保护问题"</span></td>
	   </tr>
	   <tr> 
		   <td><SPAN class=red>*</SPAN> 密码保护答案</td>
		   <td style="font-size:12px"><input type="text" id=answerPass name=answerPass><br/>填写您申请账号时设定"密码保护问题"的答案</td>
	   </tr>
	  </table><table width=100% style="border:0px">
	  <tr><td style="border:0px"> 
		  <input name="Action" type="hidden" id="Action" value="GetPasswordSubmit">
		  <input type="hidden" name="qid" id="qid" value="{qid}">
		  <input class=btn type="submit" name="submit" value=" 确定 ">
		  <input class=btn name="submit2" type="reset" value=" 重置 "> 
		  <input class=btn name="submit3" type="button" onclick="javascript:rexseeBrowser.goBack();" value=" 返回 "> 
		</td>
	  </tr>
	 </form>
	</table>			
</div>				
<div class="clear"></div>
<script>scroll(0,0);</script>
</body>
</html>
