<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{siteName}忘记密码重新发送</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<link rel="stylesheet" type="text/css" href="CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="CSS/Index.css" />
<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
<script type="text/javascript" src="JS/Jquery.notification.js.php"></script>
<link type="text/css" rel="stylesheet" href="CSS/Notification.css" />
<script language=javascript src="JS/CheckQuestion.js.php"></script>
<script language=javascript>
function CheckEmailValid()
{
    var ValueRtn = true;
    if (!CheckNotNull(document.GetPassForm.administratorsName, "邮件账号")) {ValueRtn = false;}
	if (!CheckEmail(document.GetPassForm.administratorsName,"邮件账号")) {ValueRtn = false;}
	return ValueRtn;
}

function Check_Form_Validator()
{
	if (!CheckEmailValid()) {return false;}
	if (!CheckNotNull(document.GetPassForm.answerPass,"密码保护答案")) {return false;}
}
</script>
<style>
	input[type=text],input[type=password] {border:1px solid #cacaca;height:18px;font-family: Calibri,"宋体",sans-serif;line-height:18px;vertical-align: middle;}
	textarea {border:1px solid #cacaca;font-family: Calibri,"宋体",sans-serif;line-height:18px;}
	select {border:1px solid #cacaca;font-family: Calibri,"宋体",sans-serif;vertical-align: middle;height:20px;line-height:20px}
    .d_table tr:hover{background-color:transparent}
</style>
</head>
	<div class="container clearfix">
	   <div class="main">
		    <div class="nav">
				<a href="r.php?qlang={qlang}&qid={qid}">会员注册</a>
				<a href="g.php?qlang={qlang}&qid={qid}" class="cur">忘记密码</a>
			</div>			
			<div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1><span class=redtitle>{siteName}</span>忘记密码重新发送</h1>
				<span class="total ml10"></span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">{siteName}忘记密码重新发送</p>
			</div>
			<div class="content_main" style="margin-top:10px">
				<form id=GetPassForm name=GetPassForm action="" method=post onsubmit="return Check_Form_Validator()">
				<table class="d_table">
				      <tr><th colspan=2 align=left style="font-weight:normal">邮件帐号是您登录的唯一账号，请填写您申请账号时的 Email地址</th></tr>
					  <tr>
						 <td width=11%><SPAN class=red>*</SPAN> 邮件帐号：</td>
						 <td width=89%><input id=administratorsName name=administratorsName type="text" size=35></td>
					  </tr>
				      <tr><th colspan=2 align=left style="font-weight:normal">填写您申请账号时设置的"密码保护问题"</th></tr>
					  <tr>
					     <td><SPAN class=red>*</SPAN> 密码保护问题：</td>
					     <td><SELECT id=hintPass name=hintPass> 
							<option value=1 selected>最喜欢的宠物名字？</option> 
							<option value=2>最喜欢的电影名字？</option> 
							<option value=3>最喜欢的歌曲名字？</option> 
							<option value=4>爱人的名字？</option> 
							<option value=5>父亲的名字？</option>
							<option value=6>第一所中学的校名？</option> 
							<option value=7>第一个孩子的爱称？</option> 
							<option value=8>第一部移动电话的牌子？</option> 
							<option value=9>最喜欢的运动项目？</option> 
							<option value=10>最喜欢的运动队名字？</option>
							<option value=11>您的身份证号？</option>
							<option value=12>您的护照号？</option>
							<option value=13>您的驾驶证号？</option>
							<option value=14>您的工作证号？</option>
							<option value=15>您参加工作的日期？</option>
							<option value=16>您的生日？</option>
						</SELECT>
					  </td></tr>
				      <tr><th colspan=2 align=left style="font-weight:normal">填写您申请账号时设定"密码保护问题"的答案</th></tr>
					  <tr>
						   <td><SPAN class=red>*</SPAN> 密码保护答案：</td>
						   <td><input type="text" id=answerPass tabIndex=8 name=answerPass></td></tr>
					 </table>
					 <table width=99% style="border:0px">
						<tr><td style="border:0px">
							 <input name="Action" type="hidden" id="Action" value="GetPasswordSubmit">
							 <input type="hidden" name="qid" id="qid" value="{qid}">
							 <input class=inputsubmit type=submit value="确定">
							 <input class=inputsubmit type=reset value="重置"></td></tr>
			         </table>
			  </form>
			 </div>
		   </div>
	   </div>
    </div>
</body>
</html>
