<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv=content-language content=zh-cn>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<title>{mail_subject}</title>
</head>

<body>
<font size="2"> <font color="#663366"><b>亲爱的{mail_to}：</b></font> 
<p>{mail_subject}</p>
<p>***************邮件内容信息*********************************************</p>
<p>{mail_body} </p>
</font> 
<p><font size="2"><br>
<BR>
  *************************************************************************</font></p>
<p align="left"><font size="2">您的{siteName}  {mail_date}</font> </p>
</body>
</html>

