<HTML>
<HEAD>
	<TITLE>{siteName} - 注册通行证</TITLE>
<meta http-equiv=content-type content="text/html; charset=gbk">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript" src="JS/Jquery.min.js.php"></script>
	<script type="text/javascript" src="JS/Jquery.android.js.php"></script>
	<script language=javascript src="JS/CheckQuestion.js.php"></script>
	<LINK href="CSS/Android.css" type=text/css rel=stylesheet>
<style>
	@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
	@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
	@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}
</style>
	<SCRIPT type=text/javascript>
		rexseeSpecialKey.enableBackKeyListener(false);
		rexseeMenu.setOptionsMenuId("mainOptionsMenu1");
		function Check_Form_Validator()
		{
			if (!CheckNotNull(document.Check_Form.administrators_Name, "邮件账号")) {return false;}
			if (!CheckEmail(document.Check_Form.administrators_Name,"邮件账号")) {return false;}
			if (!CheckNotNull(document.Check_Form.nickName, "昵称")) {return false;}
			<!-- CHECK PASSWORD -->
			if (!CheckNotNull(document.Check_Form.passWord, "密码")) {return false;}
			if (!CheckStringLength(document.Check_Form.passWord, "密码",6,20)) {return false;}
			if (document.Check_Form.passWord.value != document.Check_Form.passWord2.value) {document.Check_Form.passWord2.focus();$.notification("两次输入的密码不一致");return false;}
			<!-- END PASSWORD -->
			if (!CheckNotNull(document.Check_Form.answerPass,"密码保护答案")) {return false;}
			{optionCheckInput}
		}
		var http_request = false;
		function AjaxRequest(url,type)
		{
			http_request = false;
			if(window.ActiveXObject)
			{
				try  // IE
				{
					http_request = new ActiveXObject("Msxml2.XMLHTTP");
				}
				catch (e)
				{
					try
					{
						http_request = new ActiveXObject("Microsoft.XMLHTTP");
					}
					catch (e) {}
				}
			}
			else if(window.XMLHttpRequest)
			{
				// Mozilla, Safari,...
				http_request = new XMLHttpRequest();
				if (http_request.overrideMimeType)
				{
					http_request.overrideMimeType('text/xml');
				}
			}
			
			if (!http_request)
			{
				$.notification("Cannot create an XMLHTTP instance");
				return false;
			}
			if( type == 1 )
			{
				http_request.onreadystatechange = AjaxNameContents;
			}
			else
			{
				http_request.onreadystatechange = AjaxNiceContents;
			}
			http_request.open('GET', url, true);
			http_request.send(null);
		}

		function AjaxNameContents()
		{
			if (http_request.readyState == 4)
			{
				if(http_request.status == 200)
				{
					if(http_request.responseText == "false")
					   document.getElementById("userNameInfo").innerHTML="<br/><img src=Images/check_no.gif border=0> <span class=red>输入的邮件账号已被注册</span>";
					else if(http_request.responseText == "true")
					   document.getElementById("userNameInfo").innerHTML="<br/><img src=Images/check_yes.gif border=0> <span class=green>输入的邮件账号可注册</span>";
					else if(http_request.responseText == "null") 
					   document.getElementById("userNameInfo").innerHTML="<br/><img src=Images/check_no.gif border=0> <span class=red>输入的邮件账号为空</span>";
					else if(http_request.responseText == "noemail") 
					   document.getElementById("userNameInfo").innerHTML="<br/><img src=Images/check_no.gif border=0> <span class=red>输入Email格式错误</span>";
				}
				else
				{
					$.notification('网络传输问题');
				}
			}
		}
		$(document).ready(function(){ 
			jQuery("#administrators_Name").blur(function(){
				AjaxRequest('System/AjaxCheckName.php?type=1&name='+this.value,1);
			});
		});
	</SCRIPT>
	<STYLE>
	td {padding:2px 5px 2px 5px;height:34px;font-size:12px}
	input,select{font-size:12px}
	</STYLE>
</HEAD>
<body background="#e5e5e5">

<div style="padding:3px;font-weight:bold;background: -webkit-gradient(linear, left top, right bottom, from(#6A0500), to(#a80900));color:#fff;font-size:18px;">
 <table width=100%>
   <tr><td width=30 style="padding:0px"><a href="javascript:rexseeBrowser.goBack();"><img src="Images/back.png" border=0></a></td>
   <td align=center width=* style="color:#fff;font-size:18px;padding:0px;height:23px;">注册用户通行证</td>
   <td width=30 style="padding:0px">&nbsp;</td></tr>
 </table>
</div>

<div id="notestext" style="background:#ddd;border-bottom:#ccc 1px solid;font-size:12px;height:20px;padding:3px 0px 5px 0px;">【说明】新注册用户通行证。</div>
<div style="background:#e5e5e5;">
	<form name="Check_Form" onsubmit="return Check_Form_Validator(this)" method="post" action="">
	<table style="LINE-HEIGHT: 150%;border-collapse:collapse;border-top:0px" cellSpacing=0 cellPadding=0 width="100%" borderColor=#ccc border=1>
	  <tr>
		<td align=right colspan=2 style="border-top:0px"><SPAN style="PADDING-RIGHT: 16px;font-size:12px">注：以下带“<SPAN  class=red>*</SPAN>”的为必填项</SPAN></td></tr>
	  <tr bgcolor="#f9f9f9"> 
		 <td colspan="2" style="font-size:14px"><b>&nbsp;会员基本资料</b></td>
	  </tr>
	  <tr> 
		 <td nowrap><SPAN class=red>*</SPAN> 邮件账号：</td>
		 <td nowrap><input id="administrators_Name" name="administrators_Name" type="text" size=30>&nbsp;&nbsp;<span id="userNameInfo"></span></td>
	  </tr>
	  <tr> 
		   <td height="25"><SPAN class=red>*</SPAN> 昵称：</td>
		   <td><input name="nickName" type="text" id="nickName" size="20" maxlength="30"></td>
	  </tr>
	  <!-- INPUT INPUTPASSWORD -->
	  <tr> 
		  <td height="23"><SPAN class=red>*</SPAN> 密码：</td>
		  <td><input name="passWord" type="password" id="passWord" size="20" maxlength="30"></td>
	  </tr>
	  <tr> 
		  <td height="25"><SPAN class=red>*</SPAN> 确认密码：</td>
		  <td><input name="passWord2" type="password" id="passWord2" size="20" maxlength="30"></td>
	  </tr>
	   <!-- END INPUTPASSWORD -->
	  <tr> 
		   <td height="25" width=19% nowrap><SPAN class=red>*</SPAN> 密码保护问题：</td>
		   <td><SELECT id=hintPass name=hintPass> 
					<option value=1>最喜欢的宠物名字？</option> 
					<option value=2>最喜欢的电影名字？</option> 
					<option value=3>最喜欢的歌曲名字？</option> 
					<option value=4>爱人的名字？</option> 
					<option value=5>父亲的名字？</option>
					<option value=6>第一所中学的校名？</option> 
					<option value=7>第一个孩子的爱称？</option> 
					<option value=8>第一部移动电话的牌子？</option> 
					<option value=9>最喜欢的运动项目？</option> 
					<option value=10>最喜欢的运动队名字？</option>
					<option value=11>您的身份证号？</option>
					<option value=12>您的护照号？</option>
					<option value=13>您的驾驶证号？</option>
					<option value=14>您的工作证号？</option>
					<option value=15>您参加工作的日期？</option>
					<option value=16>您的生日？</option>
				</SELECT></td>
	   </tr>
	   <tr> 
		   <td height="25"><SPAN class=red>*</SPAN> 密码保护答案：</td>
		   <td><input type="text" id=answerPass name=answerPass></td>
	   </tr>
	  <tr bgColor=#f9f9f9><td colspan=2 style="font-size:14px">&nbsp;<b>其他附属信息</b></td></tr>
	  {optionList}
	  </table><table width=100% style="border:0px">
	  <tr><td style="border:0px"> 
		  <input type="hidden" name="Action" value="MemberAddSubmit"> 
		  <input class=btn type="submit" name="submit" value=" 注册 ">
		  <input type="hidden" name="qid" id="qid" value="{qid}">
		  <input class=btn name="submit2" type="reset" value=" 重置 "> 
		  <input class=btn name="submit3" type="button" onclick="javascript:rexseeBrowser.goBack();" value=" 返回 "> 
		</td>
	  </tr>
	 </form>
	</table>
</div>				
<div class="clear"></div>
<script>scroll(0,0);</script>
</body>
</html>
