<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>EnableQ在线问卷调查引擎 - 控制面板</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Actions.css" type="text/css" rel=stylesheet>
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Actions.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script>
function referIframeSrc(theURL) {
   window.location.href = theURL;
}
function reloadAjaxContent(returnVal) {
	var postStr = '&surveyID=' + returnVal + "&randid="+Math.random(); 
	ajax_Post_Action('AjaxUserAction.php',postStr);
}
function isIE6() {
  var userAgent = navigator.userAgent.toLowerCase();
  var is_ie = (userAgent.indexOf('msie') != -1 && !is_opera) && userAgent.substr(userAgent.indexOf('msie') + 5, 3);
  var is_opera = userAgent.indexOf('opera') != -1 && opera.version();
  if( is_ie && (window.navigator.userAgent.indexOf('MSIE 5')>-1 || window.navigator.userAgent.indexOf('MSIE 6')>-1) )
  {
	 gId('menu-div').style.display = "none";
  }
}
</script>
<style>
  .actionsTitle {color:#0099cc;font-size:14px;font-weight:bold;margin-bottom:5px;font-family: verdana;}
  .actionsInner {font-size:12px;padding-left:10px;margin-bottom:8px;border-bottom:#e5e5e5 1px solid;font-family: verdana;}
</style>
</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div><!--end of header-->
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>

	<div class="container clearfix">
	   <div class="main">
	    <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>我的问卷</h1>
				<span class="total ml10">[{recNum} / {totalNum}问卷]</span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">欢迎您，{nick_Name}，来到Eclear调查问卷管理桌面</p>
			</div>
		   <div class="content_main">
				<div class="search_form" style="height:57px;line-height:57px">
					<form name="Check_Form" id="Check_Form" style="margin:0;padding:0" method="POST" action="">
					   <IMG SRC="../Images/search.gif"> 查找
						  <select name="t_searchType" id="t_searchType" class="sel">
							<option value='1'>问卷标题</option>
							<option value='2' {isQName}>问卷标识名</option>
						  </select>
						中包含：<input type="text" name="t_name" value="{t_name}" size=15 class="inp">
						<select name="t_status" class="sel">
						  <option value="">选择问卷状态...</option>
						  <!--<option value="0" {option_0}>设计</option>-->
						  <option value="1" {option_1}>执行</option>
						  <option value="2" {option_2}>结束</option>
						</select>
					   <select name="t_cate" class="sel">
						 <option value="">选择问卷分类...</option>
							{cate_list}
						</select>
					   <select name="t_administratorsID" class="sel">
						 <option value="0">选择创建用户...</option>
							{users_list}
						</select>
						的调查问卷
						 <input name="Action" type="hidden" id="Action" value="querySubmit"> 
						 <input type="submit" class=inputsubmit name="Submit" value="查询" style="vertical-align: middle;">
					</form>
				</div>
				<table class="d_table">
				  <tr class=coltitle>
					<th width=1% style="padding:0px">&nbsp;</td>
					<th width=* align=left><b>问卷标题</b></td>
					<th width=5% align=center><b>类型</b></td>
					<th width=5% align=center><b>状态</b></td>
					<th width=10% align=center><b>创建</b></td>
					<th width=9% align=center><b>结束时间</b></td>
					<th width=5% align=center><b>回复</b></td>
					<th width=6% align=center><b>操作</b></td>
				  </tr>
				 <!-- BEGIN SURVEY -->
				  <tr>
					<td nowrap style="padding:0px;{projectType}">&nbsp;</td>
					<td align=left style="line-height:22px">{surveyTitle}</td>
					<td nowrap align=center>{isPublic}</td>
					<td nowrap style="{status_color}" align=center>{status}</td>
					<td nowrap align=center>{owner}</td>
					<td nowrap align=center>{endTime}</td>
					<td nowrap align=center bgcolor="#efefef"><b>{resultNum}</b></td>
					<td nowrap align=center><a href="javascript:void(0);" title="选择对应问卷操作" onclick="_ShowUserActionBox(700,50,{surveyID},{topMargin});">操作</a></td>
				  </tr>
				  <!-- END SURVEY -->
				 </table>
				 <div class="pages">{pagesList}</div>
			</div><!--end of content_main-->
		 </div><!--end of content-->
	  </div><!--end of main-->
   </div><!--end of container-->

   <!--action -->
   <div id="menu-div">
		<div id="actionInner">
		  <div id="actionTitleBar">
			  <div id="actionTitle">请选择对应问卷操作</div>
			  <div id="actionControls"><img src="../Images/closewindow.gif" onclick="closeLog('menu-div');" id="actionCloseBox"/></div>
		  </div>
		  <div id="actionContent"></div>
		</div>
	</div>

	<!--notifier -->
	<link href="../CSS/Notifier.css" type=text/css rel=stylesheet>
	<script type="text/javascript" src="../JS/Jquery.notifier.min.js.php"></script>
	<script>
		  var mOptions = {};

		  //浏览器兼容
		  mOptions.lifeTime = 8000;
		  var userAgent = navigator.userAgent.toLowerCase();
		  var is_opera = userAgent.indexOf('opera') != -1 && opera.version();
		  var is_moz = (navigator.product == 'Gecko') && userAgent.substr(userAgent.indexOf('firefox') + 8, 3);
		  var is_ie = (userAgent.indexOf('msie') != -1 && !is_opera) && userAgent.substr(userAgent.indexOf('msie') + 5, 3);
		  var is_mac = userAgent.indexOf('mac') != -1;
		  if( is_ie ) {
				var v = is_ie ? /\d+/.exec(userAgent.split(';')[1]) : 'no ie';
				if( v < 8 )  
				$.jnotify('浏览器兼容', 'Eclear强烈建议您使用IE浏览器8.0以及8.0以上版本', '../Images/admin.png', mOptions);
		  }
		  else { 
			  $.jnotify('浏览器兼容', 'Eclear建议您使用IE浏览器以获得更好的操作体验', '../Images/admin.png', mOptions);
		  }
	</script>
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
	<!--Copyright&copy 2012-2018 北京科维能动信息技术有限公司-->
</body>
</html>
