<tr><td height=25 class="question" valign=center>&nbsp;{questionRequire}<span class="textEdit" id="questionName_{questionID}">{questionName}</span>&nbsp;<span class=notes>{questionNotes}</span></td></tr>
<tr><td class="tips"><span class="textEdit" id="questionNotes_{questionID}">{questionTips}</span></td></tr>
<tr><td>
   <table cellSpacing=0 cellPadding=0 width=100% id="qtn_table_{questionID}">
    <!-- BEGIN WEIGHT -->
    <tr id="range_weight_{optionNameID}_container">
		<td class="answer" align=right nowrap valign=center>&nbsp;&nbsp;<span class="textEdit" id="optionName_16_{questionID}_{optionNameID}">{optionName}</span>&nbsp;</td>
	    <td width=10></td>
		<td class="answer" align="center" nowrap>
		  <input class="answer" type="{inputPrompt}" size=6 name="{optionID}" id="{optionID}" maxlength="8" onKeyUp="this.value=this.value.replace(/[^\d\.\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d\.\d]/g,'')" onblur="ReCalcSum_{questionID}({questionID},{minOptionNum},{maxOptionNum},{maxSize});" value="{value}">
		</td>
		<td width=99%></td>
    </tr>
	<!-- END WEIGHT -->
     <tr>
	   <td align=right class="answer" nowrap> £”‡ø…∑÷≈‰£∫</td>
	   <td width=10></td>
	   <td class="answer" align="center" nowrap><input class="answer" type="text" size=6 name="option_{questionID}_total" id="option_{questionID}_total" disabled></td>
	   <td width=99%></td>
	</tr>
   </table>
</td></tr>
<script>
	function ReCalcSum_{questionID}(qtnID,minOptionNum,maxOptionNum,maxSize)
	{
		ReCalcSum(qtnID,minOptionNum,maxOptionNum,maxSize);
		Check_Survey_Conditions();
	}
</script>