<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>数值关联关系 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script>
function refreshParent() {
   self.location.href = '{relationURL}';
}
</script>
</head>

<body oncontextmenu="return false" onload="javascript:fnLoad(6);" onunload="javascript:fnUnload(6);">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div><!--end of header-->
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>

	<div class="container clearfix">
	   <div class="main">
			<div class="nav">
					<a href="{questionListURL}">调查问题</a>
					<a href="{logicURL}">逻辑关系</a>
					<a href="{relationURL}" class="cur">数值关联</a>
					<a href="{quotaURL}">问卷配额</a>
					<a href="../System/AjaxEditSurveyCode.php?surveyID={surveyID}&surveyTitle={survey_URLTitle}" style="display:{isDesignMode}">基础数据</a>
			</div>
		    <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1><span class=redtitle>[{surveyTitle}]</span>数值关联</h1>
				<span class="total ml10">[{recNum}组定义]</span>
				<span class="btn ml10"></span>
				</div>
				<p class="fc_grey">所谓数值关联关系指问卷内问题变量之间的数值逻辑运算的依赖关系，基于数值变量或可转换为数值变量的分类变量之间建立&nbsp;<a onmouseover="this.T_WIDTH=500;this.T_PADDING=0;this.T_BGCOLOR='#ffffff'; return escape('&nbsp;举例：第6题的回复数值和第8题的回复数值之和不少于第10题的回复数值<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;或者第11题的回复数值减去第12题的回复数值要等于100<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;或者第15题的回复数值要小于等于第16题的回复数值<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;等等...')" href="javascript:void(0);"><font color=red><b>[帮助]</font></a></b></p>
			</div>
			<div class="content_main" style="font-size:12px;margin-bottom:5px;margin-top:8px;"><input class=inputsubmit name="createNew" type="button" id="createNew" value="新增定义" onclick="javascript:showPopWin('{newRelationURL}', 800, 470, refreshParent, null,'新增数值关联定义')"></div>
			<div class="content_main" style="margin-top:10px">
  			 <table class="d_table">
			   <tr class=coltitle>
					  <th width=2% noWrap align=center>ID</th>
					  <th width=85% noWrap align=left>&nbsp;<B>数值及运算关系</B></th>
					  <th width=6% noWrap align=center><b>作用域</b> </th>
					  <th width=7% noWrap align=center><b>操 作</b> </th>
			   </tr>
			   <!-- BEGIN REL0 -->
			   <tr height=25> 
				  <td width=2% align=center nowrap>&nbsp;{relationID}</td>
				  <td>&nbsp;<b>{relationList}</b></td>
				  <td noWrap align=center><b>{relationDefine}</b></td>
				  <td noWrap align=center>
					   <A href="javascript:void(0);" onclick="javascript:showPopWin('{editURL}', 800, 470, refreshParent, null,'修改数值关联定义')">修改</A>&nbsp;
					   <A href="{deleteURL}" onclick="return window.confirm('您真的想删除该条数值关联定义吗？本操作不可恢复！')">删除</A>
				  </td>
			   </tr>
			   <tr>
				 <td colspan=4 align=left bgcolor="#f5fafe" height=25 style="line-height:25px">{conList}</td>
			   </tr>
			   <!-- END REL0 -->
			</table>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->

	<link href="../CSS/Notifier.css" type=text/css rel=stylesheet>
	<script type="text/javascript" src="../JS/Jquery.notifier.min.js.php"></script>
	<script>
		  var mOptions = {};
		  mOptions.lifeTime = 0;
		  if( {recHaveNum} == 0 )
		  {
			  $.jnotify('数值关联举例', '举例：第6题的回复数值和第8题的回复数值之和不少于第10题的回复数值', '../Images/admin.png', mOptions);
			  $.jnotify('建立数值关联关系', '您可以建立这样的数值关联关系：运算符为大于等于，运算结果为第10题的回复值，运算条件为第6题加第8题', '../Images/admin.png', mOptions);
			  $.jnotify('更多提示信息', '数值关联关系仅能在数值开放问题之间建立，鼠标移向界面上部红色字体的<font color=red>[帮助]</font>得到更详细提示', '../Images/admin.png', mOptions);
		  }
	</script>
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
	<script language=javascript src="../JS/Example.js.php"></script>
	<script type="text/javascript" src="../JS/Position.js.php"></script>
</body></html>