<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>系统黑白名单 - Eclear在线问卷调查引擎</title>
<link rel="shortcut icon" href="../Images/enableq.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../CSS/UIBase.css" />
<link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
<link href="../CSS/Window.css" type="text/css" rel=stylesheet>
<script type="text/javascript" src="../JS/Common.js.php"></script>
<script type="text/javascript" src="../JS/Window.js.php"></script>
<script type="text/javascript" src="../JS/Jquery.min.js.php"></script>
<script language="javascript"> 
function checkall(form) 
{
	if( form.all.checked)
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			e.checked = true;
		}
	}
	else
	{
		for(var i = 0;i < form.elements.length-1; i++) 
		{
			var e = form.elements[i];
			e.checked = false;
		}
    }
}
function refreshParent() {
   self.location.reload();
}
</script>
</head>

<body oncontextmenu="return false">
 	<div class="header">
		<h1 class="logo">Eclear</h1>
		<div class="sidebar_show"></div>
		<div class="header_menu">
			<div class="header_m_1">
				<a href="../System/ShowMain.php">欢迎您，<font color="#e45857" id="nick_Name_cont"></font></a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../System/MyProfile.php">我的账户信息</a></li>
					<li class="last"><a href="../System/ChangePass.php">修改我的密码</a></li>
				</ul>
			</div>
			<div class="header_m_6" style="margin-left:50px">
				<a href="../System/ShowMain.php">首页</a>
			</div>
			<div class="header_m_2" id="mySetting">
			</div>
			<div class="header_m_3" style="margin-left:50px">
				<a href="../Help/Downs.php">帮助</a>
				<span class="head_menu_icon"></span>
				<ul class="head_menu_list">
					<span class="head_menu_top"></span>
					<li><a href="../Help/Downs.php">帮助文件下载</a></li>
					<li><a href="http://doc.itenable.com.cn" target=_blank>在线帮助文档</a></li>
					<li><a href="http://i.enableq.com" target=_blank>在线讨论社区</a></li>
					<li class="last"><a href="../System/AdministratorsLogs.php">系统操作日志</a></li>
				</ul>
			</div>
			<div class="header_m_4" style="margin-left:50px">
				<a href="javascript:void(0);" onclick="javascript:showPopWin('../License/AboutEnableQ.php', 500, 400, null, null,'关于...')">关于</a>
			</div>
			<div class="header_m_5">
				<a href="../System/Logout.php?loginOutURL=../index.php" target=_top>退出</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../JS/MySetting.js.php"></script>

	<div class="container clearfix">
		<div class="sider_bar">
			<div class="sider_menu">
				<a class="sider_menu_title cur" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_1')">系统基础设置</a>
				<ul class="sider_menu_list" id="sider_menu_list_1">
					<li><a href="../System/BaseSetting.php">系统基本设置</a></li>
					<li><a href="../System/MgtIpAllow.php">系统登录允许</a></li>
					<li><a href="../System/MgtIpLock.php" class="sel">系统黑白名单</a></li>
					<li><a href="../System/MgtIpTable.php">维护IP对应表</a></li>
				</ul>
			</div>
			<div class="sider_menu">
				<a class="sider_menu_title" href="javascript:void(0);" onclick="menuToggle('sider_menu_list_2')">辅助系统管理</a>
				<ul class="sider_menu_list" id="sider_menu_list_2">
					<li><a class="window-700-450" title="系统运行信息" href="../System/SystemInfo.php">系统运行检测</a></li>
					<li><a class="window-700-280" title="安全通信标识" href="../License/SecurityFlag.php">安全通信标识</a></li>
					<li><a class="window-700-450" title="软件版本历史" href="../ReleaseNotes/Release.txt">系统版本历史</a></li>
					<li><a class="window-700-300" title="检查最新版本" href="../ReleaseNotes/CheckNewVersion.php">检查最新版本</a></li>
					<li><a class="window-700-300" title="软件许可文件" href="../License/License.php">软件许可文件</a></li>
				</ul>
			</div>
		</div>
		
		<div class="main">
		    <div class="nav">
				<a href="../System/MgtIpLock.php">IP地址黑名单</a>
				<a href="../System/MgtIpWhite.php" class="cur">IP地址白名单</a>
			</div>
			

		   <div class="content">
			<div class="content_tit">
				<div class="clearfix">
				<h1>IP地址白名单</h1>
				<span class="total ml10">[{recNum}记录]</span>
				<span class="btn ml10"><input class=inputsubmit name="createNew" type="button" id="createNew" value="新增" onclick="javascript:showPopWin('MgtIpWhite.php?Action=Add', 700, 200, refreshParent, null,'新增IP地址白名单')">&nbsp;</span>
				</div>
				<p class="fc_grey">列出系统的IP地址白名单列表，列出的IP地址来源即便在黑名单列表内亦能登录系统</p>
			</div>
			<div class="content_main" style="margin-top:10px">
			<form name="Check_Form" id="Check_Form" method="post" action="">
  			 <table class="d_table">
				 <tr class=coltitle> 
					<th  width=3% noWrap align=center><input name="all" type="checkbox" id="all" value="all" onclick="checkall(this.form)" style="BACKGROUND-COLOR:#f9f9f9"></th>
					<th width="*" align=left>&nbsp;<b>IP地址</b></th>
					<th width=8% align="center"><b>操作</b></th>
				 </tr>
				 <!-- BEGIN LOGS -->
				 <tr> 
					<td  width=3% noWrap align=center><input name="ID[]" type="checkbox" id="ID[]" value="{ID}"></td>
					<td width=*>&nbsp;{ip}</td>
					<td align=center width=8% nowrap><A href="{deleteURL}" onclick="return window.confirm('您真的想删除该记录吗？本操作不可恢复！')">删除</A></td>
				 </tr>
				 <!-- END LOGS -->   
				 <table width=99%>
				  <tr> 
					  <td width=3% style="border:0px;"></td>
					  <td style="border:0px;" colspan=2><input class=inputsubmit name="DeleteSubmit" type="submit" id="DeleteSubmit" value="删除记录" onclick="return window.confirm('您真的想删除这些记录吗？本操作不可恢复！')"></td>
				  </tr>
			   </table>
			  </form>
			 <div class="pages">{pagesList}</div>
			</div><!--end of content_main-->
		   </div><!--end of content-->
	   </div><!--end of main-->
    </div><!--end of container-->
	<!--popmenu -->
	<script type="text/javascript" src="../JS/PopMenu.js.php"></script>
</body></html>
