html {
	font-size: 100px;
}

body {
	font-size: 16px;
	background: #efefef;
}

li {
	list-style: none;
}

.pro-header {
	box-shadow: none;
	background: #063875;
	height: 1.28rem;
	padding: 0 .25rem;
}

#pro-back {
	color: #fff;
	margin: .4rem 0 0;
	padding: 0;
	font-size: .3rem;
	line-height: .88rem;
}

#pro-title {
	color: #fff;
	margin: .4rem 0 0;
	font-size: .34rem;
	padding: 0;
	line-height: .88rem;
}

.mui-focusin>.mui-bar-nav {
	position: fixed;
}

.search-task {
	width: 100%;
	position: fixed;
	height: .96rem;
	padding: 0 .25rem;
	line-height: .96rem;
	border-bottom: 1px solid #e1e1e1;
	top: 1.28rem;
	z-index: 100;
	background: #fff;
}

.header-text {
	color: #666;
	font-size: .26rem;
	margin: 0;
	display: inline-block;
	float: left;
}

.header-text .i-text {
	font-size: .26rem;
	font-weight: bold;
}

#index-title {
	color: #fff;
	font-size: .34rem;
	float: left;
	clear: right;
}

#index-title input {
	width: 4.7rem;
	height: .58rem;
	margin-left: .45rem;
	background: #fff;
	border-radius: .5rem;
	color: #666;
	border: 1px solid #ddd;
	margin-bottom: 0;
	font-size: .32rem;
}

.mui-search .mui-placeholder {
	font-size: .22rem;
	line-height: .96rem;
	color: #666;
}

.mui-search .mui-placeholder .mui-icon {
	font-size: .28rem;
}

div#index-title.mui-input-row.mui-search.mui-search.mui-active::before {
	display: none;
}

#index-near {
	display: block;
	float: right;
	text-align: center;
	color: #666;
	line-height: .3rem;
	padding-top: .2rem;
}

#index-icon {
	padding: 0;
	margin: 0;
	font-size: .32rem;
}

#index-near span {
	font-size: .21rem;
}

.tab-task {
	position: fixed;
	height: .94rem;
	background: #f5f5f5;
	border-bottom: 1px solid #dfdfdf;
	top: 2.24rem;
	width: 100%;
	z-index: 15;
}

.tab-task .tab-task-ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: inherit;
	line-height: .94rem;
}

.tab-task .tab-task-ul>li {
	list-style: none;
	width: 25%;
	float: left;
	text-align: center;
	color: #333;
}

.tab-task .tab-task-ul>li a {
	display: block;
	width: 100%;
	text-align: center;
	color: #333;
}

#pro-content {
	padding-top: 1.28rem;
}

.mui-control-content {
	height: 13.4rem;
	background-color: white;
	min-height: 2.15rem;
}

.mui-control-content .mui-loading {
	margin-top: .5rem;
}

.mui-col-xs-4 {
	width: 50%;
	position: fixed;
	z-index: 12;
	top: 4.9rem;
}

.mui-bar~.mui-pull-top-tips {
	top: .24rem;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 12;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}

.mui-slider-group {
	height: 100%;
}

.mui-table-view-cell {
	height: 3rem;
	padding: 0rem .24rem 0;
}

#sliderSegmentedControl .mui-control-item {
	height: 1rem;
	line-height: 1rem;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #063875;
	border-color: #063875;
}

.mui-slider-indicator.mui-segmented-control {
	position: fixed;
	z-index: 12;
	border-bottom: 1px solid #ddd;
}

.mui-table-view {
	margin-top: 1.9rem;
}

#sliderSegmentedControl a {
	font-size: .28rem;
}

.mui-slider-indicator.mui-segmented-control {
	background: #fff;
}

.list-img {
	width: 2.22rem;
	height: 1.48rem;
	max-width: 2.22rem;
	float: left;
	margin-right: .2rem;
}

.list-title {
	font-size: .3rem;
	margin: 0;
	height: .9rem;
	line-height: .9rem;
}

.list-title i,
.list-title span {
	float: right;
	color: #063875;
	font-size: .23rem;
	line-height: .9rem;
}

.list-title span {
	margin-left: .11rem;
}

.mui-table-view-cell:after {
	left: 0;
}

.mui-table-view .list-li {
	padding: 0 .25rem;
}

.list-li .p-list {
	font-size: .24rem;
	line-height: .4rem;
	letter-spacing: .03rem;
	color: #666;
}

.list-li .p-list1 {
	font-size: .3rem;
	font-weight: bold;
	color: #000;
	letter-spacing: .05rem;
	line-height: 1.2;
}

.mui-slider .mui-slider-group {
	margin-top: -1px;
}

.income-over {
	clear: both;
	height: .9rem;
	margin-top: .5rem;
	font-size: .3rem;
	color: #999;
	padding-top: .3rem;
	border-top: 1px solid #eee;
}

.mui-control-content .mui-loading {
	margin-top: 1.1rem;
}

.p-list2 {
	float: left;
	letter-spacing: .03rem;
	font-size: .2rem;
	color: #999;
}

.p-list2 span,
.p-list3 span {
	color: #063875;
}

.p-list3 {
	letter-spacing: .03rem;
	float: right;
	color: #999;
	font-size: .22rem;
}

.mui-table-view-cell {
	overflow: inherit;
	border: none;
	padding: 0;
}

.list-down {
	height: .94rem;
	background: #fff;
}

.list-down a {
	font-size: .26rem;
}

.mui-table-view-cell>a:not(.mui-btn) {
	margin: 0;
	padding: 0;
}

.mui-table-view-cell.mui-collapse.mui-active {
	background: #fff;
	margin: 0;
}

.mui-navigate-right:after,
.mui-push-right:after {
	right: .2rem;
	color: #333;
}

.mui-collapse-content {
	width: 7.5rem;
	position: absolute;
	left: 0;
	background: #fff;
	z-index: 11;
}

.list-down.mui-active {
	color: #063875;
}

.mui-push-right.mui-active:after {
	color: #f00;
}

.mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after,
.mui-table-view-cell.mui-collapse.mui-active>.mui-push-right:after {
	color: #063875;
}

.list-up p {
	margin: 0;
	padding: 0;
	margin-top: .02rem;
	text-align: left;
	padding-left: .3rem;
	border-bottom: 1px solid #e1e1e1;
	line-height: .8rem;
	font-size: .26rem;
}

.list-up p:hover {
	border-left: .06rem solid #063875;
	color: #063875;
}

.mui-table-view-cell.mui-collapse.list-down .list-up {
	margin: 0;
	padding: 0;
	background: #f5f5f5;
}

.mui-table-view-cell.mui-collapse .mui-collapse-content.list-up4 {
	width: 7.5rem;
	position: absolute;
	left: -5.64rem;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
}

.mui-table-view-cell:last-child:after {
	height: 1px;
}

.up4-one,
.up4-two {
	width: 100%;
	height: 2.35rem;
	border-bottom: 1px solid #ddd;
}

.up4-two {
	height: auto;
}

.up4-one-left,
.up4-two-left {
	width: 3.2rem;
	float: left;
	font-size: .26rem;
	color: #333;
}

.up4-one-right,
.up4-two-right {
	float: left;
	width: 4.3rem;
	border-left: 1px solid #ddd;
	margin: 0;
	padding: 0 0 0 .3rem;
}

.up4-one-right li,
.up4-two-right li {
	font-size: .26rem;
	color: #333;
	height: .78rem;
	line-height: .78rem;
	text-align: left;
}

.up4-one-right li:hover,
.up4-two-right li:hover {
	color: #063875;
}

.mui-backdrop {
	z-index: 10;
}

.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
	font-size: .4rem;
	position: absolute;
	z-index: 1;
	top: .3rem;
	right: .1rem;
	width: .76rem;
	height: .76rem;
	text-align: center;
	color: #999;
}
.mui-input-row.mui-search .mui-icon-clear{
	top: .3rem;
}
